[2020-06-30 15:13] ashicus commented on #1119
@kidunot89 I retested on several different sites, and I am only able to recreate it on the site that I was using when I first reported the issue.

On this site, even if I disable all other plugins and switch to the TwentyTwenty theme, it still happens both locally and on a remote server. The only thing that's "different" about this site is that it's running on the [roots.io](roots.io) stack (Bedro

[2020-06-30 22:11] kopepasah commented on #1056
I am starting review of this today and will carve out some time to investigate/fix this week.

[2020-07-01 12:14] kasparsd opened #1122 "Support for Advanced Custom Fields (ACF) version 5"
the Stream plugin crashes as the mysql escape function from WP_DB gets incorrect parameters passed.

https://wordpress.org/support/topic/error-crash-when-updating-acf-repeater-field/

[2020-07-01 12:15] kasparsd commented on #1122
@kidunot89 Would #1118 fix this too?

[2020-07-01 16:49] kidunot89 commented on #1122
@kasparsd No, I wasn't even aware of this issue, but it does coincide with the purpose for the PR so I'll patch it in that PR.

[2020-07-06 17:51] kasparsd commented on #1085
Yeah, let's close this out as there is a way to "manage custom messages to handle post-status changes" per the original request using the filter example that @kopepasah provided, and create a new issue for the feature request -- the post status change log sounds like a great feature!

@kopepasah Do you agree? If so, could you please create a new ticket for that?

[2020-07-06 18:00] kasparsd commented on #1073
@kopepasah The `pre-install` hook only fires on the root package so adding a `pre-install` hook won't do anything when this plugin is added as a dependency.

Overall, I think this is a low priority issue since most users can use the WPackagist repository https://wpackagist.org/search?q=stream to install the plugin with all assets built and prepared.

[2020-07-06 18:10] kopepasah commented on #1073
@kasparsd I was referring to the `pre-install` event from Composer, not the `pre-install` scripts in the `composer.json` config (hence the need for a Composer Plugin).

[2020-07-06 18:21] kasparsd commented on #1073
Would that require all users to adding that custom Composer plugin as a dependency? Are there examples of other projects using this or a similar approach?

[2020-07-06 19:15] kopepasah commented on #1073
Yes, it would require the installation of a separate package, much like requiring `composer/installers` when working with Packagist.

[2020-07-07 11:17] kasparsd opened #1129 "Send code coverage reports to Code Climate"
Code Climate page for this plugin https://codeclimate.com/github/xwp/stream

Send phpunit coverage per instructions here https://docs.codeclimate.com/docs/configuring-test-coverage

[2020-07-07 16:07] kopepasah commented on #760
@kasparsd @derekherman while I do like the idea of this issue, I feel it may not be the right focus for Stream. I feel setting a "voice" for the plugin would be a fun idea, it could make translations more complicated and overall may set the tone of the plugin to be too "look at me".

IMO, Stream should be as silent as possible and only display relevant information when a user needs it. Thoughts?

[2020-07-07 16:10] kopepasah commented on #785
@kasparsd @derekherman while we do have connectors supporting many plugins, what is the process for adding a plugin for a particular connector? Obviously we cannot add a connector for every plugin, so some clarification on which plugins we want to natively support could clear up discussion on supporting other third-party plugins.

[2020-07-07 16:11] kopepasah commented on #818
@kasparsd the referenced wiki page in this pull request does not exist. I think this can be closed.

[2020-07-07 16:14] kopepasah commented on #819
@kasparsd I feel this could better be served by an example plugin repo or template repo for creating connectors. Thoughts?

[2020-07-07 16:21] kopepasah commented on #821
@kasparsd I feel there is some merit to this functionality, but also recognize it could be easily abused. While adding a "quick log" would prove useful in some contexts, the ability to log to the Stream table with a simple filter seems like a risky idea.

IMO, if a plugin wants to include some logging system for Stream, extending the connectors it the correct way to do so. What do you think?

[2020-07-07 16:25] kopepasah commented on #825
@kasparsd while I do agree that adding REST API endpoints has true merit, I feel it is a much larger lift than just adding endpoints. With the ability to build with React, it would be much more beneficial to build out a new version of Stream, which exposes endpoints, and rebuild the UI in React.

In short, add REST API endpoints, but as a bigger picture project with the idea of reworking the UI of

[2020-07-07 16:30] kopepasah commented on #861
@kasparsd I think this falls under the same question regarding plugin support posed in #785. Personally, I do not feel the need to support the WordPress importer, as it is typically run a limited set of times (most likely once) and then not utilized.

What are your thoughts on this feature request?

[2020-07-07 16:32] kasparsd commented on #861
@kopepasah I don't have an opinion on this :) Like you said -- this seems like a very specific use-case so I would consider this a very low priority.

[2020-07-07 16:43] kasparsd commented on #760
@kopepasah I share you view on this. Stream is a utility plugin with a professional and serious purpose. I feel like neutral and professional voice serves this purpose well.

I think we can probably close this as there are no clear action steps for how to "solve" this, at least right now.

[2020-07-07 16:43] #760 closed

[2020-07-07 16:44] #818 closed

[2020-07-07 16:45] jwold commented on #760
I'm good with closing this. Thanks!

[2020-07-07 16:49] kasparsd commented on #1119
@ashicus Could you please confirm the server/PHP timezone and the WP timezone of the site where you're seeing this? I wasn't able to replicate this on the site I have Stream installed.

[2020-07-07 16:58] kasparsd commented on #1093
@kidunot89 Would you like to keep this issue open until we're reached a certain test coverage range? Or can we close it in favour of individual tickets for specific parts of code?

[2020-07-07 17:05] #985 closed

[2020-07-07 17:05] kopepasah commented on #894
Stream now includes a `composer.json` and is published to packagist.org; however, there is an issue with how Packagist handles the download of the file, which does not include the built dependencies. Unless we can come up with a solution in #1073, likely the best method of installing using Composer is to add information that Composer understands to install Stream via a zip:

[code]

[2020-07-07 17:05] #894 closed

[2020-07-07 17:09] kopepasah commented on #895
Thanks for the additional detail and follow up, @alicam. I am going to close this issue as it seems to have been resolved by your work around. Please feel free to open another issue if the bulk-creation problem persists.

[2020-07-07 17:09] #895 closed

[2020-07-07 17:10] #948 closed

[2020-07-07 17:15] kopepasah commented on #903
Thanks for the feedback @emmtre. WordPress screen options would be the way to control the columns in the list table.

![screen-options](https://user-images.githubusercontent.com/911283/86818082-87b3a900-c04b-11ea-8cd0-c41489a66baf.gif)

[2020-07-07 17:15] #903 closed

[2020-07-07 18:30] kopepasah commented on #922
@tillkruss without access to the AccessAlly plugin or service, it is difficult to troubleshoot this issue. However, the log is likely due to an update from some background service within AccessAlly. You can see within the logs that each profile update is within seconds of each other (which screams 🤖), and while this is not a problem in itself, it does mean the logs will be bloated with every profi

[2020-07-07 18:46] kopepasah opened #1131 "Defining Requirements for Third-Party Connector Support in Stream Core"
Stream already (partially) supports several third-party connectors, but as we progress with work it is apparent that supporting third party connectors in Stream core may not be the best path for ensuring core development of Stream remains flowing smoothly (pun intended 😉).

Currently there are several requests to support other third-party plugins, as well as bugs for the third-party plugins that S

[2020-07-07 18:52] kopepasah commented on #1131
Personally, I think all third-party plugin support should exist in a separate plugin that integrates with Stream. While it would be best if each third-party plugin developer would merge code to support stream, it is not likely to easily get traction to merge changes to support a plugin that may or may not be installed (which is what Stream does).

A better path may be to pull out third-party conne

[2020-07-07 18:59] tillkruss commented on #922
We moved away to Jetpacks activity logs.

[2020-07-07 18:59] #922 closed

[2020-07-07 19:01] kopepasah opened #1132 "Log 'post status' change when it is updated."
# Feature Request

When a user (or bot) changes the status of a post (e.g. transitioning from Draft to Scheduled to Published), the current messaging only states that the post was updated. It would be more beneficial if the log message included the status (when that status has changed) so that the information is more relevant to the action performed.

See #1085 for the original request and how to

[2020-07-07 19:02] kopepasah commented on #1085
@kasparsd yeah, I totally agree that the post log information should include the post status to which it was changed. I've created a new feature request for this: #1132 and closing out this task.

[2020-07-07 19:02] #1085 closed

[2020-07-07 19:15] kasparsd commented on #1073
@kopepasah Just found this Composer plugin which seems to be doing something similar to what you were suggesting (if I'm understanding correctly) https://github.com/openeuropa/composer-artifacts

[2020-07-07 19:29] kopepasah commented on #1056
@kasparsd did you do any research into how the cron schedules run for deleting the logs. WordPress Cron is notorious for missing events without a dedicated native cron to trigger WordPress Cron. I have a suspicion this may be related to these records not being removed and posted a question in the WordPress support forum topic related to this issue.

[2020-07-07 19:33] kopepasah commented on #1073
Oh, yes. Great discovery. I am not 100% sure if we can add that information to the "extras" section of this package or users have to add it to their package, but it is definitely worth a try.

Assigning to myself to give it a go. 👨🏻‍💻

[2020-07-07 23:29] kopepasah commented on #1073
@kasparsd after some initial testing today, I can confirm this works as advertised. The only caveat is the Composer JSON is required to be added to the project package (not the packages of the project). Very similar idea to what I had, but done (probably) a cleaner way.

My recommendation is we add some documentation of how to install this plugin with Composer (either with WP Packagist or using th

[2020-07-08 07:41] kasparsd commented on #1073
That's a good idea. I feel like WPackagist.org is a great solution for adding this plugin to any WP project and it would be nice to document it in the readme somewhere.

The original issue is that we have this plugin listed on https://packagist.org/packages/xwp/stream and it would be nice to have it in a working state there, too.

[2020-07-08 07:54] kasparsd commented on #1056
@kopepasah The method used for deleting the older logs is defined here:

https://github.com/xwp/stream/blob/d465e3534d6f3f8fed4ee656a15412592355bfbd/classes/class-admin.php#L735-L779

Notice that it has several conditionals which can stop the deletion from happening. I haven't verified if all of them work as expected.

The `wp_stream_auto_purge` action is scheduled here to run twice per day:

http

[2020-07-08 17:37] kopepasah opened #1133 "Add Documentation for installing Stream with Composer"
# Documentation Request

In an effort to automate installation of this plugin for projects, we rely on Composer to register the package and serve it through Composer's package managers. Since there are several ways to do perform these installations, it would benefit the project if we document those methods, also suggesting which methods make the most sense in different scenarios.

[2020-07-08 17:39] kopepasah commented on #1073
@kasparsd I added an issue for adding documentation: #1133. As for the issue with Packagist, I think that will be solved in #1074, correct?

[2020-07-08 18:28] #1073 closed

[2020-07-09 15:55] kasparsd opened #1135 "Add .htaccess for the local WP development environment"
In #1124 we started using our own set of WP core files pulled in via Composer instead of the ones created by the WP container. Previously the WP container was responsible for creating the `.htaccess` file but now we have to do it.

[2020-07-09 16:31] #1135 closed

[2020-07-10 20:11] suderman opened #1140 "Stream Records dates are 2052 years ago with zeroed 'created' fields in database"
# Bug Report

The dates all display as:

[code]

And also, in the database, the created field in wp_stream are all zeroes.

## Screenshots

![IMG_3659](https://user-images.githubusercontent.com/12491/87193500-1166af00-c2b6-11ea-992a-99154196b2ef.jpeg)

![IMG_3660](https://user-images.githubusercontent.com/12491/87196123-1ed06900-c2b7-11ea-86b7-7ea855d0f62e.jpeg)

Drag and drop screenshots in this

[2020-07-20 17:17] ashicus commented on #1119
@kasparsd Apologies for the slow response.

I played around with the timezones and I might have a lead.

On the site I'm testing with, the server time is UTC, and WP is set to New York (UTC-4). But even though it's still "today" in both of those timezones, log entries don't show up in the list when I select the "Today" filter. If I switch WP to UTC, it fixes the issue. Interestingly, I get the sam

[2020-07-21 20:49] kopepasah opened #1146 "Stop Excluding Tests from Coding Standards"
# Feature Request

Currently, tests are excluded from the coding standards check: https://github.com/xwp/stream/blob/develop/phpcs.xml.dist#L25

As more tests are being written, we either should not exclude these from this check or create a check to ensure standards are followed in tests as well.

[2020-07-21 20:51] kopepasah commented on #1146
Specifically relates to #1118, in regards to shorthand vs long form array syntax: https://github.com/xwp/stream/pull/1118#discussion_r458374497

[2020-07-23 06:44] tyrann0us opened #1147 "Plugin conflict with WooCommerce Subscriptions and `woocommerce_available_payment_gateways` filter"
# Bug Report

If the following plugins are active: Stream, WooCommerce and WooCommerce Subscriptions (https://woocommerce.com/products/woocommerce-subscriptions/) and a callback for the `woocommerce_available_payment_gateways` filter hook uses `\WC_Cart->get_cart()`, a PHP notice is triggered.

## Expected Behavior
No PHP notice(s) should be triggered.

## Actual Behavior

A PHP notice is triggere

[2020-07-23 18:10] kasparsd commented on #1091
This is still happening per reports here https://wordpress.org/support/topic/incorrect-date-and-time/ so I'm reopening the issue.

[2020-07-24 15:47] strarsis commented on #1122
Has this been fixed now? I want to re-enable stream on that site but I don'T want to trigger these ACF related errors again.

[2020-07-25 12:22] tyrann0us commented on #1147
@kasparsd, any change you take a look at this? Thanks!

[2020-07-27 09:24] kasparsd commented on #1140
Thank you for opening the issue @suderman! This appears to be the same issue as #1091 so I'll close this for now. Please do let us know if you think this should be a separate issue.

[2020-07-28 14:09] #1091 closed

[2020-07-28 15:52] kidunot89 commented on #991
[Fixed](wp_stream_get_iso_8601_extended_date)

[2020-07-28 15:52] #991 closed

[2020-07-28 15:52] #1140 closed

[2020-07-28 16:24] #1014 closed

[2020-07-28 16:36] kidunot89 commented on #1000
@jeremybyingtonbrightonagency I did some investigating and add there is no logic for forcing the use of lowercase character in the table prefix in either the Stream or WordPress logic. I believe that your server configuration is forcing the case of you prefix.

[2020-07-28 16:49] kidunot89 commented on #989
@lkraav Actually, this is kinda tricky currently due to the fact that the `wp_mail()` only executes one action during a successfully send-off. If it's possible to get the necessary data off the `PHPMailer` object, given to that action, to create a meaningful log passed , then yes. It can be done.

[2020-07-28 16:51] kidunot89 commented on #981
@scottbuscemi A lot of the functionality surrounding export file in EDD has changed, so restoring support will be tricky.

[2020-07-28 16:53] scottbuscemi commented on #981
Curious if EDD 3.0 will make this easier :)

[2020-07-28 17:02] kidunot89 commented on #1131
@kopepasah This same dilemma has been bothering me as well, and I've come to a similar conclusion and solution as yourself, with one some exception. I don't like the idea of splitting them into their own individual repositories like _stream-acf, stream-woocommerce_, because there isn't a lot of logic in one connector. I think one repository for them all like _stream-integrated-connectors, stream-3

[2020-07-29 10:57] lkraav commented on #991
:+1:

Is "Fixed" link above supposed to link somewhere other than an empty search result?

[2020-07-30 19:25] kopepasah commented on #989
At its core, Stream provides the ability to know when something changes and/or goes wrong, allowing for easier debugging. I personally do not feel that logging all emails is fit for the scope of this plugin, but could see the need to log when an email failed to send (because that is a problem).

[2020-07-31 01:50] gagan0123 commented on #1091
Thanks guys, the recent patch works perfectly. Tested with a few of the sites I manage on different servers. Awaiting updated version to show up, to update on all sites.

I was wondering, why a new function was written to provide the date(as in previous resolution), when one already exists and works perfectly in WordPress itself. In coding LESS = MORE.

[2020-07-31 10:06] lkraav commented on #989
:man_shrugging: Wrt to logging whatever info, I feel like when you have 80% of necessary infrastructure already in place, it sort of qualifies for logging whatever info.

In this case it depends more on measuring customer interest, and if it's not there at core level, it certainly might make more sense to roll this out as a separate connector plugin.

At the end of the day, the less big plugins si

[2020-08-03 23:40] kopepasah commented on #1146
Just adding a note here that I am currently working through adding this functionality, including ensuring current tests meet standards.

[2020-08-06 08:12] codepuncher commented on #1056
@kasparsd I have done some testing and I can see that the plugin options are empty on my environments.
https://github.com/xwp/stream/blob/d465e3534d6f3f8fed4ee656a15412592355bfbd/classes/class-admin.php#L752
This is an empty array as the `wp_stream` option is not saved to the database.

After changing the values in the plugin settings and saving multiple times, it does update them and I can then r

[2020-08-14 12:28] kasparsd opened #1157 "Release tagging fails on tags"
The release script fails to commit a tagged release because it checks out a branch with the exact same name during the process. This causes the `git push` to find two references of the same name:

from https://travis-ci.com/github/xwp/stream/jobs/372078948#L474

[2020-08-14 12:46] #1122 closed

[2020-08-14 15:34] kidunot89 commented on #1093
@kasparsd Let's leave this open until Code coverage is at an acceptable level. I also want to discuss what to do about parts of the code where simulation isn't really an option, like WP core update logging functionality.

[2020-08-14 18:30] kasparsd commented on #1093
Looks like this keeps getting closed because of the `Fixes #....` references in the pull requests @kidunot89 :)

[2020-08-14 18:53] kidunot89 commented on #1093
:man_facepalming:

[2020-08-24 19:02] kasparsd opened #1161 "jQuery Migrate compatibility WP 5.5+"
See https://wordpress.org/support/topic/wordpress-5-5-and-js-issue/

[2020-08-27 13:24] kidunot89 commented on #907
@rmccue The code doesn't assume that there is a parent. You see if by default `post_parent` is `0` and when passed to `get_post( 0 )` like so it return false. This is all summed up by the ternary operation on the following line. `$parent_id ? $parent->post_title : null;`

[2020-08-27 13:40] kasparsd commented on #1161
@kidunot89 Could you please look into this?

[2020-08-27 14:06] rmccue commented on #907
@kidunot89 This is for the case where the attachment has a parent ID set, but the parent post does not exist. `get_post( 42 )` can return `null` if the post by that ID does not exist, which causes `$parent->post_title` to cause a fatal error. We've seen this occur in production and crash sites.

(Sidenote: `get_post( 0 )` does *not* return false, instead it uses the globally-set `$post` variable i

[2020-08-27 14:13] kidunot89 commented on #907
🤦🏾‍♂️ my bad, I didn't know. I'll open a PR today.

[2020-08-27 14:23] rmccue commented on #907
No worries, and thanks :)

[2020-08-27 20:46] kidunot89 commented on #907
@rmccue I implemented the patch in an already open PR :point_right: #1154

[2020-08-30 10:31] #1161 closed

[2020-09-02 04:13] ParhamG opened #1169 "Excessive DB queries in admin"
It seems like running `setup_storage()`/`verify_db()` on every requests in admin dashboard is excessive? It is causing the following two DB queries to run on _every requests_ in admin dashboard:

[code]
## System Information

- Stream plugin version: 3.5.1
- WordPress version: 5.5.1
- PHP version: 7.4

[2020-09-04 17:56] kidunot89 commented on #1169
@kasparsd How do you think this should be address this? I don't believe this functionality is vital to the plugin, so simply removing this [function](https://github.com/xwp/stream/blob/develop/classes/class-install.php#L140-L219) should be fine.

[2020-09-04 19:15] lkraav commented on #1169
Yeah, it seems like that function should only run on plugin activation hook?

[2020-09-07 15:53] kidunot89 commented on #1169
@lkraav I don't think that's necessary since the activation hook is where the database is [setup](https://github.com/xwp/stream/blob/develop/classes/class-install.php#L80) and error handling already existed in the case of a [database failure](https://github.com/xwp/stream/blob/develop/classes/class-install.php#L132-L135).

[2020-09-11 14:07] kidunot89 commented on #991
@lkraav My bad it wasn't suppose to be a link :sweat_smile:

[2020-09-11 14:10] kidunot89 commented on #1122
@strarsis It should be resolved. Feel free to post here is the issue still persists and I'll reopen this.

[2020-09-15 10:25] strarsis opened #1173 "Logstash/filebeat support?"
# Feature Request
It would be great if the log records generated by stream could be send to Logstash.
As the log records are stored in database, filebeat can't be used for streaming the log to a Logstash/Elasticsearch server.

[2020-09-17 18:22] kidunot89 commented on #946
@aeromusek Can we confirm that this is still an issue?

[2020-09-18 09:43] johnbillion opened #1174 "After resetting the database on Multisite, redirect points to the main site"
# Bug Report

## Expected Behavior

After clicking the "Reset Stream Database" button on a Multisite installation, the user's browser gets redirected back to the same screen.

## Actual Behavior

The user's browser gets redirected to the Stream settings screen for the main site instead of the network admin.

## Steps to Reproduce the Problem

1. Visit Network Admin -> Stream -> Network Settings
2.

[2020-09-18 10:17] johnbillion opened #1175 "Site deletion isn't logged"
# Bug Report

## Expected Behavior

When a site gets deleted from a Multisite network, the actual site deletion isn't logged in Stream. Several related records are logged instead.

## Actual Behavior

When a site gets deleted, Stream logs a record for every user who gets removed from the site, and logs a record that the "Blog Count" setting was updated, but there's no record of the site being dele

[2020-09-18 11:02] johnbillion commented on #910
This is most likely caused by Gravity Forms, which aggressively dequeues other JS and CSS assets on its admin screens because it thinks it's special. https://github.com/johnbillion/query-monitor/issues/325

[2020-09-23 13:33] dero opened #1176 "Stream doesn't detect programmatically created posts correctly"
# Bug Report

The Posts connector uses the `transition_post_status` hook to detect posts being updated and created. It only considers the post being created [when it transitions from `auto-draft` to anything else](https://github.com/xwp/stream/blob/b540f51a530f82e2586d7b16180fd5024bc5b826/connectors/class-connector-posts.php#L258-L260).

This is likely enough to capture posts being created in Word

[2020-09-23 15:20] kidunot89 commented on #1176
I don't know if I would consider this a bug, but a design choice. I'm pretty sure the logic here was also written with the belief that `draft` was the default post status. I also believe we can resolve this by changing this conditional [here](https://github.com/kidunot89/stream/blob/tests/posts-connector/connectors/class-connector-posts.php#L199)

[2020-09-23 16:37] #1044 closed

[2020-09-24 07:38] dero commented on #1176
@kidunot89 I don't follow, _what_ exactly is a design choice? Note: `draft` is not the same as `auto-draft`.

Let me explain why I consider this a bug.

The `$action` is either `created` or `updated` and, straightforwardly, those values should correspond to situations where a new post is created vs. when an existing post is updated. However, using `wp_insert_post` programmatically to create new po

[2020-09-25 09:59] johnbillion opened #1178 "Stream shouldn't apologise when there are no records"
# Bug Report

## Expected Behavior

When there are no records to show, the messaging to the user should be clear.

## Actual Behavior

Stream apologises to the user: `Sorry, no activity records were found`. It's a small issue but there is no reason for Stream to apologise here, and for a non-native English speaker this message may not be clear and may suggest there was a problem fetching the recor

[2020-09-25 13:38] johnbillion opened #1179 "The "Site" column is missing from Ajax updates to the Network Admin -> Stream screen"
# Bug Report

## Expected Behavior

As records appear in real-time on the Network Admin -> Stream screen, they should appear correctly.

## Actual Behavior

The "Site" column is missing from the records loaded in via Ajax, causing the table layout to break.

## Steps to Reproduce the Problem

1. Visit the Network Admin -> Stream screen on a Multisite installation
2. Wait for records to load in via

[2020-09-29 19:11] kidunot89 commented on #1179
@johnbillion Can you share more the actions your tracking? I'm having trouble recreating your issue.
![image](https://user-images.githubusercontent.com/13604318/94604740-1bb99900-0266-11eb-9780-a9315e690e38.png)

[2020-09-30 17:04] #1178 closed

[2020-09-30 19:52] dero commented on #1176
Fixed by #1121 -- closing.

[2020-09-30 19:52] #1176 closed

[2020-10-01 04:53] Nikschavan opened #1184 "Adding multiple columns to the stream table using filters only display the last column correctly"
# Bug Report

All the columns before the last one just display the column title as the column value.

Here is a sample code which can be tried to reproduce this case -

[code]

In this snippet, I am adding two columns to the stream table but the first column only displays the column name `test_column_1` in all the columns and the second column displays the correct value `test_column_2 - <record-id

[2020-10-01 05:09] Nikschavan commented on #1184
Created a PR #1185 which fixes this issue

[2020-10-04 16:32] eltonmorais opened #1186 "Sites Updated/Deleted not working"
# Bug Report

## Expected Behavior

When I delete a website from the network or update his URL, for example, I should be notified about that.

## Actual Behavior

Nothing happens. No notifications, not in the log, didn't trigger the alert. Total silence.

## Steps to Reproduce the Problem

1. Delete a network subsite.

## System Information

- Stream plugin version: 3.5.1
- WordPress version: 5.5.

[2020-10-04 16:36] eltonmorais opened #1187 "siteurl on integration data for Site create/update/delete"
# Feature Request

On Sites log and data should have the siteurl. My use case, for example, I use that to dinamically create an register on Cloudflare with the subdomain. But the subdomain are not sent on the integration with my webhook (I used Slack option as webhook).

For solve my problem now I created a fork replacing sitename to siteurl, that's it's more usefull to me.

## System Information

[2020-10-04 16:38] eltonmorais commented on #1175
Update it's also not working

[2020-10-04 16:38] #1186 closed

[2020-10-04 16:38] eltonmorais commented on #1186
Closed as it is duplicated

[2020-10-08 12:40] soderlind opened #1191 "CSV Export doesn't respect the current filtering rules"
As mentioned by @lukecarbis in https://github.com/xwp/stream/issue_comments/182196555_

"The exported CSV should respect the current filtering rules, too."

Well, it doesn't.

I'm running a multisite. Trying to export a filtered stream from the `wp-admin/network/admin.php?page=wp_stream` page.

[2020-10-11 20:13] johnbillion commented on #1179
Sorry I haven't had any time to look into this further or reproduce on a different site. I'll try to find some time soon.

[2020-10-12 15:31] kidunot89 commented on #1191
@soderlind The link is broken.

[2020-10-12 16:47] soderlind commented on #1191
@kidunot89, I've modified the link.

[2020-10-13 10:45] rheinardkorf commented on #989
This seems to have gone stale, but I do have a consideration for this.

If we add a logging action inside Stream e.g.
[code]
... then any third-party code should be able to `do_action( 'wp_stream_custom_log', $data, 'my-plugin' );` to log custom data.

We would need to specify restrictions for a `$data` object to make it easier to validate and sanitize, but theoretically, we would be able to log a

[2020-10-14 13:47] #1157 closed

[2020-10-26 01:26] rheinardkorf opened #1195 "Post "update" transition not logged when using Block Editor."
# Bug Report

## Expected Behavior

When updating a post, page or custom post type with the Block Editor I expect the activity to be logged by Stream.

## Actual Behavior

Activity for updates are not getting logged.

Describe what actually happens.

## Steps to Reproduce the Problem

1. Open an existing post for editing with the Block Editor.

2. Make a change to the content (or the title).

3. C

[2020-11-03 17:14] kidunot89 commented on #1191
@soderlind Sorry for the last response.

I having problems recreating you issue on both single and multi sites. Could you elaborate on how you're filtering the records. What filters your using? Screenshots?

[2020-11-03 17:31] soderlind commented on #1191
Here I've selected  one subsite. I expect that when I export from stream I should get what's displayed i.e. the 4 records below:

<img width="1150" alt="Stream-2020-11-03 18-26-07" src="https://user-images.githubusercontent.com/1649452/98019878-97c57480-1e02-11eb-9b5d-f5b96e38ca09.png">

[2020-11-03 21:52] kidunot89 commented on #1195
@rheinardkorf I did some digging and confirm that this is a minor design issue. Gutenberg saves post using the REST API which is consider the backend or frontend. The post connection is a backend only connector.

Pretty connector is beginning register because [this conditional](https://github.com/xwp/stream/blob/develop/classes/class-connectors.php#L123) returns `false` on REST requests. You can c

[2020-11-03 21:56] kidunot89 commented on #1191
@soderlind That is how is should work :thinking:. Have you tried filtering by actions, context, users, or time? Just trying to confirm is all filter controls are failing on export or just the one in the screenshot.

[2020-11-03 23:40] kidunot89 commented on #1187
@eltonmorais I've added implemented this in an existing PR :point_up:

The blog `name`, `url` and `id` have been added to the log meta. Feel free to pull down the branch in the PR and confirm your issue is resolved. Please leave any comments can be left in PR?

[2020-11-03 23:42] kidunot89 commented on #1179
@johnbillion Any updates on this?

[2020-11-04 16:12] johnbillion commented on #1179
Neither myself nor a colleague can reproduce this now. Sorry I can't provide any useful info, I know how annoying that is.

Here's some possible avenues if you do want to look into this more:

* Plugins:
  - MultilingualPress 3
  - PublishPress Authors
  - WP User Profiles
* This problem was seen very shortly after initially activating Stream
* We have around 25 sites

[2020-11-04 23:42] kidunot89 commented on #1179
@johnbillion No biggie :man_shrugging: .
Considering the small pool of users effective by this issue, your documentation of the issue is helpful enough if the issue reappears. Thanks for the hard work :+1:.

[2020-11-23 09:29] nprasath002 opened #1200 "Remove SQL_CALC_FOUND_ROWS"
`SQL_CALC_FOUND_ROWS` is depcreated from MySQL

`The SQL_CALC_FOUND_ROWS query modifier and accompanying FOUND_ROWS() function are deprecated as of MySQL 8.0.17 and will be removed in a future MySQL version`

See https://dev.mysql.com/worklog/task/?id=12615

We need to modify `Query::query()` function to remove `SQL_CALC_FOUND_ROWS` and use `COUNT (*)` to get the total number of rows

[code]

[2020-11-27 18:50] kidunot89 commented on #1175
@eltonmorais The solution has been merged yet. Sorry :disappointed:.

[2020-11-30 16:03] thefrosty opened #1202 "Warning PHP 8 support"
# Bug Report

[code]

## System Information

- Stream plugin version: latest
- WordPress version: 5.5.3
- PHP version: 8.0

[2020-11-30 16:39] kasparsd commented on #1202
Thanks for reporting this @thefrosty!

[2020-12-17 19:06] rbndelrio opened #1209 "Add ability to customize admin menu placement"
# Feature Request

This plugin serves a great utilitarian purpose but most use cases relevant to me are fairly minor. I believe the WordPress admin UX performs at its best when only the most actionable items are prominent in the menu.

I'd like to see an option that can mimic Simple History by allowing the Stream and Alert post types to appear under Dashboard and Settings to appear under the main

[2021-01-04 19:04] spencerm commented on #1195
@kidunot89 Is there a way to flip that boolean that wouldn't break when Stream updates?

[2021-01-04 19:25] #1093 closed

[2021-01-05 22:10] #1200 closed

[2021-01-05 22:21] #1184 closed

[2021-01-05 23:16] #1175 closed

[2021-01-05 23:16] #1187 closed

[2021-01-12 21:42] #946 closed

[2021-01-20 20:47] #1169 closed

[2021-01-21 13:06] renovate[bot] opened #1221 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:34] #1221 closed

[2021-01-23 00:49] kidunot89 commented on #1195
@spencerm Possibly, but it will require making some changes to the Post Connector class.

[2021-01-27 18:34] johnbillion opened #1222 "Change of post author is not recorded"
Delete the section that is not applicable:

# Bug Report

## Expected Behavior

When a post is edited and only the post author is changed, this change should be recorded by Stream.

## Actual Behavior

No log is recorded at all.

## Steps to Reproduce the Problem

1. Edit a post
2. Change the author
3. Save the post
4. Check the Stream log and observe there's no record of the change

## System Inf

[2021-02-11 13:47] #1129 closed

[2021-02-11 14:54] kasparsd opened #1226 "Updated "Tested up to" WP version reference"
Update the WP version reference here:

https://github.com/xwp/stream/blob/58e2e5790f36171770f961ac2337a63d9a47cd5c/readme.txt#L5

[2021-02-11 23:24] rheinardkorf opened #1228 "PHP Notice upon plugin deactivation."
# Bug Report

## Expected Behavior

Expecting clean logs upon plugin deactivation.

## Actual Behavior

Getting the following exception when deactivating the plugin on both multisite, single site, and per site deactivation.

[code]

Source: https://github.com/xwp/stream/blob/develop/classes/class-db.php#L60-L64

## System Information

- Stream plugin version: 3.6.1

[2021-02-12 06:20] kasparsd commented on #1056
Reopening since #1159 has been reverted.

[2021-02-12 07:58] kasparsd commented on #1226
This was fixed with the recent hotfix https://github.com/xwp/stream/commit/7c60a850373bb1414b23569f1144915582456335

[2021-02-12 07:58] #1226 closed

[2021-02-12 08:06] kasparsd opened #1230 "Deprecated: whitelist_options is deprecated since version 5.5.0"
See https://wordpress.org/support/topic/deprecated-whitelist_options-in-wp-5-6/

which appears to be used here https://github.com/xwp/stream/blob/3b79fc888cc95ba48eeeb575cbda4f3850e7f113/connectors/class-connector-settings.php#L703-L719

[2021-02-19 23:52] #1230 closed

[2021-03-03 22:09] sagararyal opened #1239 "Compatibility with WP Graphql"
# Bug Report

Activating Stream Crashes WP GraphQL (not sure if the issue is with Stream or WP GraphQL, but WP points to the file below)
Loading siteurl/graphql

results to:
<img width="862" alt="Screen Shot 2021-03-03 at 10 46 42 PM" src="https://user-images.githubusercontent.com/5401575/109878681-e251e300-7c74-11eb-805a-b5444e2aba15.png">

## System Information

- Stream plugin version: Version

[2021-03-05 19:08] kidunot89 commented on #1239
@sagararyal Sorry for the late response. Are you using any other plugins or have some Alerts set to trigger?

[2021-03-05 19:13] kidunot89 commented on #1222
@johnbillion I've been working on a solution for this since the January. It's likely that Gutenberg is gonna need a connector of it's own.

[2021-03-06 20:22] sagararyal commented on #1239
@kidunot89 Just activating stream creates the issue. No alerts set.

I have WPML, ACF; and Cloudflare; but I also have another identical site with same set of plugins excluding GraphQL; where stream works perfectly.

[2021-03-19 03:25] esausaravia opened #1241 "Exclude rules parameters are working like "OR" instead of "AND""
Delete the section that is not applicable:

# Bug Report
classes/class-log.php L245 function record_matches_rules is not working as supposed

Exclude rules are applying to any record with any of the rule conditions. Fixed with a Hit counter:

	public function record_matches_rules( $record, $exclude_rules ) {
		$hits_need = count($exclude_rules);
		$hits = 0;
		foreach ( $exclude_rules as $exclude_

[2021-03-22 15:37] kidunot89 commented on #1239
@sagararyal Can you test you setup against the branch in ☝🏿 PR #1243

[2021-03-22 17:28] sagararyal commented on #1239
Just ran some more tests:

The issue could also be related to:
https://github.com/rburgst/wp-graphql-wpml

[2021-03-26 16:47] #907 closed

[2021-03-26 16:49] #1239 closed

[2021-03-26 16:49] #1241 closed

[2021-04-01 17:11] WarenGonzaga commented on #989
I would agree with you, I'm looking for solution to log any failed mail sent from the WP. This one will be helpful.

[2021-04-07 12:23] josemarrae opened #1250 "I am not registering the creation of entries or pages"
## Expected Behavior

Should record when a user creates content (page, post...)

## Actual Behavior

The log of post and page creation is not reflected.

## System Information

- Stream plugin version: 3.6.2
- WordPress version: 5.7
- PHP version: 4.4.16
- Browser: Firefox
- Computer operating system: Windows 8.1

[2021-04-15 02:18] arun744-newscorp opened #1252 "get_current_screen function is undefined for wp_stream page loaded"
Delete the section that is not applicable:

# Feature Request

There is a bug in stream/classes/class-alerts-list.php file, line 59.
Check if get_current_screen() function exist or return false if not.

# Bug Report

get_current_screen() is reported undefined function:

 Fatal error: Uncaught Error: Call to undefined function WP_Stream\get_current_screen()
in /var/www/wp-content/plugins/stream/cla

[2021-04-28 18:50] jazzsequence opened #1255 "Minified files (CSS & JS) are not included in the Composer package"
# Bug Report
When pulling down the plugin via Composer, the minified CSS/JS files are not included in the package, which results in the admin Stream page(s) being broken if `SCRIPT_DEBUG` is `false`.

The workaround is to hijack the behavior via the `wp_stream_load_min_assets` filter, but obviously the ideal would be to load the minified assets.

[code]

It appears that this may be because those f

[2021-04-28 20:45] kasparsd commented on #1255
Thanks for the report @jazzsequence!

Would it be possible for you to use the [wpackagist.org repository](https://wpackagist.org/) which mirrors the plugin source from WP.org?

Alternatively, we've created the [stream-dist](https://github.com/xwp/stream-dist) repository which contains the full plugin bundles with all artifacts when [a new release is tagged](https://github.com/xwp/stream/blob/c65e7

[2021-04-28 20:54] jazzsequence commented on #1255
The way our architecture is set up, we can't actually use wpackagist. However, I can test the Packagist.org package again and report back. Thanks!

[2021-04-28 20:59] jazzsequence commented on #1255
Yup, that works! Thanks again, that was easy 😁

[2021-04-28 20:59] #1255 closed

[2021-05-14 10:52] kasparsd commented on #1252
This has been fixed in 9036beee4ee634dd6a6d66c2b3f56a2dbff4879e and PHP should be able to resolve that function since it falls back to the global namespace by default:

https://www.php.net/manual/en/language.namespaces.rules.php

[2021-05-14 10:52] #1252 closed

[2021-05-14 10:55] kasparsd commented on #1228
I wonder if this is related to PHP8 per #1202.

[2021-08-03 06:19] Nikschavan commented on #1202
There is also one more deprecation notice being thrown on PHP 8 -

[code]

[2021-08-03 13:40] AndrewJohnsonTR opened #1270 "Code change to wp_stream_get_sites causing very large memory usage on clusters with higher number of sites"
Delete the section that is not applicable:

# Bug Report

## Expected Behavior

class-connector-blogs->get_context_labels() gathers data from blogs on the multisite using a reasonable amount of memory

## Actual Behavior
wp_stream_get_sites used to call get_sites() with no args, this defaulted to just 100 sites. This behavior was changed in the newest release. When get_context_labels() switches ge

[2021-08-03 14:08] kasparsd commented on #1270
Thanks for reporting the issue!

I guess you're referring to #1258 which introduced the change, right?

@dd32 Are you seeing the same issue with high memory usage now that it queries for all sites in the network?

It appears that `wp_stream_get_sites()` is primary used to generate a dropdown selector of all blog names in the blogs connector:

https://github.com/xwp/stream/blob/305583d70e8a7667d1f9

[2021-08-04 01:07] AndrewJohnsonTR commented on #1270
Thank you very much for the reply! I will add that we actually do use the Mercator plugin too, which is probably an important detail to add.

[2021-08-30 22:30] cjhaas opened #1272 "PHP 8 - PHP Deprecated: Required parameter $alert follows optional parameter $context"
# Bug Report

PHP 8 is deprecating required function/method parameters following optional parameters. The `Alert_Trigger` abstract class and all four child classes violate this by this signature:

[code]

Which raises warnings such as:

[code]

This was mentioned in a comment attached to #1202 but I thought it would be best to have a dedicated ticket since this is pretty easy to fix.

[2021-08-31 07:09] #1272 closed

[2021-08-31 07:09] kasparsd commented on #1272
Thanks for the detailed issue and the matching pull request @cjhaas!

[2021-08-31 08:24] renovate[bot] opened #1277 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency @wordpress/eslint-plugin to ^9.1.1](../pull/1279)

## Ignored or Blocked

These are blocked by an existing closed PR and wi

[2021-08-31 09:51] kasparsd opened #1278 "Fix PHP unit tests with PHP 8"
# Feature Request

Make the phpunit tests work with PHP 8. It appears that the `php-token-stream` library referenced by `phpunit` isn't compatible with PHP 8:

[code]

[2021-08-31 09:52] kasparsd commented on #1202
Create #1278 to cover dev tooling update since that is a bit harder to fix due to dependency issues.

[2021-08-31 09:56] #1202 closed

[2021-09-01 05:35] braddalton opened #1282 "Records not recorded for the last 4 months"
Delete the section that is not applicable:

# Feature Request

Describe the suggested feature and how it's beneficial to Stream users.

# Bug Report

## Expected Behavior

Describe what should happen.

## Actual Behavior

Describe what actually happens.

## Steps to Reproduce the Problem

1.

2.

3.

## Screenshots

Drag and drop screenshots in this area that help illustrate the problem.

## Syste

[2021-09-16 16:06] tomjn opened #1284 "Stream does not check database tables exist"
# Bug Report

Stream only creates database tables on plugin activation, then never checks they exist.

## Expected Behavior

Use Stream in an environment here plugin activation occurs.

Stream sees that the tables don't exist and creates them.

## Actual Behavior

Stream does not create the tables because you did not load the plugin by activating it.

Additionally, the reset database tables link i

[2021-09-16 16:14] tomjn commented on #1284
Working around this I got:

[code]

Running that code once created the tables

[2021-09-16 16:22] tomjn commented on #1284
I made a quick PR that adds them when the DB resets, however, the `Install` class should check on these situations too:

 - wp admin requests
 - wp cli requests

[2021-09-16 18:06] kasparsd commented on #1284
Thanks for reporting the issue @tomjn!

This appears to be related to this very recent change https://github.com/xwp/stream/pull/1201 which was attempting to fix this issue https://github.com/xwp/stream/issues/1169

What would be the most performant way of ensuring the tables exist if we’re doing that on pretty much every request?

Could we use an option to store the schema revision once the table

[2021-09-16 18:33] tomjn commented on #1284
@kasparsd see my last PR, it only checks on WP Admin/CLI requests, avoiding the issue you linked to

[2021-09-16 18:33] tomjn commented on #1284
the reset PR also provides a manual way to fix this

[2021-09-16 18:33] tomjn commented on #1284
#1285 and #1286 specifically

[2021-09-17 08:34] kasparsd commented on #1284
@tomjn Can we assume this is now fixed with #1286 being merged?

[2021-09-17 11:08] tomjn commented on #1284
@kasparsd yes, just need a release with it in and I'll have some very happy people :) Closing

[2021-09-17 11:08] #1284 closed

[2021-09-17 18:14] kasparsd commented on #1284
Thanks for the confirmation and your contribution! I'll create a release either today or early next week.

[2021-09-17 19:02] kasparsd commented on #1284
@tomjn 3.8.1 is out now:

- https://github.com/xwp/stream/releases/tag/3.8.1
- https://plugins.trac.wordpress.org/browser/stream/tags/3.8.1
- https://github.com/xwp/stream-dist (should be soon as the CI is done) which is used for the Packagist.org releases.

[2021-10-14 16:54] itsTheFae opened #1294 "[PHP 8] Error when updating widgets."
# Bug Report
While Stream is active on PHP 8 host, adding or removing widgets in WordPress causes an error to be thrown.  The named arguments added to PHP 8 create an issue with the call chain found at: `/stream/connectors/class-connector-widgets.php` lines 300, 301, as well as 360 and 361

## Expected Behavior
The expected behavior is simply saving the widgets without delay or error messages.

##

[2021-10-18 22:08] itsTheFae commented on #1294
`call_user_func_array` is at least faster than doing a manual loop.  Unpack via `...` isn't available until 5.6 which I guess we can assume no one uses php older than that and use something like `array_unique(array_merge(...array_values($old)));` instead.

[2021-10-18 23:04] thefrosty opened #1295 "Adding multiple columns to the stream table using filters HTML never loaded RE: #1184"
This is a follow issue to https://github.com/xwp/stream/issues/1184 and commented on here: https://github.com/xwp/stream/pull/1185/files#r731374767

[2021-10-20 03:02] ParhamG opened #1297 "Cannot save Stream Network Settings"
When I try to save the Stream settings in the Network admin dashboard of a multisite I get a wp_die : `A variable mismatch has been detected.` and it does not save the changes to the settings. This seems to be due to a mismatch of `POST` and `GET` values for the `action` variable. `GET` is set to `wp_stream_network_settings` via the query parameter of the form's action attribute, and `POST` is set

[2021-10-20 21:52] ParhamG commented on #1297
Update: I tracked it down to a code on our end that was triggering core's query parsing methods on a wrong admin screen which conflicted with this, and it can be avoided on our end.

[2021-10-20 21:52] #1297 closed

[2021-11-18 11:09] alexincore opened #1300 "Gravity Forms notifications activation / deactivation"
# Feature Request

When notification is enabled or disabled, we need to log that action too. The action performed on activation or deactivation seems to be handled in `function update_notification_active`, which then later calls `GFFormsModel::update_form_meta( $form_id, $form['notifications'], 'notifications' );`

## Screenshots

![Annotation on 2021-11-18 at 12-04-14](https://user-images.githubu

[2021-11-19 23:26] ethanclevenger91 commented on #910
I'll add a note I made on the linked ticket. If you don't make it over to that ticket, the solution here is to disable Gravity Forms's "No-Conflict" mode (https://docs.gravityforms.com/enabling-no-conflict-mode/)

Making this ticket a wontfix.

[2021-11-22 11:34] tyrann0us commented on #1147
@kopepasah, any chance this issue can be fixed? Thanks!

[2021-11-26 01:33] lkraav opened #1301 "Query: add SELECT DISTINCT facilities"
# Feature Request

I'm trying to fetch a set of unique activities from Stream DB with `wp_stream_get_instance()->db->get_records()`.

It turns out, we have no facilities to set a `SELECT DISTINCT` clause in https://github.com/xwp/stream/blob/3.8.2/classes/class-query.php, in the spirit of https://developer.wordpress.org/reference/hooks/posts_distinct/

We probably should have such, right?

[2022-02-20 22:40] lkraav commented on #1080
I think these are 2 separate issues.

#1038 doesn't alleviate massively bloating the database with empty values in any way, *but* does seem to have located another bug that also needs fixing.

[2022-03-01 19:03] tyrann0us commented on #1147
@kasparsd, the bug still occurs with the following system information:
- Stream `v3.8.2`
- WooCommerce `v6.2.1`
- WooCommerce Subscriptions `v4.0.2`
- WordPress version: `v5.9.1`

I'd really appreciate it if you could have a look since it's massively spamming our logs. It should be possible to provide you with a copy of "WooCommerce Subscriptions" for testing purposes if need be.
Thank you!

[2022-03-07 16:55] ryelle opened #1308 "Notice in admin dashboard on WP trunk"
Activating Stream on WP trunk (WordPress 6.0-alpha-52609) triggers a notice via `_doing_it_wrong`:

The menu position is set here:

https://github.com/xwp/stream/blob/489fb8777047f6c61599e16ba28c375263602a27/classes/class-admin.php#L321-L328

but the comment about decimal points to avoid collisions is [not true anymore](https://core.trac.wordpress.org/ticket/23316).

## System Information

- Strea

[2022-03-08 09:14] #1080 closed

[2022-03-08 09:24] #1250 closed

[2022-03-08 16:02] kasparsd commented on #1195
Fixed in #1264.

[2022-03-10 15:49] cbirdsong opened #1314 "Stream suddenly sent tons of alerts based on hidden post type, possibly due to REST API change in 3.9.0"
Yesterday one of our sites suddenly started sending _tons_ of Stream alert emails about deleted items. It had this alert configured:

![CleanShot 2022-03-10 at 08 52 22](https://user-images.githubusercontent.com/1672206/157693534-cae134e8-2aa2-4cc7-8d65-fc4d29089eb4.png)

This site has Post SMTP plugin installed with logging enabled. It uses a hidden `postman_sent_mail` custom post type for logged

[2022-03-11 16:56] kasparsd commented on #1314
Thanks for the detailed report @cbirdsong! Can you please confirm if this is happening when new `postman_sent_mail` posts are created and deleted as the Post SMTP plugin schedules and sends emails?

[2022-03-11 17:26] cbirdsong commented on #1314
I disabled the alert as soon as I discovered it and didn't attempt to debug by triggering any further emails since it was on a live site, but the times in the Post SMTP log lined up exactly with the Stream log/emails.

[2022-04-04 20:24] davidglines opened #1324 "User Contexts Missing"
# Bug Report

## Expected Behavior

User selects "Contexts" dropdown to see all of those respective actions.

## Actual Behavior

When we select the Contexts dropdown, we do not have Users, Profiles or Sessions listed as contexts. We do not see any settings to turn these on or off. Thank you very much for any assistance you can provide on this.

## Steps to Reproduce the Problem

1. Clicked Stream

[2022-04-06 11:03] jmslbam commented on #871
For anybody that does need this. Stream supports filtering by User Role, but doesn't have the dropdown yet.
Here's my code:

[code]

[2022-04-07 01:58] ChrisHardie opened #1328 "WooCommerce connector: 75% of entries are for mysterious "tax rate updated" events"
# Bug Report

In a high-traffic WooCommerce site, we noted that 75% of all Stream entries (many thousands of them) are for the event `"1" tax rate updated`, often many being logged within a few seconds or minutes of each other. The `object_id`s referenced appear to be various related entries in `wp_woocommerce_tax_rates`. Slightly over 50% of those entries are for user_id 0 while the remaining ent

[2022-05-17 01:56] anthonyeden commented on #1294
Any progress here? This is blocking my migration of a fair few sites to PHP8.

[2022-05-19 19:32] ewinchester opened #1340 "Wordpress Subdomain Minisites Not logging some activities and filter UI bugs."
# # Bug Report
We have Wordpress Minisite setup with many smaller sites all using the same themes and plugins. the minisites are using subdomains instead of subfolders to serperate. Ex: location.website.com. Each minisite is managed by franchise admins but the entire network of sites is managed by 1 super admin user "webdev" (me). I tested the Stream Plugin on a Multisite Testing domain i use for

[2022-06-03 11:46] ouun opened #1343 "PHP 8.1: Constant WP_Stream\FILTER_SANITIZE_STRING is deprecated"
# Bug Report

`FILTER_SANITIZE_STRING` is deprecated in PHP 8.1 and therefore throws warnings.

## System Information

- Stream plugin version: 3.9.0
- WordPress version: 6.0
- PHP version: 8.1

[2022-06-22 14:44] thefrosty opened #1349 "PHP 8.1: PHP Deprecated: strlen(): Passing null to parameter #1 ($string) of type string is deprecated"
# Bug Report

## Expected Behavior

No error message.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. Just logging in and traversing core admin pages.

## System Information

- Stream plugin version: 3.9.0
- WordPress version: 6.0
- PHP version: 8.1

[2022-07-08 15:52] dougaxe1 opened #1351 "Email/Slack Alerts assume all alerts are for posts"
# Bug Report

## Expected Behavior

Alerts should not assume record `object_id` is a post and should display alert actions based on the proper connector.

## Actual Behavior

Alerts assume `$recordarr['object_id']` is always a post and as a result offer a confusing message and "Edit %s" link, even if the object_id represents a user ID (or similar).

## Steps to Reproduce the Problem

1. Create an

[2022-08-08 15:12] vishaldabhade commented on #1294
I am facing the same issue while updating a new widget. It gives a 500 error. Is there any way to resolve this?

[2022-08-16 16:40] itsTheFae commented on #1294
@kasparsd What can I do to help patch this bug?  Shall I fork and make a PR for one of the changes I've mentioned in this issue?  Which method would you prefer?

I unfortunately don't have time to figure out what rational was behind the original choice of calls.  WordPress core made use of this pattern, so the easy guess is someone else just borrowed that method when looking for ways to interact w

[2022-08-23 16:36] #1294 closed

[2022-08-23 17:23] kasparsd commented on #1294
Version [3.9.1](https://github.com/xwp/stream/releases/tag/3.9.1) should be out on WP.org in a few minutes which includes this fix!

[2022-08-25 06:55] saas786 opened #1360 "Offload database management to secondary database, thinking about `hyperdb`, `ludicrousdb`."
# Feature Request

As I see you are already using `\WP_Stream\DB_Driver_WPDB`, which can be be made pluggable.

ref: https://github.com/xwp/stream/blob/3.9.1/classes/class-db-driver-wpdb.php#L13

So for starters, something like this:

before:

[code]

after:
[code]

ref: https://github.com/xwp/stream/blob/3.9.1/classes/class-db-driver-wpdb.php#L41

So where ever `$wpdb` is referenced, we could rep

[2022-08-25 07:02] lkraav commented on #1360
Where is this coming from? Queries are indexed and have very little effect on page build speed.

[2022-08-25 07:15] saas786 commented on #1360
This might not apply to your website.

But not everyone has the luxury of using Powerful Servers, Indexing, Redis or such caching tools on their hands.

Majority of users are on shared hosting, with not access to caching tools like Redis etc.

So offloading logging to secondary database is necessary for the most users.

[2022-08-25 07:42] lkraav commented on #1360
Those most users would highly likely also lack the capability to work with any secondary database.

But let's see what Stream team thinks here.

[2022-08-26 01:56] cameronjonesweb opened #1361 "Custom post types missing from context filters"
# Bug Report

## Expected Behavior

I expect to be able to filter by a custom post type, and also to be able to exclude based on a custom post type. Events on these post types are being logged, but there is no option for them in the context dropdowns.

## Actual Behavior

Describe what actually happens.

## Steps to Reproduce the Problem

1. Register a post type with `register_post_type()`

2. Cre

[2022-08-26 03:26] kevinip-xwp opened #1362 "Cannot access Stream settings page despite being Super Admin"
# Bug Report

I see an error when I try to access Stream’s settings page from the site dashboard even though I am a Super Admin.  I have no problems accessing Stream from the Network Admin dashboard; the problem only occurs from the individual site's dashboard.

## Expected Behavior

I should be able to see the stream settings and change them.

## Actual Behavior

I got a screen that is empty exce

[2022-10-10 15:39] benerd opened #1371 "Warning: Trying to access array offset on value of type bool in /code/wp-content/plugins/stream/alerts/class-alert-type-slack.php on line 148"
# Bug Report
I am getting this warning message
`Warning: Trying to access array offset on value of type bool in /code/wp-content/plugins/stream/alerts/class-alert-type-slack.php on line 148 `

And  it's because we don't have a default fallback value for the array here.
https://github.com/xwp/stream/blob/305583d70e8a7667d1f99df85196024a7334ed50/alerts/class-alert-type-slack.php#L148

Changing it to

[2022-10-17 06:22] tyrann0us commented on #1147
Hi @kasparsd, this is my semi-annual friendly reminder to ask if you could take a look at this issue. Thanks 🙂

[2022-10-22 16:08] oscarssanchez commented on #1371
Looking at the code I think there's other places where it is assumed as well data returned will always exist, for example here:

https://github.com/xwp/stream/blob/develop/alerts/class-alert-type-slack.php#L142

If an avatar URL is not found it will return false.

[2022-11-23 13:39] bemdesign-er opened #1383 "Feature Request: Button to generate a CSV Export/Download of current filtered view of data"
# Feature Request

It would be very useful to have a button titled "CSV Export" that users could click to generate a CSV export of the data of the current filtered view for download. This would allow users to provide activity audit reports to website stakeholders without having to setup WordPress website accounts and change access permissions on the Stream plugin. It would also allow users to save