[2013-12-30 19:26] jonathanbardo opened #144 "Add reset button to reset all filters"
After watching the video, I think it is cumbersome to reset all filters to zero.

I simple reset button that would reload the page without any filters might be the way to go.

![reset](https://f.cloud.github.com/assets/1933681/1823826/39a22840-7188-11e3-8d98-758b5d44c92a.png)

[2014-02-03 09:08] cfoellmann opened #204 "Translation workflow"
I would suggest to use http://wp-translate.org/projects by @markoheijnen (core developer of GlotPress) until wp.org catches up.
It has some very neat features. Especially the git refresh. It pulls all translatable strings from the git repo daily.

P.S.: Kudos to you for creating this great and powerful plugin.

[2014-03-08 02:59] fjarrett opened #308 "Changes made in the Customizer are not being logged"
After clicking **Save & Publish** in the Customizer no records are being logged by Stream for changes that were performed.

![screen shot 2014-03-07 at 8 59 24 pm](https://f.cloud.github.com/assets/522158/2364355/b1dc8d54-a66d-11e3-962d-02a0949bd923.png)

We'll need to improve the following connectors so that these changes are always tracked:

- [x]  Widgets (#391)
- [ ] Menus
- [ ] Settings

/cc

[2014-04-23 11:54] cfoellmann opened #432 "GruntJS workflow"
Are you guys interested in setting up GruntJS?
- (re-)generate .pot file
- convert .po to .mo files
- minify css and js files

If you are open for that I would love to send you a PR for that. Just let me know

[2014-04-24 23:06] westonruter opened #452 "Create an SVN tag for each release on WordPress.org"
We are only pushing the latest stable version to WordPress.org SVN. It would be useful for archiving purposes to also create an SVN tag for each release. This would facilitate installing old versions of WP-CLI, and it's a best practice I think to have the old versions up there.

[2014-05-02 20:19] westonruter opened #499 "Introduce WP-CLI stream command"
It would be really cool if Stream data could be queried via WP-CLI, and if settings could be updated.

For example, there should be a `wp stream log` command that takes the filter arguments like `--author=1` or `--context=sidebars`.

Also, a cool use case would be something like `wp stream log --tail` which would output a continual stream of entries as they come in. The PHP process would keep runn

[2014-05-03 12:05] kucrut opened #500 "First-time change to Stream Settings is not tracked"
Steps:

1. Start with clean WP install (or Uninstall Stream first)
2. Activate Stream
3. Go to *Stream* > *Settings*
4. On *General* tab, tick *Editor*
5. Click on *Save Changes* button
6. Go to *Stream*
7. Notice that there's no record about Stream settings change there.

[2014-05-07 22:45] fjarrett opened #516 "Group subsequent records into a single row"
Originally raised by @topher1kenobe during our Austin meetup, and again formally by @Japh in #474, was the concern that the current implementation of the Stream list table screen does nothing to mitigate the flooding of records of the same type.

After discussing this with @lukecarbis, we think the solution could be achieved with a smarter UI that catches subsequent records that have the same Auth

[2014-07-14 13:21] shadyvb opened #595 "Show record meta in Stream listing"
There should be a way to unravel the currently-hidden meta values of Stream records, to serve as a reference for devs.

There should be a screen option to enable/disable such feature. And it shouldn't be displayed by default, but rather after a mouse click or something.

[2014-09-01 21:32] lukecarbis opened #611 "Updated Unit Tests"
Our unit tests are written primarily for the currently released version of Stream. They should be updated for Stream 2.0 to include things like the extensions and API.

[2014-09-07 22:10] fjarrett opened #612 "Some post types and taxonomies being duplicated by connectors"
@shadyvb I noticed that in the search filters there were some post types and taxonomies being loaded by the Posts and Taxonomies connectors and are then duplicated by other connectors.

I noticed that our approach here has been to [override the record array](https://github.com/wp-stream/stream/blob/2.0.0-beta/connectors/class-wp-stream-connector-woocommerce.php#L577) and just replace the connector

[2014-09-16 22:30] lukecarbis opened #632 "Add extensibility to connectors"
Our connectors aren't currently very extensible. We should be filtering our `$actions`, filtering our `is_dependency_satisfied()` result, filtering our labels, action labels, context labels, action links, etc. etc. Not to mention adding actions to our callback functions.

The idea here is pretty simple. Suppose you are the developer of an EDD or WooCommerce extension, and you want to ensure that y

[2014-12-03 10:02] alfacommunication-alessandro opened #666 "WP-Stream and Varnish Cache"
Anyone is using WP-Stream with Varnish Cache?
I'm using 2.01 version and inside Stream records I've a lot of fake 'logged in' entries.

Varnish doesn't cache Wordpress admin pages of course.

[2014-12-11 06:00] fjarrett opened #670 "Add setting to allow IP address tracking to be disabled"
Some organizations have strict data policies about IP addresses being logged or do not want their own IP addresses logged when they make changes to their own site.

A simple setting should be added that is checked by default but can be unchecked to prevent IP's from being tracked.

[2014-12-13 03:16] fjarrett opened #672 "Silently disable Stream during content import"
A user in the WordPress forums [pointed out](https://wordpress.org/support/topic/there-was-a-problem-verifying-your-site-with-stream-please-try-again-later?replies=1) that deactivating Stream requires reconnecting upon reactivation but that it can be frustrating when wanting to import content on a regular basis because we prompt the user to deactivate Stream before allowing importing due to the ma

[2014-12-19 18:10] fjarrett opened #675 "Live updates should behave differently when filtering results"
Live updates is a cool feature that brings new records into view using the Heartbeat API.

![screen shot 2014-12-19 at 12 10 36 pm](https://cloud.githubusercontent.com/assets/522158/5508949/15cb2a14-8778-11e4-9142-59a11b1fba28.png)

However, these live updates do not respect filtered results. So when you are filtering results using the dropdown menus or search, live updates can come rolling in and

[2014-12-22 18:40] fjarrett opened #677 "Improve plugin recommendations tab for sites using WP Stream"
[WordPress 4.1](http://codex.wordpress.org/Version_4.1) just released a new feature, a **Recommended** tab on the Plugins screen.

![screen shot 2014-12-22 at 11 23 32 am](https://cloud.githubusercontent.com/assets/522158/5528366/0b2ae23c-89cd-11e4-89c0-c4663fbc76b5.png)

A snippet from the [Post Status release article](http://www.poststat.us/wordpress-4-1-dinah/):

However, AFAIK WordPress.org do

[2015-01-07 11:49] desaiuditd opened #680 "PHP Catchable Fatal Error on EDD Checkout Page"
WordPress SEO Connector is throwing PHP Catchable Fatal error on EDD checkout page. Hence Store is breaking.

![screenshot from 2015-01-07 16 52 51](https://cloud.githubusercontent.com/assets/2236554/5645039/7bbb8536-9690-11e4-9bb7-19f710c3d7f3.png)

Not really sure if we should remove `array` keyword from parameters in this function [here](https://github.com/wp-stream/stream/blob/develop/connecto

[2015-01-07 22:47] fjarrett commented on #680
Thanks @desaiuditd! We will look into this issue further.

[2015-01-12 04:15] #675 closed

[2015-01-13 20:55] rnaby opened #683 "Is connecting to WordPress.com or with Stream account necessary?"
Is connecting to WordPress.com or with Stream account necessary?
Can't I run this plugin as standalone plugin like others? I don't want to connect to WordPress.com or don't wanna use Stream account.

Suggestion needed.

[2015-01-13 21:06] fjarrett commented on #683
Hi @rnaby,

1. Stream always requires a connection because it's a cloud-based service designed to keep a secure and immutable audit trail of the changes being made to your site. Think [New Relic APM](https://newrelic.com/application-monitoring) for WordPress Admin activity.

2. Using WordPress.com SSO (single sign-on) is a security advantage that prevents Stream from ever needing to store user pas

[2015-01-13 21:06] #683 closed

[2015-01-14 22:30] fjarrett commented on #670
Since this is already possible via the hook described above I'm closing this issue.

[2015-01-14 22:30] #670 closed

[2015-01-15 04:30] fjarrett commented on #666
Closing this for now. Happy to reopen once more evidence can be provided.

[2015-01-15 04:30] #666 closed

[2015-01-16 23:25] fjarrett opened #686 "PHP notice on BuddyPress sites for bp_setup_current_user"
A debug backtrace shows that Stream is causing this error by loading `WP_Stream_Admin::load()` too early on `plugins_loaded`.

It should be loaded on `init` after the `$current_user` is properly set up. And we may as well be hooking into the load methods for other classes on `init` as well for good measure.

[code]

See https://buddypress.trac.wordpress.org/ticket/4830

[2015-01-17 00:46] #680 closed

[2015-01-20 01:03] lukecarbis opened #688 "Can't exclude N/A user"
Firstly, when adding the user "N/A" to the exclude rules and pressing save, the page reloads with nothing selected in the Author or Role dropdown.

![screen shot 2015-01-20 at 10 56 28](https://cloud.githubusercontent.com/assets/1097667/5810507/53e4369a-a093-11e4-9d89-2558ba88e15f.png)

Secondly, N/A entries are being tracked, despite the (broken) exclude rule.

![screen shot 2015-01-20 at 10 56 3

[2015-01-20 01:07] lukecarbis opened #689 "Search results ordered by relevance"
Currently when searching Stream records, results are ordered by relevance.

For example, if I do a search for `Stream` I get:
![screen shot 2015-01-20 at 11 05 25](https://cloud.githubusercontent.com/assets/1097667/5810567/4559358e-a094-11e4-8f68-5c7ac1768cda.png)

In my opinion, it makes more sense to order them by date. Stream records are always presented by date except in this case and it confu

[2015-01-20 03:56] fjarrett commented on #689
I'd actually call this a bug. Thanks for pointing it out!

[2015-01-20 04:02] #686 closed

[2015-01-20 21:36] fjarrett commented on #452
This was implemented in the `wp-dev-lib` project's latest version of the `svn-push` script.

See https://github.com/xwp/wp-dev-lib/pull/54

[2015-01-20 21:36] #452 closed

[2015-01-20 21:41] fjarrett commented on #432
Since we are using the [`wp-dev-lib`](https://github.com/xwp/wp-dev-lib) I would rather see these features exist within that project. Some issues have already been presented there.

https://github.com/xwp/wp-dev-lib/issues/46
https://github.com/xwp/wp-dev-lib/issues/32
https://github.com/xwp/wp-dev-lib/issues/47

[2015-01-20 21:41] #432 closed

[2015-01-20 21:43] #204 closed

[2015-01-21 06:18] fjarrett opened #693 "Notification Rule meta data being saved to all post types"
A user [reported in the plugin forum](https://wordpress.org/support/topic/extraneous-output?replies=3) that they were seeing strange post meta appearing on their posts.

[code]

![screen shot 2015-01-21 at 12 28 20 am](https://cloud.githubusercontent.com/assets/522158/5832057/72c1b8dc-a104-11e4-8b22-514ca05e860d.png)

I believe this is being caused by the `save_post` action in `WP_Stream_Notificat

[2015-01-21 07:11] fjarrett commented on #693
Here is a gist that will remove the unwanted meta from all other post types: https://gist.github.com/fjarrett/be5423e0899895558d75

[2015-01-21 07:13] #693 closed

[2015-01-21 07:14] #688 closed

[2015-01-21 07:14] #689 closed

[2015-01-21 07:26] fjarrett commented on #516
FYI I'm going to revisit this issue soon.

Now that we have the power of Elasticsearch on our side we can accomplish much more of what this issue needs in regards to wildcard queries, aggregation and pagination.

[2015-01-21 19:54] fjarrett opened #695 "PHP warning when deleting plugins"
A [user reported](https://wordpress.org/support/topic/issues-deleting-other-plugins?replies=1) in the plugin forum that they are receiving an error when attempting to delete a plugin, and it's preventing the plugin from being removed.

[code]

Not only that, but during my testing of this issue I've discovered that Stream is not tracking plugin deletions at all when done in bulk. So that will need

[2015-01-21 23:35] #695 closed

[2015-01-22 00:18] #672 closed

[2015-01-23 18:19] fjarrett commented on #499
I've created a [Query Reference](https://github.com/wp-stream/stream/wiki/Query-Reference) in our Wiki that can be used as a guide when using the WP-CLI command.

[2015-01-23 18:47] fjarrett opened #697 "Settings changes made via WP-CLI are not being logged"
For some reason the `get_called_class()` function inside the `WP_Stream_Connector::callback()` method is returning a bogus result when invoking any `$ wp option` command.

**Example**

[code]

The `get_called_class()` value returns `WP_Stream_Connector_Widgets` when it should be returning `WP_Stream_Connector_Settings`. This result is that no record is ever created because the correct callback is

[2015-01-28 22:52] fjarrett commented on #499
Released in `2.0.3`

[2015-01-28 22:52] #499 closed

[2015-02-03 21:18] fjarrett opened #698 "Allow properties with zero values to be included in queries"
We are currently disallowing properties with [empty values](http://php.net/manual/en/function.empty.php) from being included in the final query array.

This is a problem if you want to query something with an ID of zero, such as a `user_id`.

We should adjust our definition of what an "empty" property is when building the final query.

**Disallowed values**

* `NULL`
* `bool(false)`
* `string(0) "

[2015-02-03 22:49] #698 closed

[2015-02-04 06:30] fjarrett commented on #144
We have since significantly reduced the real estate of filtering so I'm resurrecting this issue. I think it's a good idea. Good on ya @jonathanbardo, thanks for your patience :smile:

[2015-02-04 06:31] fjarrett commented on #144
Proposed UI

![screen shot 2015-02-04 at 12 27 43 am](https://cloud.githubusercontent.com/assets/522158/6036086/37001da0-ac05-11e4-92a7-9288f9e3feb6.png)

[2015-02-04 23:10] fjarrett opened #701 "Add more detail to WooCommerce summary messages"
A user made a [suggestion in the support forum](https://wordpress.org/support/topic/how-to-show-more-detail-about-an-update-woocommerce-products?replies=1) to add more detail to summaries in WooCommerce that would give more insight into product stock.

This idea is related closely to #595 where we brainstormed about finding a way to display record meta data in each row.

I think accomplishing #595

[2015-02-04 23:12] fjarrett commented on #595
Reopening this issue based on a suggestion presented in #701 because I think this would actually be the better approach.

[2015-02-04 23:59] #144 closed

[2015-02-16 19:48] fjarrett opened #702 "Determine if any changes are required for upcoming "term splitting""
It was [recently announced](https://make.wordpress.org/core/2015/02/16/taxonomy-term-splitting-in-4-2-a-developer-guide/) that WordPress 4.2 will include a long-awaited fix for terms that share the same slug across multiple taxonomies.

We need to determine what changes will be necessary for WP Stream (if any) to ensure full backwards compatibility for users.

[2015-02-24 20:47] szepeviktor commented on #499
Could you please include the Query Ref. as PHP-doc?
E.g. https://github.com/wp-cli/wp-cli/blob/master/php/commands/post.php#L218-L278

[2015-02-24 20:51] fjarrett commented on #499
Hi @szepeviktor, thanks for the suggestion.

Would you be willing to providing a pull request for this?

We have [Query Parameters documented](https://github.com/wp-stream/stream/wiki/Query-Reference) in the wiki. Otherwise we will just add these to the docblock when we get around to it.

[2015-02-24 22:05] szepeviktor opened #703 "Release script"
I can't stand the question: Do you plan to develop a release script including WP.org svn upload?

https://github.com/wp-stream/stream/commit/2e46ea783ddc6b26cd1490c3c7e4d715a2101f17#diff-a0b0b6220d7fc13d2d217348f422908c

[2015-02-24 22:16] szepeviktor opened #704 "No filter for wp-cli"
As a wp-cli contributor I think there is no such thing as filters for wp-cli.
https://github.com/wp-stream/stream/blob/develop/includes/wp-cli.php#L41

May I create a PR to exclude that line and add YAML doc example?

[code]

http://wp-cli.org/config/

[2015-02-25 16:24] fjarrett commented on #704
@szepeviktor Interesting, there are several other community CLI commands that are using filters. Are there reasons why this should not be allowed?

https://github.com/hoppinger/advanced-custom-fields-wpcli/search?utf8=%E2%9C%93&q=apply_filters
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/class-edd-cli.php#L63

[2015-02-25 16:31] fjarrett commented on #703
@szepeviktor We are using [`wp-dev-lib`](https://github.com/xwp/wp-dev-lib) as a submodule which includes an [`svn-push`](https://github.com/xwp/wp-dev-lib/blob/master/svn-push) bash script, which we point to WP.org using the [`svn-url`](https://github.com/wp-stream/stream/blob/develop/svn-url) file in the project root.

We still bump versions manually in the codebase before running this script wh

[2015-02-25 16:31] #703 closed

[2015-02-25 16:33] szepeviktor commented on #704
How do you imagine to use it?

[code]

[2015-02-25 16:36] fjarrett commented on #704
@szepeviktor I see what you mean, a filter would be a global change not overridable from within the CLI. I like your idea of using YAML for this reason. Please go ahead!

[2015-02-25 16:36] szepeviktor commented on #703
So you are half way there.

[2015-02-25 16:46] szepeviktor commented on #704
Looking at wp-cli.php it need some modification to be like other wp-cli commands.
I'll have lunch and show you my PR.

[2015-02-25 16:46] fjarrett commented on #704
Sounds good, thanks @szepeviktor :smiley:

[2015-02-25 18:03] szepeviktor commented on #704
@fjarrett How do you develop?? My site is called `subdir.wp` on my LAN.
And wp-stream.com complains about a system error.

[2015-02-25 18:05] szepeviktor commented on #704
Now - suddenly - wp-stream.com let me in...

[2015-02-25 18:57] fjarrett commented on #704
Hey @szepeviktor we develop in `wordpress-trunk.dev` on [VVV](https://github.com/Varying-Vagrant-Vagrants/VVV). Not sure what trouble you were having without knowing the full error message.

[2015-02-25 20:19] szepeviktor commented on #704
This is the proposed format. Basically making the hierarchy flat.
[code]

[2015-02-25 20:19] szepeviktor commented on #704
This is the documentation. I suggest to keep it outside the code.
[code]

[code]

[2015-02-25 20:36] szepeviktor commented on #704
https://github.com/wp-stream/stream/pull/705

[2015-02-25 20:49] szepeviktor opened #706 "Query without `created` field returns empty object"
While fiddling with the wp-cli command I've found this returns an empty array.

[code]

[2015-03-02 19:46] matt-h opened #708 "Admin tab js breaks other pages."
We have a plugin which adds some standard admin tabs to the user-edit.php page. Since ui/js/admin.js runs on this page it is running tab script on that page with the following selector which breaks the page since the tabs are the same one Stream is looking for.
[code]

Should scope the selector to make sure it is grabbing only your tabs instead of all WordPress Admin tabs.

[2015-03-02 21:21] lukecarbis commented on #708
Thanks @matt-h . That's a good idea. Would you mind creating a PR for it?

[2015-03-02 21:34] matt-h commented on #708
There wasn't any unique stream elements around the settings page to update the selector to so one would need to be added. I've also no idea where else in stream this code might be being used.

I just wrapped the `// Admin page tabs` section with `if(window.location.href.indexOf("wp_stream_settings") !== -1)` which was a quick fix so that code only ran on the settings page.

I saw that you had `$sc

[2015-03-12 21:00] szepeviktor opened #709 "There's no link to wp-stream.com"
Please add a link to `readme.txt`.

[2015-03-19 19:34] fjarrett opened #710 "Settings field highlight JS broken in WordPress 4.2-beta2"
In WordPress 4.2-beta2 the settings field highlight functionality (#72) is not working, the hash is getting removed when the page loads.

It's unclear whether or not this will still be the case after the official release, so this issue can be considered a placeholder until that time.

**Example URI**
http://local.wordpress-trunk.dev/wp-admin/options-general.php#wp-stream-highlight:blogdescription

[2015-03-21 07:45] sc0ttkclark opened #711 "WP_Stream_DB::store() and WP_Stream_Log::log() don't return true/false correctly"
I'm finding it hard to determine if a Stream event has been logged from within a Stream connector, or any other place.

Can you pass true/false based on the $result in WP_Stream_DB::store() and ensure that true/false gets passed down to WP_Stream_Log::log() which it's called from?

`return true;` after the do_action in WP_Stream_DB::store(), and `return false;` below that statement because it woul

[2015-03-21 07:45] sc0ttkclark commented on #711
You'll also want to update the log method `@return` phpdoc, since it says void currently. The store() method says it returns boolean based on if it saved properly, so that is already set as expected.

[2015-03-25 19:37] fjarrett commented on #710
This seems to no longer be broken as of `4.2-beta2-31888`.

[2015-03-25 19:37] #710 closed

[2015-04-02 19:28] #709 closed

[2015-04-02 19:39] #708 closed

[2015-04-02 19:42] fjarrett commented on #706
Hey @szepeviktor, I just tried the command and am not seeing this problem.

Anything else you could share that might help me reproduce it?

![screen shot 2015-04-02 at 2 44 00 pm](https://cloud.githubusercontent.com/assets/522158/6972003/6160ec6e-d946-11e4-8ded-93b19671867b.png)

[2015-04-02 19:51] matt-h commented on #708
Thanks for that fix, looks good to me.

[2015-04-02 20:37] fjarrett commented on #708
@matt-h Thanks for the heads up and for verifying the fix!

[2015-04-02 21:21] #711 closed

[2015-04-02 21:23] fjarrett commented on #711
@sc0ttkclark Thanks for pointing this out. Does this work for you?

Also, just as a side note: When the actual record is sent off to the WP Stream API for storage it's sent using a non-blocking request, so we can't actually verify it saved or not. This would only be a problem for malformed records that the API would reject due to invalid data.

[2015-04-02 21:23] szepeviktor commented on #706
I was running the wp-cli way command: https://github.com/wp-stream/stream/pull/705

[2015-04-02 21:24] szepeviktor commented on #706
That is why the PHP notation, not the CLI.

[2015-04-02 21:25] fjarrett commented on #706
OK thanks, sorry that was not specified in the issue description.

[2015-04-02 21:25] szepeviktor commented on #706
Yes. Sorry.

[2015-04-02 21:26] szepeviktor commented on #706
I've ran the query in code.

[2015-04-02 21:32] fjarrett commented on #706
@szepeviktor Have you tried `fields` as an array?

[code]

[2015-04-02 21:38] szepeviktor commented on #706
It get converted to a string
`$query_args['fields'] = implode( ',', array_map( 'trim', $defaults ) );`
https://github.com/wp-stream/stream/blob/develop/includes/wp-cli.php#L43

[2015-04-02 21:40] szepeviktor commented on #706
Do I think it is
[code]

[2015-04-02 21:46] fjarrett commented on #706
@szepeviktor The [Query Reference](https://github.com/wp-stream/stream/wiki/Query-Reference#fields) wiki says it's an array. But I wrote those docs :stuck_out_tongue:

[2015-04-02 21:52] sc0ttkclark commented on #711
Gotcha, yeah this is concerning when planning on using Stream for logging more activity on a site for an item, with the possibility of data loss when the API becomes unavailable for whatever reason.

[2015-04-02 21:55] szepeviktor commented on #706
Sorry. It gets converted back to an array:
https://github.com/wp-stream/stream/blob/develop/includes/wp-cli.php#L53

[2015-04-02 21:55] szepeviktor commented on #706
[code]

[2015-04-02 21:56] szepeviktor commented on #706
Could you run it?

[2015-04-02 21:57] szepeviktor commented on #706
There is `created` in both docs example.

[2015-04-02 22:01] sc0ttkclark commented on #711
Maybe `WP_Stream_DB::insert` could get `$blocking` added and passed into `WP_Stream_API::new_records`, which `WP_Stream_DB::store` could set `$blocking` through a filter, which gets passed `$records`. The filter would get placed after the `$records` themselves are filtered and confirmed not empty.

[2015-04-02 22:23] fjarrett commented on #677
It turns out WordPress.org does have this data because they pull down an array of installed plugins and their activated state with every update.

[2015-04-02 22:23] #677 closed

[2015-04-02 22:29] fjarrett commented on #706
@szepeviktor Both of these work for me and return valid results:

[code]

Because if the `fields` are not provided as an array they are [parsed by the `query` method](https://github.com/wp-stream/stream/blob/8955920469b4143802ce88069f256d1cf9de8ee5/classes/class-wp-stream-query.php#L118).

[2015-04-02 23:57] fjarrett commented on #706
I can't reproduce this problem at all. If you can have some more detailed information about how/where you are calling this you may reopen.

[2015-04-02 23:57] #706 closed

[2015-04-02 23:57] fjarrett commented on #704
Completed in https://github.com/wp-stream/stream/pull/705

[2015-04-02 23:57] #704 closed

[2015-04-03 00:10] szepeviktor commented on #706
OK.
Right now I use Stream only on one shared-hosting production site.

[2015-04-03 01:32] fjarrett commented on #611
@solace Would you be up for helping with this in some way?

[2015-04-03 01:40] solace commented on #611
@fjarrett Can do, what's the timeframe for this?

[2015-04-03 01:41] fjarrett commented on #611
@solace Medium priority, API things would come first.

[2015-04-03 16:01] fjarrett commented on #697
Update: It seems that the `get_current_class()` value is _always_ returning as `WP_Stream_Connector_Widgets` when using WP-CLI.

[2015-04-03 17:12] fjarrett commented on #697
**Update:** After further testing I discovered that every connector _is_ logging activity when using WP-CLI commands _except_ Settings. All `$ wp option` commands are calling the `WP_Stream_Connector_Widgets` class instead of the `WP_Stream_Connector_Settings` class.

I happened to be using `$ wp option` for all of my testing and it just so happens that this was an isolated problem with one connec

[2015-04-09 18:25] sc0ttkclark commented on #711
I can't reopen or I would, any way to address the $blocking enhancement so this could be used in a more precise way (when doing logging from crons which have no timeout / UI limitations)

[2015-04-09 19:40] fjarrett commented on #711
@sc0ttkclark I think this thread and the blocking enhancement, while related, are really two separate issues.

[2015-04-09 19:56] sc0ttkclark commented on #711
I'll open a new issue then

[2015-04-09 20:02] sc0ttkclark opened #712 "Allow for blocking requests on WP_Stream_DB::store() and WP_Stream_Log::log()"
`WP_Stream_DB::insert()` could get `$blocking` added and passed into `WP_Stream_API::new_records()`, which WP_Stream_DB::store() could set `$blocking` through a filter, which gets passed `$records`. The filter would get placed after the `$records` themselves are filtered and confirmed not empty. That's passing a var down the line, so maybe an alternative would be to filter $blocking directly in `W

[2015-04-09 20:02] sc0ttkclark commented on #712
Related #711

[2015-04-16 05:25] solace commented on #611
@fjarrett Let me know when the use cases that need testing have been compiled.

[2015-04-17 00:58] fjarrett commented on #702
I have tested this in WordPress 4.2-RC1 and WP Stream does save the new `object_id` when term splitting occurs, which is the correct behavior. However, previous records for the term that was split won't have the correct `object_id`.

We can remedy this by using `wp_get_split_term()` function which accepts the old term ID and taxonomy as parameters and returns the new term ID. And the only thing th

[2015-04-17 01:49] fjarrett commented on #611
@solace We basically need to cover as many [Core Connector](https://github.com/wp-stream/stream/wiki/Connectors-Reference#core-connectors) actions as possible and validate each Stream record that is created. They are all documented there in the project wiki.

Some of the actions have multiple contexts within their connector that will apply. It will be easier for me to explain that over a call.

[2015-04-17 04:32] solace commented on #611
@fjarrett I'll a little time to go over that, will have a dig through to get familiar with the code and docs first, then we can arrange a chat next week to go over any hazy bits.

[2015-04-21 06:06] solace commented on #611
@fjarrett

1. Having a poke around, I see the `tests` directory in the Stream plugin.  Are there directions on how to run the tests just for the plugin? I'm trying various permutations around `phpunit` but may be missing something blatantly obvious.

2. Do the tests that currently exists, even though they are for the previous version, cover any of the cases in the wiki? Or should I be aiming to bl

[2015-04-22 07:35] solace commented on #611
@fjarrett

Okay figured it out (I think). In vvv, in the `plugins/stream/` directory, run `phpunit` and it will run all the tests in the `plugins/stream/tests/` directory with 'no news is good news' type of results. Doesn't list the tests executed, just the number run and passed. Only dumps extra info if there are failures.

The current suite of tests pass.

It doesn't appear as though any of the

[2015-04-22 17:20] fjarrett opened #715 "Fix compatibility with WP Cron Control plugin"
A user recently reported that Stream was not logging any data when the [WP Cron Control](https://wordpress.org/plugins/wp-cron-control/) plugin was also present and activated.

It turns out that this plugin [overrides the `DOING_CRON` constant](https://github.com/Automattic/WP-Cron-Control/blob/master/wp-cron-control.php#L317) which we depend on for [determining the current user agent](https://git

[2015-04-23 17:34] #500 closed

[2015-04-23 20:04] #702 closed

[2015-04-23 20:04] #715 closed

[2015-05-05 17:05] fjarrett opened #720 "Memory size exhausted fatal error in Settings screen"
As [reported in the support forum](https://wordpress.org/support/topic/access-problem-stream-settings?replies=4) the Exclude tab in Stream Settings is crashing due to memory size exhaustion.

![67n0fil](https://cloud.githubusercontent.com/assets/522158/7481376/0f24ba08-f335-11e4-94ff-2ef118ea6699.png)

My first guess is that this has something to do with the site having a very large number of user

[2015-05-15 15:43] solace commented on #611
@fjarrett :

* Posts: Done
* User: Done except *Session* context. Login and Logout send headers, and Lost Password's action function is not globally accessible or file-loadable. These will probably require the UAT tests we discussed.
* Widgets: Done except Created and Deleted. Do you have suggestions on how to programmatically create the widgets so that it will trigger those two actions?
* Setting

[2015-05-15 15:49] fjarrett commented on #611
@solace Awesome sauce.

Yes, like you said, for everything we weren't able to get sufficient UT coverage on, we can with UAT.

Regarding the Code and Interactive media, I have no idea. Core supports them but I haven't the slightest clue what they mean. Haha :smile:

[2015-05-15 15:50] fjarrett commented on #611
@solace Is there a PR coming for this? Please issue against `develop`.

[2015-05-15 15:54] solace commented on #611
@fjarrett If there's anything in my questions that you think can be done programmatically, I'll add those before I put in a PR. Otherwise if you think that's about it, I'll create the PR.

I take it we'll create tests for the plugins later on after the next feature push?

[2015-05-15 15:56] fjarrett commented on #611
@solace Yes, this is good for now, and yes, plugin connectors can come later as well.

[2015-05-15 20:03] #720 closed

[2015-05-18 18:57] fjarrett opened #724 "Fatal error for undefined function in WP_Stream_Author class"
As [reported by a user](https://wordpress.org/support/topic/error-updating-2) in the forums, a fatal error occurs in the `WP_Stream_Author` class during the `wp_stream_is_wp_cron_enabled()` call.

[code]

This is because the `includes/functions.php` file is not yet loaded, so the function is unavailable. The fix will be moving this logic into the `WP_Stream` class as a new method.

[2015-08-13 00:25] szepeviktor opened #727 "Is Stream dead?"
?

[2015-08-13 00:43] lukecarbis commented on #727
No. :)

We'll be releasing an update very soon, stay tuned.

[2015-08-13 00:43] #727 closed

[2015-08-13 01:00] szepeviktor commented on #727
Thank you.

[2015-08-24 23:45] #724 closed

[2015-08-25 01:55] lukecarbis opened #729 "WP_Stream_Author not found"
Some users are reporting this error when updating via WP CLI.

[code]

[2015-08-25 02:34] lukecarbis opened #730 "Screenshots need updating"
The screenshots used on the WordPress.org repo need to be updated for 3.0.

[2015-08-25 02:38] szepeviktor opened #731 "Custom wp-content location causes activation error"
On OpenShift:
[code]

[2015-08-25 02:39] lukecarbis commented on #731
Thanks for the report @szepevikto.

[2015-08-25 02:43] lukecarbis commented on #729
This is strange – `class-wp-stream-log.php` doesn't exist in Stream 3.0.

[2015-08-25 02:43] lukecarbis commented on #712
No longer applicable in Stream 3.0.

[2015-08-25 02:43] #712 closed

[2015-08-25 02:52] lukecarbis commented on #729
Okay, my guess is this:

Our Github repo is located at xwp/stream.git (it used to be wp-stream/stream.git, which would cause the same problem).

If Stream was installed like so:
[code]

Then it would install in the `stream` directory.

However, our Wordpress.org plugin is located at wordpress.org/plugins/wp-stream. When you update, it will go into a `wp-stream` directory.

I believe that this disc

[2015-08-25 03:07] lukecarbis opened #732 "Add activity logs, activity log to readme tags"

[2015-08-25 13:17] MarioKnight opened #733 "Migrate Stream 1 to Stream 3?"
I have a handful of clients whom did not make the jump to Stream 2 for one reason or another.  With the recent announcement of Stream 3 being brought back to local storage and no wordpress.com login needed, I would like to get them to Stream 3.  Testing with a site where the records aren't as important, I was hoping that the conversion process would detect the local storage of Stream 1 and perform

[2015-08-25 13:31] MarioKnight opened #734 "Stream 2 to Stream 3 update inconsistencies"
I am currently updating clients' sites one by one who have Stream 2 active.  Some have gone through with no issues, but I have noticed a couple of oddities.

* On every occasion updating through the dashboard, the update just sort of stops after "Disabling Maintenance mode…" is displayed.  There is no message of the update being complete, which displays an update being available for the next click

[2015-08-25 13:55] sirjonathan commented on #734
@MarioKnight - Luke, the lead developer, will be online later today and will follow-up in detail. Till then, the first thought that comes to mind is the hosting environment - What host (or hosts) are you using for your client sites?

[2015-08-25 14:30] MarioKnight commented on #734
We use dedicated servers running cPanel/WHM which I have root access to.  The sites that show these issues have PHP 5.4.43 running.  There is also a server with PHP 5.6.11 running, however the one active Stream installation on that server converted with no issues.

Between my messages in this thread, I have discovered that the site that fails to show the percentage bar has additional error message

[2015-08-25 14:54] fjarrett commented on #729
I just got the error while updating Stream on my personal site.

<img width="955" alt="screen shot 2015-08-25 at 9 53 24 am" src="https://cloud.githubusercontent.com/assets/522158/9469954/401a7396-4b0f-11e5-838d-ac38695bfa2d.png">

[2015-08-25 15:01] fjarrett commented on #729
@lukecarbis Maybe it's happening during plugin update because the author class gets removed and the log class is still referencing it before it has been removed? That's one theory anyway.

[2015-08-25 20:48] lukecarbis commented on #733
Hi MarioKnight. Thanks for your feedback.

I _did_ test this process, but I'm sorry to say that it fell off my radar at one point. Please hold off updating your other installs, I'll try to get this right for version 3.0.1.

[2015-08-25 21:03] lukecarbis commented on #733
Some more information from the WordPress.org repo:

[2015-08-25 21:46] lukecarbis opened #736 "Update documentation"
The Stream documentation, especially around writing custom connectors, needs to be updated.

[2015-08-25 22:38] lukecarbis commented on #729
@fjarrett Makes sense. I'll look into this some more - but at this stage it's hard to image what I could possibly do to fix it. Almost seems like a sort-of-bug in `2.0.5`, which won't be around anymore in `3.0`.

[2015-08-25 22:43] lukecarbis commented on #734
@MarioKnight I'm closing this ticket because I believe it's a duplicate of #729. The woocommerce connector issue is unrelated, I'll create a separate ticket for that.

[2015-08-25 22:43] #734 closed

[2015-08-25 22:43] lukecarbis opened #737 "Illegal string offset 'connector' in WooCommerce connector"
Reported by @marioknight:

We use dedicated servers running cPanel/WHM which I have root access to. The sites that show these issues have PHP 5.4.43 running. There is also a server with PHP 5.6.11 running, however the one active Stream installation on that server converted with no issues.

Between my messages in this thread, I have discovered that the site that fails to show the percentage bar has

[2015-08-26 00:29] jhkoning opened #738 "500 Internal Server Error"
Hi there,
I get the above error when using in conjunction with MainWP: https://mainwp.com/
This is consistent with all sites running this plugin.
I'm running the latest version of MainWP Child - 2.0.24
Cheers,
Jas

[2015-08-26 12:00] MarioKnight commented on #733
Hello Luke,

I'll hold off for 3.0.1 then, thanks for the updates and looking into it!

[2015-08-26 12:17] bordoni commented on #738
Can you activate the `WP_DEBUG` and provide us which error happens?

[2015-08-26 13:15] lukecarbis opened #740 "No option to hide previous records in exclude rules"
I'm not 100% sure that this _should_ be implemented, because of some technical limitations, but it's worth exploring properly.

I'll post my findings in this issue - let's have the discussion.

[2015-08-26 13:17] lukecarbis opened #741 "No clear option to store records indefinitely"
This may just be a UI problem, but it is a problem. We need to find out whether using a TTL value of `0` works for never deleting anything, and we need to implement some sort of checkbox or option.

[2015-08-26 13:20] lukecarbis opened #742 "Datepicker display issues when there's no outgoing connection"
When there's no internet connection (say, on a local dev environment), some there are some display issues around the datepicker in the filters area of the Stream screen.

[2015-08-26 13:22] lukecarbis commented on #737
@bordoni Would you mind having a look at this?

[2015-08-26 13:29] bordoni commented on #737
Assign it to me :wink:

[2015-08-26 13:33] lukecarbis commented on #737
I can't - we're still setting up teams and everything since Stream joined XWP. Can you please fork the plugin, make a new branch from `develop`, and then issue a PR against `develop`?

[2015-08-26 13:37] bordoni commented on #737
Ahh ok, no problems. I will PR it later on.

[2015-08-26 13:44] cameronjonesweb commented on #740
I'm not too fussed whether it is implemented or not, I suppose it would be nice but if it's not possible so be it. It's just that it was mentioned in the video on the plugin page (unless I've misinterpreted it). Maybe just do a new walkthrough for v3.

[2015-08-26 22:54] lukecarbis commented on #730
Video too.

[2015-08-26 22:55] lukecarbis commented on #740
Yeah - that's going to be fixed with #730 which is milestone for 3.0.1.

[2015-08-27 00:26] jhkoning commented on #738
Sure thing, standby...

[2015-08-27 00:53] jhkoning commented on #738
Ok, interestingly enough I've just had a new error.
I set up a standalone site to debug this, it's fresh WP 4.3 - no other plugin's activated;

Parse error: syntax error, unexpected T_STRING in /var/www/vhosts/aotearoawebdesign.co.nz/subdomains/dev/httpdocs/wp-content/plugins/stream/stream.php on line 37

Stream installed via Dashboard.

[2015-08-31 06:17] lukecarbis commented on #732
Done in ad0b3cb.

[2015-08-31 06:17] #732 closed

[2015-08-31 20:56] #731 closed

[2015-08-31 20:58] lukecarbis commented on #738
@jhkoning What version of PHP are you using?

[2015-08-31 21:01] jhkoning commented on #738
Hi Luke,
Most will be on 5.3
Had no trouble running the previous version of Steam - have the requirements changed?
Jas
On 1 September 2015 at 8:58:12 am, Luke Carbis (notifications@github.com) wrote:

@jhkoning What version of PHP are you using?

—
Reply to this email directly or view it on GitHub.

[2015-08-31 21:06] lukecarbis commented on #738
No, the requirements haven't changed. PHP 5.3 is required as always. The error you reported sounds like a version of PHP which doesn't support Namespaces (which was introduced in PHP 5.3).

[2015-08-31 23:09] lukecarbis commented on #738
@jhkoning I'm going to close this ticket for now, since the MainWP issue has been addressed here:
https://github.com/mainwp/mainwp-child/pull/6

If you can confirm that the other error you're getting is happening on PHP >= 5.3, then please open a new ticket and include your PHP version, and as much other relevant information as possible.

[2015-08-31 23:09] #738 closed

[2015-08-31 23:56] #730 closed

[2015-08-31 23:59] lukecarbis commented on #742
Reported here: https://wordpress.org/support/topic/some-bugs-13?replies=3

Stream doesn't use a datepicker. Putting this down to another plugin's fault.

[2015-09-01 01:15] #741 closed

[2015-09-01 12:49] cameronjonesweb commented on #742
I don't mean to be rude, but you're wrong. I disabled all plugins except Stream and the datepicker still shows when there is no connection. It is also completely illogical that it would be another plugin considering it only appears on the Stream feed.
If it doesn't use a datepicker, it seems to reference it an awful lot: https://github.com/xwp/stream/search?utf8=%E2%9C%93&q=datepicker&type=Code
I

[2015-09-01 22:01] sirjonathan opened #750 "Stream logo in admin sidebar missing on initial load"
Discovered an initial where the Stream logo (as well as Jetpack) are missing on initial load. Based on our discussion over Slack it sounds like this may be related to an issue with Gravity Forms.

Here's a screenshot: https://cloudup.com/c4PETatgBlK

[2015-09-02 01:38] lukecarbis commented on #742
My bad. We do use it, but it's kinda hidden (have to choose a date range of custom). Sorry @cameronjonesweb. Thanks for your persistence.

Working on a fix now.

[2015-09-02 02:14] #742 closed

[2015-09-02 02:28] lukecarbis commented on #740
I've decided not to implement this, since we have no way of changing the visibility for an item. Plus, if we did, it would be quite difficult to do with hundreds of records (we're talking timeout issues, etc).

I don't want to delete items, because of the case where the user adds an exclude rule, then changes their mind.

[2015-09-02 02:28] #740 closed

[2015-09-02 02:28] #737 closed

[2015-09-02 02:29] #733 closed

[2015-09-02 04:27] lukecarbis commented on #750
@sirjonathan What version of GF?

[2015-09-02 04:32] sirjonathan commented on #750
1.19.13

[2015-09-02 04:45] lukecarbis commented on #750
If you turn No Conflict mode OFF (unintuitive, I know), that seems to fix the problem. I wonder if this is a bug where the setting is actually reversed...

<img width="360" alt="screen shot 2015-09-02 at 14 45 08" src="https://cloud.githubusercontent.com/assets/1097667/9623250/4cb109b2-5181-11e5-9978-0f9dd4f19e85.png">

Can you confirm?

[2015-09-02 04:51] sirjonathan commented on #750
I can confirm. Switching "No Conflict Mode" to off resolves the issue. The logos appear properly. Switching it to "On" (and refreshing) brings the issue back.

[2015-09-02 04:57] lukecarbis commented on #750
I'm going to put this one down as a gravity forms issue, let them know about it.

[2015-09-02 04:57] #750 closed

[2015-09-02 21:50] lukecarbis opened #754 "Action links aren't appearing in the Stream Records"
As an example, when viewing a record for a post that has been trashed, there should be a link to "Restore Post" which appears below it.

[2015-09-02 21:52] lukecarbis opened #755 "Reset Filters text wraps"
When applying filters, the link to reset the filters wraps over to the next line. It shouldn't.

<img width="833" alt="screen shot 2015-09-03 at 07 47 14" src="https://cloud.githubusercontent.com/assets/1097667/9645691/9c1884a0-5210-11e5-94e9-7249aca472d8.png">

[2015-09-02 22:58] lukecarbis opened #756 "Change Stream plugin author to XWP"

[2015-09-02 23:32] lukecarbis opened #757 "Change plugin name to Stream by XWP"
I'd love to get some discussion happening around this idea.

One of the keys to Stream's long term success is the value it provides to [XWP](http://xwp.co). One aspect of this value is brand recognition.

One strategy used by some plugins is to use the brand name as part of the plugin name.

e.g. **Jetpack by WordPress.com**

<img width="493" alt="screen shot 2015-09-03 at 09 17 30" src="https://c

[2015-09-02 23:40] Chunk69 commented on #757
I personally think that is fine, just re affirms the brand behind the plugin, I say go with it.

[2015-09-02 23:47] Japh commented on #757
Personally, I prefer it to stay as is. It does already say "By XWP" on it. Also, shorter, snappier names are better. It creates confusion about "Is it just Stream? Or is it actually Stream By XWP?"

As far as brand awareness goes, you could include a paragraph on the plugin's description page about XWP's role. Also, include XWP branding in the header image somehow.

[2015-09-02 23:56] MaxOnTheHill commented on #757
have it as "Stream by XWP"  ... not only does it provide more value/brand recognition for XWP, but it also adds value to the product by being associated with XWP.
... any Yoast plugin is considered more highly, because it has "Yoast" in it's name.
-> Build that relationship and trust for XWP and it's offerings by using this same method ;)

[2015-09-02 23:58] wealthyone commented on #757
trouble is we all know what Wordpress and Yoast is, but do we know what XWP is?
and the other day when you told us about Stream is, I never searched for Stream as it had nothing to do with what changed to my site were happening. Like Audit log etc etc

[2015-09-02 23:59] kingfishercreative commented on #757
So as a brand, you have to look at if the name Stream is taken in any other type of software… An example might be Stream Accounting Software (I don’t know if that exists or not it’s just a made up one), people who use both Stream Accounting Software and WordPress might see Stream and automatically assume it’s to do with the Accounting Software when it doesn’t. Adding `By XWP` may enable people to

[2015-09-03 00:01] lukecarbis commented on #757
@wealthyone How do we know what Yoast is?

Searching for Stream should definitely be easier. I added some tags recently (https://github.com/xwp/stream/commit/ad0b3cbcdcae9e8f3a12f14498ec243902e67cdd), but audit log isn't one of them. I'll make an issue for that now.

[2015-09-03 00:06] lukecarbis opened #758 "Add new plugin tags: "audit log", "audit logs", "audit""
Suggested by @wealthyone. This would make Stream easier to find when searching the WordPress.org repo.

[2015-09-03 00:10] wealthyone commented on #757
@lukecarbis  Yoast in the word itself doesnt mean much I guess but it is now associated with what they do..
I guess we could say that for so many names

[2015-09-03 00:17] kingfishercreative opened #759 "Export functionality for reporting"
Allow the ability for a CSV, Excel, PDF or other type of file format for exporting for reporting. Some clients require this ability for reporting to their managers, departments etc. to justify budgets spent on websites.

[2015-09-03 00:20] lukecarbis commented on #759
This is a great idea. I wonder whether or not this is valuable enough to a broad range of users to be in Stream core, or if it there should be a separate plugin which enables this functionality. I want to balance having a robust core feature set with keeping things lean and mean.

@kingfishercreative If it were a separate plugin, would that change things for you?

[2015-09-03 00:24] kingfishercreative commented on #759
I could see the usefulness in having it as a separate plugin. The only issue I have is when you start doing separate plugin's, most of the time they are only available via an additional fee, not everyone wants to do this.

[2015-09-03 00:32] lukecarbis opened #760 "Stream's "Voice""
Stream has various dialogs and messaging, including a Summary for every action that it logs.

I'd like to explore the idea of establishing a voice for this messaging. What sort of personality should Stream have?

How can we establish consistency with our language?

[2015-09-03 00:34] Japh commented on #760
Oh, I love this idea!

[2015-09-03 00:40] lukecarbis opened #761 "Stream Records list table design refresh"
In a long list like Stream's records table, visual cues can help users find what they are looking for faster.

The user profile image is a good start, why not expand that? How can we visually enhance each context for better skim-ability?

[2015-09-03 00:50] Stephen-Cronin commented on #757
Shorter and simpler is better (eg Stream), but if Stream by XWP helps safeguard the future of the project, by providing XWP with branding exposure that they won't want to lose, then go with that!

I agree with @wealthyone that Yoast has much better brand awareness than XWP, but a large part of that was created through branding their plugins with Yoast in the name. So adding "by XWP" should help pe

[2015-09-03 00:54] lukecarbis commented on #759
@kingfishercreative So, what your saying is that export functionality would be great, it would work best in a separate plugin as a Stream extension, and it should be free - is that right?

If so, I think we could make that work.

[2015-09-03 00:56] Japh commented on #757
"Activity Stream by XWP" ?

[2015-09-03 00:58] MaxOnTheHill commented on #757
"A-Track by XWP"?

[2015-09-03 00:59] wealthyone commented on #757
@Stephen-Cronin  thats what I was trying to say. About what it does.   lol

[2015-09-03 01:01] lukecarbis commented on #757
Thanks for the thoughts @Stephen-Cronin . Much appreciated... but... I'm not going to change the name. :stuck_out_tongue:

[2015-09-03 01:45] jordesign commented on #760
+1 for this - definitely helps to have a certain 'personality' through the messaging

[2015-09-03 01:46] jordesign commented on #761
I think it could be interesting (when notifications exist) for users to set certain contexts/actions to be highlighted in the list?

[2015-09-03 01:46] lukecarbis commented on #761
Oh! Great idea.

[2015-09-03 01:52] lukecarbis opened #762 "Stream Notifications"
Notifications were a premium feature in version 2 of Stream, and I'd like to reintroduce them into Stream 3 for free.

At the same time, I'd like to redevelop them from the group up, and rethink the interface.

The user should be able to create rules for various situations (i.e. If an administrator publishes a post on Saturday), and choose a notification type.

At launch, the user should be able t

[2015-09-03 03:54] peterwilsoncc commented on #757
I'd be fine with "Stream by XWP", yes it marketing, yes it's building brand recognition but neither is necessary a bad thing.

I'd like to see XWP produce a range of high quality plugins, identifying them in this fashion will help users looking for them. Brand recognition can be a two way street.

You need to remember it is a double-edged sword, mess up peoples sites and it's "broken by...". This

[2015-09-03 04:05] westonruter commented on #757
:+1:

I am reminded of WordPress.com's [alloptions size overrun error screen](https://github.com/Automattic/vip-quickstart/blob/0e54800664d4b6399ff8a0bd9e5adecbe85b6528/www/wp-content/mu-plugins/alloptions-limit.php#L36-L79):

<img width="451" alt="screen shot 2015-09-02 at 9 01 32 pm" src="https://cloud.githubusercontent.com/assets/134745/9650303/01a5fcf4-51b6-11e5-9d97-a8bdf4d32125.png">

:smile

[2015-09-03 04:18] lukecarbis commented on #308
@westonruter This thread is pretty old, but it's still an issue.

Would you have time to look into this? Or could you recommend a place to start?

[2015-09-03 04:25] lukecarbis commented on #516
Now that we _don't_ have the power of Elasticsearch anymore, I'd like to revisit this issue.

There are two ways to group records: During the DB Query (or with PHP post query), or with Javascript.

The sort of MySQL query that could achieve this would be extremely expensive, as would any post processing.

Javascript has problems, too. You run into pagination issues. Suppose records 1-6 should be g

[2015-09-03 04:26] #611 closed

[2015-09-03 04:29] lukecarbis commented on #612
This problem seems to have been resolved in the current version.

[2015-09-03 04:29] #612 closed

[2015-09-03 04:30] #632 closed

[2015-09-03 04:47] #701 closed

[2015-09-03 04:58] #758 closed

[2015-09-03 05:05] westonruter commented on #308
@lukecarbis hey, I don't have time to look into it, but I do have a recommended starting place:

The [`customize_save_{$id_base}` action](https://github.com/xwp/wordpress-develop/blob/master/src/wp-includes/class-wp-customize-setting.php#L232-L259) fires for each setting that gets saved. It's unfortunate actually that the action has this dynamic portion, but what you can do is hook into the global

[2015-09-03 05:12] #755 closed

[2015-09-03 05:54] shadyvb commented on #516
I think the answer actually might be in *pre-processing* rather than *post-processing*, ie: caching last record, and comparing with the new one to be inserted, probably using the first post's ID as a shared key with all subsequent entries, which you can later group with.

Risks might involve racing conditions, but we experiment about doing it in SQL, not sure how yet. Either duplicating writing qu

[2015-09-03 06:10] shadyvb commented on #516
Experiment nested write queries, checking for the last recorded log ( via having no WHERE but a LIMIT 1 ), and using IF to use the found ID in post_parent.

[2015-09-03 12:41] cameronjonesweb commented on #757
I think it's a good idea, particularly as it is the flagship plugin for XWP.

On the topic of the title, I think I echo other's thoughts in that the title doesn't particularly convey what it does. I'd like to see it named something along the lines of "Stream by XWP - Dashboard Activity Monitor", but that's just personal opinion.

[2015-09-03 23:56] lukecarbis commented on #756
Resolved in #764.

[2015-09-03 23:56] #756 closed

[2015-09-04 01:34] jordesign commented on #761
Proposed UI change for the list table design.
![streamlist_v3](https://cloud.githubusercontent.com/assets/1842363/9674797/d21aefdc-52f8-11e5-916d-19e20084fccc.jpg)

[2015-09-04 01:36] lukecarbis commented on #761
:heart_eyes_cat: Very nice.

I like your thinking on the date - hiding the date for recent entries with the current date, and hiding the time for older entries. I feel that the extra information should still be visible somehow. A tooltip?

Also, on the date format, I think we should stick with Y/m/d. See @fjarrett's comment here: https://github.com/xwp/stream/issues/353#issuecomment-38757040

[2015-09-08 23:27] lukecarbis opened #766 "Stream is storing the connector label in the database instead of the slug"

[2015-09-08 23:31] lukecarbis commented on #757
Thanks everyone so much for your feedback.

On weighing up everyone's thoughts, I think it's best to leave Stream as is. A few people mentioned that a simple plugin name is better, and I definitely agree with that.

More to the point though, drawing attention to XWP through the plugin name at this point won't be very effective, since Stream is XWP's only product right now.

If XWP one day has a ra

[2015-09-08 23:31] #757 closed

[2015-09-08 23:32] lukecarbis commented on #759
Closing this, since it's a great idea but doesn't belong in core Stream.

[2015-09-08 23:32] #759 closed

[2015-09-08 23:35] cameronjonesweb opened #767 "Can't connect with Jetpack while Stream is active"
`Notice: Undefined index: data in /home/cmarchitects/public_html/wp-content/plugins/stream/connectors/class-connector-jetpack.php on line 316`

Happens when Stream is active and then you attempt to connect Jetpack with WP.com and debug mode is on.

[2015-09-09 00:17] lukecarbis commented on #767
Thanks for reporting this @cameronjonesweb. Will release a fix with 3.0.2.

[2015-09-09 00:35] #767 closed

[2015-09-10 17:17] d4mation- opened #769 "Posts Auto-Drafting showing up under the "Update" Action--No way to Exclude them"
Issue #293 covers Posts without Titles that have been Auto-Drafted.

I currently am seeing a ton of Posts with Titles that are being Auto-Drafted and adding entry after entry to Stream. It would be different if their Status was being directly changed from Published->Draft, but it is just the Auto-Saving Draft that is causing this.

Attached is a screenshot showing that 4 of the 8 Stream Entries fo

[2015-09-17 23:28] sc0ttkclark opened #770 "wp_stream_query function backwards compatibility broken"
The wp_stream_query function no longer exists in 3.0, which breaks code for plugins and themes using it from 2.x.

It's also still referenced here: https://github.com/xwp/stream/wiki/Query-Reference

[2015-09-17 23:32] sc0ttkclark commented on #770
Looks like the way to query is now:

`$results = wp_stream_get_instance()->db->query->query( $args );`

A lot less clean looking for sure.

[2015-10-01 02:27] lukecarbis opened #771 "Gravity forms error when deleting a form."
`( ! ) Strict standards: Only variables should be passed by reference in /srv/www/wordpress-develop/src/wp-content/plugins/stream/connectors/class-connector-gravityforms.php on line 726`

Also, trashing a form isn't tracked.

[2015-10-01 02:29] lukecarbis opened #772 "Repeating "changes" from cronjob / IP filtering"
Everytime my multsite cronjob runs (i.e. every 5 minutes), stream reports "blog_id" and "time" settings changed for each site. I've been trying to exclude those spurious mesasges via the filtering mechanism, but IP based filtering does not seem to work at all.

Reported here: https://wordpress.org/support/topic/repeating-changes-from-cronjob-ip-filtering

[2015-10-01 02:36] lukecarbis commented on #761
Suggestion for displaying users here:

"It would be good to see the user's full name in cases where the users share a screen name. For example, I have websites for clients that display their name publicly (on the blog for example) as the company name and there can be a number of users doing this on the same website, but as that is what stream uses also it become confusing who is who."

From https:

[2015-10-01 05:38] pep- commented on #772
Should we split this into separate issues? I assume that the cron-caused messages are not directly involved with IP-based filtering.

[2015-10-02 01:32] #754 closed

[2015-10-02 01:32] #766 closed

[2015-10-02 01:36] lukecarbis commented on #770
Thanks for the report @sc0ttkclark. Yes, backwards compatibility with 2.0 is broken in this version. You're right that it's a lot less clean looking.

Starting in 3.0.2, I've added a helper function which cleans it up a little. You'll be able to do:

[code]

Or my personal preference:

[code]

[2015-10-02 01:38] #770 closed

[2015-10-02 01:40] sc0ttkclark commented on #770
You could still have the function around though and throw a `_doing_it_wrong()` -- https://developer.wordpress.org/reference/functions/_doing_it_wrong/

Why break it to break it?

[2015-10-02 01:58] lukecarbis commented on #769
Thanks for reporting this @d4mation-. It will be fixed in the next update (3.0.2).

[2015-10-02 02:46] #769 closed

[2015-10-02 03:27] lukecarbis commented on #770
There's lots of breaking changes between version 2 and 3. Our policy is to maintain back compat between minor version releases, but not between major version releases, in the interest of keeping the code base as slim as possible.

[2015-10-02 07:13] sc0ttkclark commented on #770
Gotcha, wasn't aware that was your plan. Thanks for following up with a quicker path to querying though, appreciate it.

[2015-10-02 07:22] GaryJones commented on #770
@sc0ttkclark Non-sarcastic question - doesn't the major version bump between v2 and v3 suggest there's a strong chance of non-backwards-compatibility, as per [semantic versioning](http://semver.org)?

[2015-10-02 07:27] sc0ttkclark commented on #770
Yes, based on Semantic versioning, that's what you'd expect. But the API didn't change (the args stayed the same) the way to call the query method changed. So now there's no wrapping function, which is fine, I would have preferred to use a forward-compatible solution in the code I built originally but the function was all that was in the examples for that.

However, in the WordPress / plugin world

[2015-10-05 23:57] lukecarbis opened #778 "PHP 5.2 gives fatal error"
Stream should fail gracefully on PHP versions lower than 5.3, but currently it's not.

Getting this error:
[code]

Reported here: https://wordpress.org/support/topic/fatal-error-on-activation-in-wp-431-stream-301?replies=3#post-7507734

[2015-10-06 01:31] lukecarbis commented on #771
Not completely resolved yet.

[2015-10-07 18:20] rob commented on #771
See #780. Still issues. I just submitted some more fixes. I'll keep working on it this week and see if I can make sure the connector is 100% fixed.

[2015-10-16 03:53] #778 closed

[2015-10-20 00:30] lukecarbis opened #782 "EDD Connector undefined index"
When adding / editing categories the following PHP notice is being generated.

[code]

Reported by [Blue Liquid Designs](http://www.blueliquiddesigns.com.au/) here: https://wordpress.org/support/topic/php-notice-undefined-index-contexts-in-class-contror-eddphp?replies=1

[2015-10-20 21:17] nebbens opened #783 "Unable to migrate connector to Stream 3"
I am trying to upgrade our custom connector to STREAM 3, but am experiencing some issues.  On the STREAM log page it says "class wasn't loaded because it doesn't implement the get_label method."  However our connector does implement the get_label method and I have checked it against some of the other connectors and that method seems correct.
The other issue that is likely related is that I notice

[2015-10-21 00:57] lukecarbis commented on #783
Hi Natalie,

You're right - this error is probably occurring because you're implementing get_label in a static way.

I've updated our documentation with an example of how to correctly implement a connector in Stream 3.0. You can see it here: https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector

Let me know if there's anything more I can do to help!

[2015-10-21 00:57] #783 closed

[2015-10-21 00:57] lukecarbis commented on #736
Done: https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector

[2015-10-21 00:57] #736 closed

[2015-10-21 06:19] nebbens commented on #783
Thank you for your response and for the update to the wiki!  I actually had removed the references to static in all of the function calls, so I'm not sure why it wasn't seeing the get_label implementation, but after playing around a bit, I have a new error.
Fatal error: Call to a member function get_label() on a non-object in /home/pefisrae/public_html/wp-content/plugins/stream/classes/class-conne

[2015-10-21 21:59] lukecarbis commented on #783
That error looks like you're not adding your class correctly via the filter. See the *Registering A Connector* part in the docs: https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector#registering-a-connector

If you're confident that it's being registered correctly, then could you please edit `classes/class-connectors.php`, and search for this code:

[code]

Immediately below this, add:
[c

[2015-10-22 06:30] nebbens commented on #783
Thank you, Luke.  It appears to be putting the plugin name into the array rather than an instance of the plugin. (see last array object)

array(14) { [0]=> object(WP_Stream\Connector_Blogs)#54 (4) { ["name"]=> string(5) "blogs" ["actions"]=> array(14) { [0]=> string(13) "wpmu_new_blog" [1]=> string(18) "wpmu_activate_blog" [2]=> string(13) "wpmu_new_user" [3]=> string(16) "add_user_to_blog" [4]=>

[2015-10-22 06:32] nebbens commented on #783
Here is my registration code:
			function pef_register_stream_connector( $classes ) {

			    require_once( PEF_CLASS_PATH . 'class-stream-connector.php');
			    $classes[] = 'WP_Stream_Connector_PEF_Notifications'; // The name of your child class

			    return $classes;
			}
			add_filter( 'wp_stream_connectors', 'pef_register_stream_connector' );

[2015-10-22 06:49] lukecarbis commented on #783
@nebbens Yeah - you're spot on. You need to supply the instantiated class. I've updated the docs to reflect that.

https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector#registering-a-connector

[2015-10-22 15:07] nebbens commented on #783
Thank you again, Luke.  That fixed things.  I saw that was how you were handling the other connectors, just wasn't sure where to get the log, etc.  Thank you for updating the documentation--much easier!
One note though that it needs a ; on the line  $stream = wp_stream_get_instance().
Thank you for the quick response.

[2015-10-27 02:57] lukecarbis opened #784 "Password generation and IE8 issue"
Come across a strange issue with the new password change/generation feature of WP 4.3 and IE8.

The generate password button on the user profile does not function at all in IE8 if the Stream plugin is enabled. Clicking the button just doesn't do anything. Disable the plugin and it starts working again.

Reported by Castor, here:
https://wordpress.org/support/topic/password-generation-and-ie8-issue

[2015-10-28 23:22] thecorkboard opened #785 "BuddyPress Activity Tracking Limited"
Hello-

Great plugin. It's doing good work helping me understand what users are doing in the admin, but it's not meeting my expectations (which could be too extreme) with regard to BuddyPress. I expected it track when people posted new updates (much like how BuddyPress natively does this in the admin), but this isn't the case. It's getting when updates are deleted, but not initially posted.

I tho

[2015-10-29 12:40] 13pixlar opened #786 "Feature request"
This is a feature request regarding Stram and Gravity Forms.

We run a fairly complex multisite with lots of sites and even more forms. It would be awesome to track/log every user form interaction. Not edits to the form but sibmits/edit/deletes of entries on the front end.

We run many simultanious events that users sign up for using fairly complex forms that they can come back and edit at a later

[2015-11-06 02:03] lukecarbis opened #787 "Bulk Activate / Deactivate plugins"
The Plugins connector isn't tracking bulk actions.

[2015-11-06 02:16] lukecarbis commented on #771
Resolved in #781.

[2015-11-06 02:16] #771 closed

[2015-11-06 03:19] lukecarbis commented on #772
@mundschenk-at Which cron is running which causes this? `update_network_counts`?

[2015-11-06 03:49] lukecarbis commented on #772
@mundschenk-at I have been able to fix the exclude issue, but I've not been able to replicate the addition extraneous reports. Can you help me to reproduce them?

[2015-11-06 03:54] #772 closed

[2015-11-06 04:11] lukecarbis commented on #786
@13pixlar This should be implemented in #780 .

[2015-11-06 04:12] #786 closed

[2015-11-06 04:26] #784 closed

[2015-11-06 04:28] #782 closed

[2015-11-06 04:42] lukecarbis commented on #787
Can't replicate anymore.

[2015-11-06 04:42] #787 closed

[2015-11-06 07:22] mundschenk-at commented on #772
@lukecarbis It's a custom multisite cronjob that call's wp-cron.php from a shell script.

[2015-11-07 10:16] lukecarbis commented on #772
@mundschenk-at In that case I'll leave it to you to figure out why it's changing the `blog_id` and `time`. The exclude rules problem should now be fixed.

[2015-11-07 11:09] mundschenk-at commented on #772
@lukecarbis It's custom in so far ihat it calls wp-cron.php for each site in the multisite network (with `define(‘DISABLE_WP_CRON’, true)`), but that's all just using standard WP functionality. I don't think the mechanism (via a real cronjob or on every page load) of calling wp-cron.php should matter much here.

[2015-11-08 21:50] lukecarbis commented on #772
I'd say it would be related to one of the cron jobs that are running. Are any custom? You can use Debug Bar with a Debug Bar Cron add-on to see which cron jobs are scheduled. I've tried running all the default cron jobs and I can't replicate.

[2015-11-08 22:59] #729 closed

[2015-11-08 23:02] lukecarbis commented on #761
@jordesign Planning on working on this one soon. Think you could offer an updated concept, based on the two suggestions above? I'd also be keen for your thoughts on this related issue: #595 .

[2015-11-08 23:22] jordesign commented on #761
@lukecarbis will do - try and look at this in the next few days. Re: Full Name - do you think instead of display name? or as well as?

[2015-11-08 23:35] lukecarbis commented on #761
@jordesign Actually, my thoughts on this is that we should use the existing WordPress convention of using the "Display name". This is what the "Author" column in the posts list table uses, and Stream should do the same.

It might be helpful to include a title tag with the username, so one could hover over the name if there's a duplicate, but that doesn't need to be included in the design.

What do

[2015-11-08 23:41] jordesign commented on #761
Agreed - better to go with convention - but adding a 'title' attribute for the tooltip would be a nice touch.

[2015-11-09 09:43] mundschenk-at commented on #772
@lukecarbis Not custom as in made by me, but of course various events by several different plugins are scheduled. However, while I've been able to trigger the bug on a site with very few plugins by manually triggering an event via the plugin WP Crontrol, it's not been repeatable (and the calls don't appear totally regularely), so there seems to be some kind of race condition. Could these messages

[2015-11-09 10:12] lukecarbis commented on #772
@mundschenk-at Yes, that could make sense. If you're able to replicate the issue, let me know.

[2015-11-09 15:21] desrosj opened #792 "Fatal Error on sites with Jetpack"
Seeing a fatal error on sites that have Jetpack enabled. Stream Records page loads until a Jetpack event is hit, and stops.

PHP Fatal error:  Class 'WP_Stream\Jetpack' not found in site/path/on/server/wp-content/plugins/stream/connectors/class-connector-jetpack.php on line 171.

[2015-11-11 13:36] sirjonathan commented on #792
Noticing the same error here.

[2015-11-11 13:39] sirjonathan opened #793 "Filtering UI appears broken"
In one install of Stream, the "Start" and "End" date are exposed inline and the other dropdowns appear improperly populated. See screenshot: https://cloudup.com/caADpVKTPdz

The following error displays in the console: https://cloudup.com/cLN7JUi_8jW

In a separate install, the UI doesn't appear broken but isn't populated either. Note "Users" in this screenshot: https://cloudup.com/cu53_DbaCuX

I

[2015-11-12 00:31] lukecarbis opened #794 "Update compatible to tag"
Currently says 4.2.5, but it's compatible beyond that.

[2015-11-13 16:15] rob opened #795 "Records page doesn't fully load / datepicker js error"
This only happens on one of our sites (we have a bunch.)

Trying to load the main records page causes a fatal js error:

`admin.js?ver=3.0.3:20 Uncaught TypeError: datepickers.datepicker is not a function`

![stream-page](https://cloud.githubusercontent.com/assets/503/11150792/c0d46222-89f7-11e5-8c5d-cd1387bc1a31.png)

Trying to go to other record pages (such as `/admin.php?page=wp_stream&paged=3`

[2015-11-15 23:01] lukecarbis commented on #795
Hi @rob. Re: the fatal js error - could this be a plugin conflict? What other plugins are you running on the site? Can you turn them all off, see if it still happens?

Regarding the blank pages... I've a feeling it's related to #792.

[2015-11-16 00:30] lukecarbis opened #796 "wp_stream_record_inserted doesn't fire for network events"
Reported by SMILE here: https://twitter.com/smileupdate/status/659862443116642306

[2015-11-16 15:22] rob commented on #795
Hi @lukecarbis - you're right, it looks like Jetpack is the cause of this issue. I disabled Jetpack and everything works as it should. I'll close this as it's a duplicate of #792.

[2015-11-16 15:22] #795 closed

[2015-11-17 21:46] lukecarbis opened #797 "Function does not exist when logging in or out"
Recently when I network-enabled Stream I was unable to login or logout w/out a 500 error, ultimately forcing me to delete the plugin. When I set WP_DEBUG to true, I got the following error on logout:

Fatal error: Call to undefined function WP_Stream\is_plugin_active_for_network() in /var/www/servername/wp-content/plugins/stream/classes/class-log.php on line 163

Reported here: https://wordpress.o

[2015-11-20 19:13] jscmal commented on #785
Hi I am experiencing the same problem and I am not using a Multisite.  What to do to manage the problem?

[2015-11-25 22:53] jwold commented on #760
The first thing that comes to mind for me is the voice and messaging with Mailchimp. It of course has a more playful tone, going along with their logo/mascott. The personality is kind of fun and makes it very memorable.

Along those veins having some kind of a tone can help a lot with consistency across the plugin.

Another more extreme (and hilarious) example is: http://www.meetcarrot.com/

[2015-11-25 22:59] jwold commented on #761
@lukecarbis is the next step for a new UI concept of this? I may have bandwidth next week to jump in and help with a concept. Not sure about @jordesign's availability. Thanks!

[2015-11-26 21:54] lukecarbis commented on #761
@jordesign - think we could get a refresh of your concept, based on the discussion?

[2015-11-26 21:56] lukecarbis commented on #760
@jwold Love both Carrot and Mailchimp, but I'm not sure if they're the right approach for Stream. I'm not really sure how to go about "deciding" what a voice sounds like, though. Could you suggest next steps?

[2015-11-26 23:28] jordesign commented on #761
@jwold @lukecarbis Here's an updated visual - keen for feedback.
![streamlist_v4](https://cloud.githubusercontent.com/assets/1842363/11431697/86fe3708-94f1-11e5-832e-a37d90817751.png)

[2015-11-27 00:03] fjarrett commented on #761
Big 👍 from me FWIW!

[2015-11-27 00:04] jordesign commented on #761
Thanks @fjarrett - much appreciated

[2015-11-27 00:54] #792 closed

[2015-11-27 00:54] #794 closed

[2015-11-27 01:37] #793 closed

[2015-11-27 01:44] #797 closed

[2015-11-27 01:52] lukecarbis commented on #796
Can not replicate. `wp_stream_record_inserted` was definitely fired when I marked a site as not public.

[2015-11-27 01:52] #796 closed

[2015-11-27 02:10] lukecarbis commented on #785
Currently BuddyPress only tracks events which occur in the back end. This needs to be changed so that it works in the same way as comments, tracking events which write to the database but occur on the front end.

I'm not that familiar with BuddyPress, so if anyone would like to help out in this area, that would be greatly appreciated.

[2015-11-27 02:46] lukecarbis commented on #697
Resolved in #7c202b6.

[2015-11-27 02:46] #697 closed

[2015-11-27 04:29] lukecarbis opened #803 "Cloudflare IP Address"
IP Addresses are incorrect when the site is behind Cloudflare. See http://stackoverflow.com/questions/14985518/cloudflare-and-logging-visitor-ip-addresses-via-in-php.

[2015-11-27 12:20] ocean90 opened #804 "Responsive List Table"
The list table looks a bit broken below 783px:
<img width="757" alt="stream" src="https://cloud.githubusercontent.com/assets/617637/11441098/ee7feeaa-9508-11e5-8fde-d71362840cce.png">

Related: https://make.wordpress.org/core/2015/08/08/list-table-changes-in-4-3/

[2015-11-27 15:44] jwold commented on #760
@lukecarbis I agree that those two voices would be too playful for Stream. My familiarity and use of Stream is a bit limited. I've only been using it for the past month or two on my development and personal websites. However, in the time I've used it the reason I've installed them is for security, so that I can trace back my steps in case something goes wrong. It's security for me. I imagine that

[2015-11-28 11:14] lukecarbis commented on #803
Issue is resolved by installing the Cloudflare plugin: https://wordpress.org/support/topic/inconsistent-display-of-events-and-ip-address-belongs-to-server?replies=5#post-7716456

[2015-11-28 11:14] #803 closed

[2015-12-03 22:29] lukecarbis opened #805 "PHP7"
Test PHP7 support

[2015-12-11 18:50] mundschenk-at opened #807 "Database error when comment has been approved by super admin"
I get a slew of database errors regarding the column `user_role`, e.g. when approving a comment. I assume this happens because the user is a super admin.

```WordPress database error Column 'user_role' cannot be null for query INSERT INTO `<prefix>_stream```

[2015-12-16 19:19] elconejito opened #809 "Possible fix for Connector_GravityForms::callback_gform_post_note_added() error"
Hey folks,

I'm getting this error while adding a note into GravityForms entry.
[code]

I get this message when I add a note using the following code which runs as a feed on gravity forms (not sure if that part is relevant). Stream does appear to log the action correctly though.
[code]

I narrowed it down to https://github.com/xwp/stream/blob/develop/classes/class-connector.php#L38 which adds the

[2015-12-17 22:57] lukecarbis commented on #805
https://github.com/xwp/wp-dev-lib/pull/124

[2015-12-18 00:00] lukecarbis commented on #807
Hi @mundschenk-at . I've tried testing this but can't reproduce. I've been testing on multisite as a Super Admin. I've tried being added as a User to the site, and without being added as a User.

Either way, no database errors.

Could you give me steps to reproduce? Also, is this a new-ish install of Stream 3, or have you been a long time user?

[2015-12-18 00:28] lukecarbis commented on #805
Fixed in https://github.com/xwp/stream/commit/4660bf0467654edb82d9f13a1958b5db7808e08e.

[2015-12-18 00:28] #805 closed

[2015-12-18 08:42] mundschenk-at commented on #807
I've been using Stream since the initial release of Stream 3, but not before. Maybe we should compare the schema dumps? Is the column supposed to be nullable or not?

[2015-12-21 03:14] lukecarbis commented on #807
My database schema says that `user_role` doesn't accept `null` values (so it _is not_ nullable).

However, it should accept empty strings (which Stream does sometimes: in the case of the N/A user like a cron or cli).

[2015-12-21 08:40] mundschenk-at commented on #807
If it is not nullable, then the schema and the database itself are not at fault. The problem appears when triggering a plugin update on Multisite. The resulting entry has the Summary "Updated plugin:" (without the plugin name!), User "N/A", Context "Installer -> Plugins", Action "Updated", Site and IP Address normal.

[2015-12-21 15:44] glenp opened #813 "CSV Export"
Feature request - would be great to export Stream data to a CSV file for analysis. For example, I want to know the top 10 most active user accounts by login to measure engagement. Currently I can only see the activity on a user-by-user basis so it would be great to quickly slice and dice the data in a more portable form.

[2015-12-21 21:28] #809 closed

[2015-12-29 00:40] lukecarbis commented on #807
I've been able to replicate the "Update plugin:" (no plugin name) error. This occurs when the plugin is updated via AJAX from the plugins list table.

However, I've been unable to replicate with the User "N/A". Each time it has the correct user. What's more, I don't receive any errors.

When logged in as the primary super admin, my database shows a `user_role` of `administrator`. This may be becau

[2015-12-31 10:42] mundschenk-at commented on #807
Sorry for the late reply. The schema looks identical. The superuser acount in my setup also has (some) sites assigned to it. However, for admin actions on the network level, I don't think the "administrator" role is ever valid (even though some parts of WP core sometimes think they are doing things on the primary site, strictly speaking, that is not true).

[2015-12-31 15:34] mundschenk-at commented on #807
I just updated a plugin and this time the user and plugin name were recorded correctly. This was a single update, not from the list view.

[2016-01-13 17:29] osprime commented on #813
I agree with an CSV export but my case is to send clients an update of actions that were preformed on their sites. Currently copy and pasting the progress tends not to look good in email.

[2016-01-22 20:11] desrosj opened #814 "Role array without 0 index preventing log from being created"
Working on a site and noticed debug.log instances where the following would occur:

```WordPress database error Column 'user_role' cannot be null for query INSERT INTO `wp_stream````

Looked around and tracked it this line in classes/class-log.php

```'user_role'  => (string) ! empty( $user->roles ) ? $user->roles[0] : '',```

After some debugging I found that the roles property of WP_User is not

[2016-02-10 04:48] lukecarbis commented on #813
Great idea. I think CSV is going to be the most light-weight and flexible solution, short of a fully fledged Stream Reports plugin. I think an "Export CSV" link at the bottom left of the Stream list would work well.

The exported CSV should respect the current filtering rules, too.

@chacha Any other ideas? Would you be happy to implement this?

[2016-02-10 19:15] shadyvb commented on #762
We can also provide desktop notifications through [service workers](https://www.chromestatus.com/feature/5480344312610816), which would be a great way to provide real-time notifications, and possibly actionable messages as well, if we currently have any.

[2016-02-12 06:14] chacha opened #816 "Travis build failing"
Currently the Travis build on all branches in failing. However, it doesn't appear like this has anything to do with Stream. Instead, it appears that WordPress 3.9 and PHP7 cause a large number of deprecated warnings due to the deprecated of the old constructor style:

    Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; Translation_Entry ha

[2016-02-14 17:43] sirjonathan opened #818 "Update FAQ"
https://github.com/xwp/stream/wiki/FAQ

It contains out-of-date references.

[2016-02-14 18:10] sirjonathan opened #819 "Make custom connector documentation more beginner-friendly"
https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector

Offer more complete start-to-finish guidance. A few specific suggestions:
- give them a complete plugin file that they can edit and drop in place (i.e. include plugin headings).
- explain, outside of code documentation, how triggering Stream works (i.e. the callback to the action)
- Offer some actual examples along with the foo / bar

[2016-02-18 08:42] mundschenk-at opened #820 "Conflict with WP Slimstat premium add-ons"
Having add-ons for the site analytics plugin "WP Slimstat" installed makes Stream unusable because every few hours there is an entry generated for each add-on. Since there is no pattern matching for the summary text, there is no possibility to filter these entries. They look like this:  `"external_updates-wp-slimstat-heatmap" setting was updated`.

[2016-02-21 15:29] sirjonathan opened #821 "Consider a "quick log" feature"
It'd be great to have a way as a developer to really easily write to Stream, without having to register a custom connector, etc.

Could you give us a function (within, perhaps, a "Quick Log" context) that allowed us to write a message to the Stream log? This would be particularly helpful within custom applications where you want different aspects of the application (e.g. "Sequence initiated", "Seq

[2016-02-25 16:53] chacha commented on #813
@lukecarbis Sounds like a great idea! I find CSV exports incredibly useful for when I just need to get something into a Google Sheet. I'll get this going right away.

[2016-02-26 04:27] lukecarbis opened #822 "Test Stream's support for Logging in by Email"
To be included in WP 4.5.

https://core.trac.wordpress.org/changeset/36617

[2016-02-26 04:29] #816 closed

[2016-02-26 05:07] #804 closed

[2016-03-01 01:50] lukecarbis commented on #807
@chacha Could you have a look at the AJAX Plugin update error? If you can replicate the N/A user issue, then feel free to look into that too. If not, I'm happy to close this issue without that fix since we can't replicate it.

[2016-03-01 01:51] lukecarbis commented on #807
Also, might be worth attempting to update multiple plugins at once.

[2016-03-08 00:35] #814 closed

[2016-03-08 02:10] lukecarbis opened #825 "Add Stream REST API endpoint"
And use it internally, e.g. Live updates.

[2016-03-08 02:10] lukecarbis commented on #825
See also: Stream's WP CLI support.

[2016-03-10 22:56] lukecarbis commented on #820
Fixing this would require a WP Slimstat connector, to hijack the setting and record it differently under a WP Slimstat context instead of a Settings context (or ignore it).

The alternative would be matching the summary text, which I don't think is a good idea as it introduces added complexity to the already quite complex Exclude settings screen.

Any other opinions? cc. @chacha

[2016-03-10 23:01] lukecarbis opened #828 "Add missing Settings strings"
WordPress contains some settings which aren't being picked up properly by the Settings connector.

For example:
`nav_menu_locations `
`gmt_offset`
`default_link_category`

We need to identify every possible setting (possibly by `ack`ing WordPress core for `update_option` and `update_site_option`?) and add them to the Settings connector's `$labels` array.

In addition, we should identify all the Th

[2016-03-10 23:23] #308 closed

[2016-03-13 11:56] clubdesign opened #829 "Multisite: No way to exclude Super Admins?"
Hey Guys,

thanks for your great work, but we have a problem here, i can't exclude Super Admins from Tracking. We have 3 Super Admins on our site (60 Subsites) and i can't find them within the select on the exclude screen (The role is missing and these 3 Users are missing). All of the Super Admins Activity is tracked right now. I don`t know how you get the users right now, but Super Admins don't h

[2016-03-13 12:34] clubdesign commented on #829
Forget my Laziness, just went into code, as far as i can see, the only option currently is to hook into your `wp_stream_settings_options` filter and add the user_ids i need to exclude rules. That seems to work smoothly, but it should be made easier for this case ;)

[code]
By the way, thumbs up for your clean code, i wish other plugins work like that!

[2016-03-13 22:08] lukecarbis commented on #829
@marcin-lawrowski Could you look into this? It shouldn't be hard to do the following:

1. Check if the Stream is running on multisite
2. Check if the current user is a super admin, and if so
3. Include super admins in the dropdown list of users

Let's make sure this works on the Exclude screen as well as the User filter screen.

[2016-03-14 22:36] lukecarbis opened #830 "Keep Records For setting not working"
It looks like the cron which is supposed to run to check if there's any old records to delete isn't working.

Reported here: https://wordpress.org/support/topic/close-to-180-days-of-records-even-after-selecting-30-days-in-settings?replies=2

[2016-03-15 02:17] #813 closed

[2016-03-15 07:01] lukecarbis opened #834 "Test with latest version of Yoast SEO"
Stream's Yoast SEO connector was designed for the previous version. Chances are that there are updates and changes in the latest version which aren't being logged properly in Stream.

Reported here: https://wordpress.org/support/topic/not-tracking-yoast-redirect-updates?replies=1

[2016-03-15 07:11] lukecarbis commented on #813
@glenp @osprime Thanks so much for your suggestion. We built it! CSV and JSON export are included in the 3.0.5 update, especially for you.

@chacha and I would be very grateful if you left us a review on WordPress.org. https://wordpress.org/support/view/plugin-reviews/stream#postform

[2016-03-15 07:13] lukecarbis commented on #759
@kingfishercreative We changed our mind. :stuck_out_tongue: It's in the 3.0.5 release. Free.

If you like Stream, and would use the Export feature - we'd be very grateful if you left us a review on WordPress.org. https://wordpress.org/support/view/plugin-reviews/stream#postform

[2016-03-16 23:56] #828 closed

[2016-03-17 21:40] lukecarbis commented on #807
@mundschenk-at This may be fixed in bugfix/issue-829. Could you please check out that branch and see if you still get the error?

[2016-03-17 21:42] lukecarbis commented on #822
FYI, this may work automatically, just need to check.

[2016-03-17 21:48] lukecarbis opened #836 "Custom Roles not tracking"
To replicate:

1. Create a custom user role (any plugin should do)
2. Activate the User Switching plugin (https://wordpress.org/plugins/user-switching/)
3. Create and then switch to a user with custom role
4. Update post draft
5. Switch back to admin user
6. Update post draft again

You will only see entries for the admin user, not the user with a custom role. It seems as though custom roles aren'

[2016-03-17 21:51] lukecarbis opened #837 "Timestamp inconsistencies"
I have Easy Digital Downloads and its extension EDD Points and Rewards installed and activated.

I set up EDD and its extension so that each user get rewarded for 500 points after registration.

The issue is, when a user is registered, in Stream I can see the entry of registration logged as "one minute ago", along with a second entry of points reward logged as "8 hours ago".

This is obviously a b

[2016-03-17 22:52] mundschenk-at commented on #807
I'll have a look at it on the weekend.

[2016-03-18 00:56] chacha commented on #820
I don't think this is something that we can do in the Stream core. You could always filter out by multiple things (including a summary) by using the `wp_stream_log_data` on an individual site. But, I think that would be stepping outside of our scope and might create some confusion.

[2016-03-18 01:14] #820 closed

[2016-03-18 01:18] #829 closed

[2016-03-18 05:27] mundschenk-at commented on #820
@chacha If that's a filter name, it would be great if you could point me to the appropriate documentation.

[2016-03-18 05:43] chacha commented on #820
@mundschenk-at I find documentation in e morning, but at the moment I point you towards the source code for the base connector class. https://github.com/xwp/stream/blob/develop/classes/class-connector.php#L99

[2016-03-21 15:47] marcin-lawrowski commented on #836
I tried to reproduce this issue but no effect. I am using WP 4.4.2 and the newest Stream. I created a few custom roles and users for those roles. All activities of those users were properly tracked in Stream either with User Switching plugin or without it.

[2016-03-21 15:48] marcin-lawrowski commented on #836
@lukecarbis Have you tried to replicate it?

[2016-03-22 01:20] lukecarbis commented on #836
I just did, and I can't.

<img width="1066" alt="screen shot 2016-03-22 at 11 19 51" src="https://cloud.githubusercontent.com/assets/1097667/13939344/134dfb10-f020-11e5-8586-8672042f9eac.png">

[2016-03-22 01:23] lukecarbis commented on #836
@joelworsham Could there be something else going on here? Do you happen to have an object cache?

[2016-03-22 20:22] joelworsham commented on #836
Yes, we use WP Engine, so there is some caching going on.

[2016-03-22 21:19] lukecarbis commented on #836
Try clearing your object cache. I think the problem is that you're creating a new role, but the object cache isn't cleared. When Stream tries to get the user's role, and unknown role is returned, which results in a silent fail. Not ideal, but can you test by:

1. Create a new role
2. Try logging activities in that role (and see that they don't log)
3. Clearing your cache
4. Try logging activities

[2016-03-22 21:48] joelworsham commented on #836
Hmmm I tried that and it still does not work. I've recorded a screencast just so you can see it with your own :eyes:

https://www.dropbox.com/s/3oquayjpm4ghpgo/Stream%20Custom%20Roles%20Example%20-%203-22-16.mov?dl=0

[2016-03-22 23:10] chacha commented on #830
Verified base functionality is working outside of cron job. Something about the cron job, however, is making it not fire. Tried manually firing off the cron job via a plugin (WP Control) and the records are not being cleared.

[2016-03-23 01:18] lukecarbis commented on #836
Thanks for helping us try to get to the bottom of this, Joel. I can't replicate the same thing on my end at all. Maybe could you post the code you're using to create the user role in a gist? I'll try out the same role with the same capabilities, etc. and see if I can replicate it that way.

[2016-03-23 16:18] joelworsham commented on #836
Sure thing.

https://gist.github.com/joelworsham/f64990299e061aea9896

[2016-03-27 23:13] cameronjonesweb opened #839 "Errors on WPMU DEV dashboard"
Getting the following errors on the WPMU DEV dashboard when first logging in. Any subsequent views do not generate the error.

[code]

[2016-03-28 10:20] chacha commented on #839
@cameronjonesweb Could you let us know version information?

[2016-03-28 10:25] cameronjonesweb commented on #839
Stream: 3.0.5
WPMU Dashboard: 4.0.8
Running WordPress 4.4.2 on a localhost

[2016-03-28 21:08] lukecarbis commented on #839
Line at fault: https://github.com/xwp/stream/blob/develop/connectors/class-connector-settings.php#L363

[2016-03-28 21:23] chacha commented on #839
Wanted to verify if it was occurring in a normal single install site, which I was not able to reproduce. Going to try it out on a MS next.

[2016-03-28 21:32] lukecarbis commented on #839
@cameronjonesweb I can't replicate in WPMU Subdomain Dev - but I can take a guess at what's causing it. Could you please checkout the `bugfix/issue-839` branch, and see if that resolves the issue?

[2016-03-29 01:39] lukecarbis commented on #807
@mundschenk-at Any update?

[2016-03-29 03:36] cameronjonesweb commented on #839
Looks like that has fixed the issue.

[2016-03-29 03:36] #839 closed

[2016-03-29 05:40] mundschenk-at commented on #807
Sorry, didn't get around to it yet. I'll try tonight.

[2016-03-29 18:43] mundschenk-at commented on #807
The error hasn't occured "in the wild" since March 1st, according to my logfiles. Since I'm unable to trigger it, the bug seems to have been fixed in 3.0.5 (I couldn't find the branch `bugfix/issue-829` so I assume it has been merged already?).

[2016-03-29 18:46] mundschenk-at commented on #807
BTW: I just noticed we were potentially talking about different things here. Did you mean for me to check out the database error or the "user N/A" thing when updating?

[2016-03-29 20:42] lukecarbis commented on #807
Yes, it's been merged. I was meaning both.

If the issue has been resolved for you, please consider leaving Stream a review: https://wordpress.org/support/view/plugin-reviews/stream?filter=5#postform

[2016-04-06 08:29] mundschenk-at commented on #807
Yes, it looks like the original issues has been resolved. Something similar is happening with the push-to-deploy feature of WP Pusher, though. I'll create new issue once I've had time to investigate this a bit more.

[2016-04-08 21:39] chacha opened #841 "Improve Alerts Preview Box"
The preview box for Stream Alerts should include support for pagination. Currently it just displays one set of records.

[2016-04-17 22:57] chacha commented on #822
Confirmed as working.

[2016-04-17 22:57] #822 closed

[2016-04-18 16:20] netconstructor opened #842 "Could someone please provide a quick example how to record this action?"
This is the third time over the past year I have come back to this plugin, primarily due to its slick visual organization while meeting nearly 98% of my requirements. The problem I am having here is that I simply can't figure out the proper method to create a custom action trigger entry for my specific situation.

Let me point out in advance that I am well aware that what I aim to track would like

[2016-04-18 17:18] chacha commented on #830
Looks like the query is running, but it is never matching records.

[2016-04-18 17:50] chacha commented on #830
So, it looks like the admin class is never loaded during a cron job, which means that while the cron event is scheduled, the actual functionality is never hooked up to execute.

The easiest fix for this would be to load the admin class during cron.

[2016-04-19 00:41] lukecarbis commented on #842
Hi @netconstructor .

Lack of good docs is a very real problem. We're trying to find the time to prioritise it, amongst other things.

See these related issues:
https://github.com/xwp/stream/issues/819
https://github.com/xwp/stream/issues/821

In terms of a starting place, I would recommend having a look at how the Media connector works:
https://github.com/xwp/stream/blob/develop/connectors/class-

[2016-04-19 00:56] lukecarbis commented on #830
👌

[2016-04-19 00:57] #830 closed

[2016-04-21 04:14] chacha commented on #837
After talking with @lukecarbis, it looks like we're going to need to do an analysis on the full set of how we get our times, as it appears that there are different areas where times are not being set correctly.

I've experienced problems where my time logs are actually just a couple minutes off (5-7), whereas the original issue is dealing with time discrepancies in much larger numbers.

[2016-04-22 03:56] chacha commented on #836
I know this has been tried already, but I have been unable to replicate it locally. I'm going to try it on a WP Engine site and see if I get better results.

[2016-04-22 04:21] chacha commented on #836
Just for clarification, I am using the gist plugin code you've listed above and following the same instructions you've listed to create a user with the custom role, switch to the user, update a post, and switch back.

Upon switching, all the logging happens correctly, and actions are being logged as that user instead of as the admin user.

[2016-04-22 04:23] chacha commented on #836
@joelworsham Could you see if this is unique to custom roles, or if it applies to all roles? For instance, if you switch to a user with a standard (Contributor, Editor, etc) roles are you getting the same problems?

If this is cache oriented, I would expect to see that it would work the same for both custom and standard roles. In which case, figuring out how to override the cache would be the most

[2016-04-23 04:12] chacha commented on #836
We gained access to a WP Engine test site, and I am not able to replicate your bug following the instructions you've provided using the plugin in your gist.

Is there any special caching related plugins you have @joelworsham?

[2016-04-26 01:28] #842 closed

[2016-04-26 16:36] robertandrews opened #846 "Custom post type - Users not seen"
I have a custom post type, called Press Mentions (pressmentions).
Stream is properly recognising the posts, but it is not displaying the users who authored them.
Instead, I'm seeing a "WP" logo and "N/A".
See screengrab here: http://i.imgur.com/a6cnAhC.png

The Custom Posts that are being added are being authored by users who also have a custom role... "Analyst".

How can I fix this?
I note that S

[2016-04-26 18:09] robertandrews commented on #846
I've tested that my Stream is successfully logging a standard post type action for a custom-role user, and it is.
So the problem seems to be only with the custom post type.
I am now wondering if the problem is because the custom post types are controlled by the Pods plugin.

[2016-04-26 21:28] lukecarbis commented on #846
Hi Robert,

This problem has cropped up before but we've been unable to reproduce it. Maybe the Pods plugin is the cause!

Could you please provide full steps to reproduce, including instructions on installing and setting up Pods, and creating the CPT?

[2016-04-27 20:05] robertandrews commented on #846
I can confirm it's not Pods at fault.
I have now removed Pods and am using custom post types via manual code in functions.php.
I can post more info...

[2016-04-27 20:47] robertandrews commented on #846
@lukecarbis

Let me show you the code I use to set up the custom post type, in functions.php...

`// Set up Press Mentions post type https://generatewp.com/snippet/ddyykkn/
// Register Custom Post Type
function pressmentions_post_type() {

	$labels = array(
		'name'                  => 'Press Mentions',
		'singular_name'         => 'Press Mention',
		'menu_name'             => 'Press Mentions',

[2016-04-29 10:12] robertandrews commented on #846
Any ideas on this?

[2016-05-03 00:31] lukecarbis commented on #846
@robertandrews Next step is to try to replicate the issue, so we can find out what's causing it.

@chacha Can you please see if you can get it to happen for you?

[2016-05-10 13:03] twiginteractive opened #847 "Query Reference documentation wrong"
I'm new to Stream, so was reading the Wiki - looks like it is way out of date. The Query Reference page mentions a class (and function name `wp_stream_query`) that doesn't exist

https://github.com/xwp/stream/wiki/Query-Reference

Where should I be looking for up-to-date dox?

[2016-05-10 21:24] lukecarbis commented on #847
You're right that they're out of date. We need to update them. I'll bump the priority.

Depending on what you're making, I can point you to an example. This extension is a great example of how to use Stream records elsewhere: https://github.com/Japh/stream-to-papertrail

And you can use this class as an example for how a connector (for adding new entries to Stream) works: https://github.com/xwp/st

[2016-05-10 21:30] twiginteractive commented on #847
Thanks Luke -

Here's a quick synopsis of what I'm hoping to achieve with Stream: create a simple front-end 'audit' log of certain actions performed by certain users/Roles. For now, it's pretty simple data collection - I think the only extension I need to make is to record certain Post Meta info along with the core Stream meta (since Stream doesn't store WP object meta, correct?)

Then I need to q

[2016-05-10 21:47] lukecarbis commented on #847
@twiginteractive Right - Stream doesn't store WP Object meta.

You can access the `query` method of the `Query` class like this:

[code]

Yes, this is the right place for bug reports.

[2016-05-10 21:59] twiginteractive commented on #847
@lukecarbis Sweet - thanks so much for the quick reply!

[2016-05-10 21:59] #847 closed

[2016-05-17 19:33] twiginteractive opened #848 "Front-end display of Stream data planned?"
Is there any plans to include a shortcode that would display Stream data on the front-end? It could include filtering params etc. as a shortcut to the ->db->query() function.

I need to do this, so I'm planning to have to make my own shortcode that pulls the Stream data, spits it out as JSON and then consume & display it with DataTables. Curious if this is something in the development roadmap?

[2016-05-17 21:36] lukecarbis commented on #848
It's not. Stream's focus is in the admin.

[2016-05-17 21:36] #848 closed

[2016-05-18 19:49] joelworsham commented on #836
It is on WP Engine, so yes there is some caching involved. We have object caching turned off though and most caching is done on the frontend though there is probably still some caching going on. No caching plugins though.

[2016-05-18 23:00] lukecarbis commented on #836
@joelworsham Maybe you could provide a list of plugins which are active on your site?

[2016-05-19 14:31] joelworsham commented on #836
Sure thing.

regenerate thumbnails
stream
wp seo
vaultpress
query monitor
gravityforms
cpt alert
cpt animal
cpt attraction
cpt campaign
cpt event
cpt press release
cpt rental
cpt vendor
dzs alert frontend access
dzs conditional widgets
dzs google analytics
dzs import
dzs roles
dzs slider
dzs help
dzs zfeed
dzs quick info box

All prefixed `cpt` are custom plugins that simply add new custom post ty

[2016-05-23 05:55] lukecarbis commented on #836
@chacha Would you be available to test this out?

[2016-05-24 22:43] jamesgol opened #850 ".mailmap file included in zip on wordpress.org"
Noticed the .mailmap file in the zip download from wordpress.org.  Not sure what your process is for exporting to svn, but should probably get included in the exclusion list.

[2016-05-25 08:22] robertandrews commented on #846
Curious about whether you found anything. Still experiencing the issue at my end.

[2016-05-25 11:46] chacha commented on #846
Apparently this got out of my inbox somehow. I will take a look today.
Sorry about that.
On Wed, May 25, 2016 at 1:22 AM robertandrews <notifications@github.com>
wrote:

[2016-05-30 16:09] chacha commented on #850
This could be added to the exception list. I've added the issue to our `wp-dev-lib` development kit [here](https://github.com/xwp/wp-dev-lib/issues/180).

[2016-05-30 16:22] chacha commented on #836
Attempted again to replicate the issue.

Using the DZS Roles Plugin, I did the following:

1. Created a new user under the Site Manager role.
2. Switched to the new user.
3. Edited a post and saved.
4. Switched back to the administrator.
5. Looked at the Stream log.

Couldn't find any problems. The edit was attributed to the new user.

[2016-05-30 16:43] chacha commented on #846
@robertandrews Stream logs the user id based on a [call](https://github.com/xwp/stream/blob/develop/classes/class-log.php#L49) to `get_current_user_id()` which is based off the current logged in user.

Unless your cronjob sets the user variables in WordPress such that it appears that the user is logged in, it will log it to the cronjob. We don't base the log off of the `post_author` line as that i

[2016-05-30 16:46] chacha commented on #846
And if this is true, the easiest way to fix the recording specifically for your plugin would be to create a handler that modifies the user using the `wp_stream_record_array` [filter](https://github.com/xwp/stream/blob/develop/classes/class-db.php#L92).

[2016-05-30 18:38] robertandrews commented on #846
@chacha Thanks.
I'm not developer enough to know the answer. The plugin was commissioned externally.
I could show you some code if you like.

[2016-05-30 21:01] jamesgol commented on #850
Didn't realize the wp-dev-lib library took care of this, so I added a PR for it.

[2016-05-30 23:15] chacha commented on #807
It looks like this issue has been resolved. I'm going to close. Please reopen if I am mistaken.

[2016-05-30 23:15] #807 closed

[2016-05-31 14:30] joelworsham commented on #836
Man... I'm not sure what's going on then. This is absolutely bizarre. I just tested again but found something odd.

I tested logged in with a user with the "Communications Editor" role, and it did **not** work. Nothing was tracked when editing a post.

I then did the same test but after switching that user's role to "Site Manager" and it **did** work. It tracked it.

Can you try this test out with

[2016-05-31 23:40] #850 closed

[2016-05-31 23:42] lukecarbis opened #852 "Exclude Rules interface not working after Select2 update"
[code]

[2016-06-01 16:53] chacha commented on #852
In reference, this is the [documentation](https://select2.github.io/announcements-4.0.html#migrating-from-select2-35) for the biggest problems caused by moving to Select2 4.0+.

By no longer supporting hidden input tags, it means that the entire page has to be rewritten for regular `<select>` boxes. This means a complete rehaul of the Javascript hitting the excludes page.

Given the size of the ex

[2016-06-02 23:39] chacha commented on #852
The switch creates an issue when we are using `<optgroup>`s instead of a hierarchy through the `<input type="hidden" />` methodology. The most realistic way to keep this functionality is to have connectors be a part of the regular options and style it differently to create the same effect.

[2016-06-02 23:41] lukecarbis commented on #852
What's the issue with `<optgroup>`s?

[2016-06-02 23:47] chacha commented on #852
In past versions you could select a group, like I could select the entire
Posts context, because it was do through a JSON object instead of through
select options. This was never possible with the select HTML format. With
the upgrade, they have not included any augmentations to allow you to
select optgroups, making that feature unobtainable. I believe there was an
official response speaking to thi

[2016-06-03 00:38] lukecarbis commented on #852
Link?

I'm not sure we need to select a whole group. Just the connector, or the context.

[2016-06-03 01:04] chacha commented on #852
In previous versions, the connector _was_ the whole group, as it is a hierarchy.

The Select 2 issue is select2/select2#520.

[2016-06-03 04:48] evgenykireev opened #853 "Users ajax load never called"
I see you have code to load users list filter using ajax. $ajax parameter is responsible for it in
https://github.com/xwp/stream/blob/84e02d3e43679188aea677516d147c62c81e3401/classes/class-list-table.php#L661
However, that method is only called from
https://github.com/xwp/stream/blob/84e02d3e43679188aea677516d147c62c81e3401/classes/class-list-table.php#L624 and $ajax parameter is never passed.

I

[2016-06-20 18:56] chacha opened #857 "Use Form_Generator in Settings Page"
We need to move over all the input generation built into the Settings page instead into the `Form_Generator` so it can be used elsewhere in the plugin.

Thus far, this has been slowly transitioned and things have moved over on an as-needed basis.

[2016-06-21 20:19] wrongware opened #858 "Installation through wp-cli don't create database tables"
If I tried for example:
[code]
then I got error:

[code]

[2016-06-22 16:30] lkraav commented on #852
I'm trying to add the `N/A` user to the excluded list, but can't because of this bug I think.

[2016-06-22 16:38] chacha commented on #858
It appears that the tables are only created when we run the `Install::check()` method which only happens when an `init` hook is ran. This likely means that the tables wouldn't be installed until a command gets ran on WP-CLI that triggers the `init` hook.

After a quick review of WP-CLI, it doesn't look like the `init` hook is ran on activation, which is likely the cause of the problem. Currently l

[2016-06-22 16:51] chacha commented on #852
@lkraav I see that problem as well. I am looking into it now.

[2016-06-22 17:22] wrongware commented on #858
Maybe it might help https://github.com/wp-cli/wp-cli/issues/1997

[2016-07-14 10:49] versusbassz opened #860 "Conflict with ACF select2 v3 bundled library"
After version 3.0.6 of "stream", it's filters are broken on my sites.
Can it be conflict with ACF select2 v3 bundled library?

![wpstream-acf-conflict](https://cloud.githubusercontent.com/assets/2342074/16837073/ca3dd702-49c9-11e6-9026-e934dcde0e2e.png)

[2016-07-14 10:53] versusbassz commented on #860
Topic from ACF support forum: https://support.advancedcustomfields.com/forums/topic/select2-v4/

[2016-07-15 06:27] lukecarbis commented on #860
Hi @versusbassz. Just tried to replicate this with ACF 4.4.7 and Stream 3.0.7, and it all looks good to me. You mentioned Stream 3.0.6 in your description - have you tried with 3.0.7?

[2016-07-15 06:29] lukecarbis commented on #860
https://cloudup.com/cBp7y-0ptwY

[2016-07-19 03:58] lukecarbis commented on #853
Resolved in #854.

[2016-07-19 03:58] #853 closed

[2016-07-21 06:16] rheinardkorf commented on #821
I have seen an interesting use of a reversed hook used for just this thing.  E.g.  Stream could create a hook for something like:
`add_action( 'wp_stream_quick_log', function( $message, $reason, $plugin, $user ) {
  // create logger object and log the message
}`

Other plugins can then trigger this by doing:
`do_action( 'wp_stream_quick_log`, $message, $reason, $plugin, $user );`

The passed varia

[2016-07-21 06:48] rheinardkorf opened #861 "Feature Request: Log WordPress Importer actions"
Currently there are no logs when importing content via the WordPress Importer. The fact that the import was executed doesn't get logged either.

As these are significant actions, it would be good to log these actions.

**NOTE:** I believe that the WordPress Importer is currently getting a revamp. There may be new actions that can be used for logging.

[2016-07-21 13:36] joelworsham commented on #836
Hey guys. I know this is low-priority to you, as you can't replicate it. I get that (being a developer myself). I do want to assure you it is happening though and I'm _fairly_ confident it is not due to a weird conflict.

Perhaps it's the combination of stuff. But like I said, I noticed it is not working with the "Communications Editor" role.

[2016-07-21 18:33] sirjonathan commented on #836
Hey Joel! "Communications Editor" is a custom role. Perhaps it has something to do with how those roles are registered?

I'm guessing this is being handled by the "dzs roles" plugin. Is there a way you could provide us with a copy of that plugin for testing?

[2016-07-21 22:50] lukecarbis commented on #836
@joelworsham I'll look into this again today.

[2016-07-22 03:52] rheinardkorf commented on #836
@joelworsham I had a look at this issue for you too.  The answer is a bit odd!

WordPress is truncating the user role id, `communications_editor` to 20 characters, which is `communications_edito`, it then matches the original array with the newly altered array and if they don't match, it returns a false data object in which case the database does not record the entry.

The reason we were not able

[2016-07-22 13:15] joelworsham commented on #836
Thanks so much! I'm glad we were able to get to the bottom of this. You guys rock.

[2016-07-27 04:59] #860 closed

[2016-07-27 05:00] #834 closed

[2016-08-04 13:19] pdewouters opened #866 "Updating plugin just fataled my site"
`Fatal error: Class 'WP_Site' not found in /usr/share/nginx/wordpress/wp-content/plugins/stream/includes/functions.php on line 100`

I was on a version previous to 4.5.3, not sure exactly which one, because it's a site I rarely visit. I updated Stream, also not sure which version, to the latest and it caused the WSOD.

You probably need a `class_exists` check or similar

[2016-08-04 23:29] lukecarbis commented on #866
Hi @pdewouters - thanks for making us aware of this. It looks like Stream requires the latest version of WordPress - we unknowingly introduced a dependency in the last release.

Try updating your WordPress first, then try again.

[2016-08-05 11:52] johnregan3 opened #867 "Network Admin Record List Missing Column on Heartbeat Update"
In the Network admin, when the Record list is updated via WP heartbeat, the "Site" column isn’t being updated.  This throws off the layout of the list table.

`wp-admin/network/admin.php?page=wp_stream`

Found in Stream v 3.0.7, Chrome on Mac El Capitan.

![screen shot 2016-08-04 at 9 06 51 pm](https://cloud.githubusercontent.com/assets/2053940/17435802/c66a9d7a-5ad8-11e6-924b-4f0f1ac9ddff.png)

[2016-08-13 20:15] COLABORATI opened #868 "Feature Request: Aggregate Logs of Several Installations"
Please make it possible to collect logs of multiple installations in one place, also it would be great if you supported the standard log aggregator tools like Logstash, greylog or Fluentd. or, hey, just syslog :)

[2016-08-13 20:18] COLABORATI commented on #868
btw I just found this, you could copy some code:
https://wordpress.org/plugins/wp2syslog/

[2016-08-13 23:05] lukecarbis commented on #868
Great thoughts. I think this plugin aught to do the trick: https://wordpress.org/plugins/stream-to-papertrail/

[2016-08-13 23:05] #868 closed

[2016-08-19 11:51] wrongware commented on #858
Hi,

I was a little digging and I [have found command](https://github.com/wp-cli/wp-cli/blob/master/php/commands/plugin.php#L272) for plugin activation
and [there](https://core.trac.wordpress.org/browser/tags/4.5.3/src/wp-admin/includes/plugin.php#L585) is an action that should trigger [your installation procedure](https://github.com/xwp/stream/blob/develop/classes/class-install.php#L68).

(Sry fo

[2016-08-24 21:18] lukecarbis commented on #858
Hi wrongware - I'm not sure I see the action which you're referring to. Could you please send a pull request as an example?

[2016-08-24 21:21] #866 closed

[2016-08-24 21:21] #852 closed

[2016-08-24 21:22] #836 closed

[2016-08-24 21:23] lukecarbis opened #871 "Filter by User Role"
Currently Stream only allows filtering records by User, not User Role.

The Exclude Rules have a dropdown which includes User Role. This should be used for filtering, too.

<img width="167" alt="screen shot 2016-08-25 at 07 23 31" src="https://cloud.githubusercontent.com/assets/1097667/17948605/dc0f7a9e-6a94-11e6-99c5-6f67bc9afae1.png">

[2016-09-12 12:58] jacobschweitzer opened #874 "wp_get_sites() deprecated notice"
Reported from @paulgibbs: on the  [WordPress.org forums](https://wordpress.org/support/topic/wp_get_sites-deprecated-notice/)

[2016-09-12 13:06] jacobschweitzer opened #875 "Class ‘WPSEO_Options’ not found"
Two WordPress.org forum posts mentioned this:
[Fatal PHP Error](https://wordpress.org/support/topic/fatal-php-error-8/)
[Update WP page not working when Stream plugin is enable](https://wordpress.org/support/topic/update-wp-page-not-working-when-stream-plugin-is-enable/)

Location of the issue:
connectors/class-connector-wordpress-seo.php on line 181

Both appear to be using WP multisite.

[2016-09-12 13:08] jacobschweitzer opened #876 "Keep records option missing in Multisite"
From the WordPress.org forums: [Keep records option missing in Multisite](https://wordpress.org/support/topic/keep-records-option-missing-in-multisite/)

[2016-09-12 13:12] lkraav commented on #875
I can confirm, it's real, and yes, happens on multi-site, but not on single-site.

[2016-09-12 13:16] jacobschweitzer commented on #875
@lkraav Thank you for confirming that, I'll look into this today.

[2016-09-13 09:15] paulgibbs commented on #875
I am also seeing this on a client site. I don't have first-hand knowledge of where exactly you have to go to trigger it -- i'll find out -- but the site's also using the Yoast SEO plugin, on multisite. We noticed when we updated the sites to WP 4.6 (it was running 4.5.x previously), and all themes/plugins at the same time, which included both Stream and Yoast SEO.

[2016-09-13 09:16] paulgibbs commented on #874
In addition to that one I reported, I'm also seeing another on multisite in wp-admin/network, on the "Stream Records" page. It appears just above the filter options above the data table:

`Notice: wp_get_sites is deprecated since version 4.6.0! Use get_sites() instead. in /srv/bindings/b319d0a7856145ceb6c74cb97401514f/code/wp-includes/functions.php on line 3707`

[2016-09-13 19:03] pranksinatra opened #878 "Performance issue: 70+ Stream queries per page load when not logged in"
I was profiling [goshen.edu](https://www.goshen.edu)'s server-side performance today using the [Query Monitor plugin](https://wordpress.org/plugins/query-monitor/) and noticed that Stream consistently makes SELECT queries, regardless of whether or not I'm logged in:

![image](https://cloud.githubusercontent.com/assets/9473554/18487322/9c3bb508-79a9-11e6-83f5-e84d1e3632a3.png)

This is puzzling, as

[2016-09-14 00:20] jacobschweitzer commented on #874
@paulgibbs  I'm not able to reproduce this unless I comment out a portion of the code that first checks if the `get_sites()` function exists and uses it if available. So if you are on WP 4.6 the error shouldn't occur, in older versions it shouldn't either as it would use `wp_get_sites()`. Here is the offending code: https://github.com/xwp/stream/blob/develop/includes/functions.php#L89-L105

[2016-09-14 01:19] jacobschweitzer commented on #875
So I was able to reproduce an error when Stream is network enabled but Yoast SEO is not network enabled. I've issued a pull request for a fix which works but has to be checked for any un-intended effects. https://github.com/xwp/stream/pull/879

[2016-09-14 19:55] jacobschweitzer commented on #874
So @paulgibbs I looked a bit further into this and the function which uses `get_sites` was added in Stream 3.0.6, the current version is 3.0.7 so if you are able to update that'll take care of the error.

[2016-09-15 07:57] wrongware commented on #858
Hi Luke,

So I figured it out. [This condition](https://github.com/xwp/stream/blob/develop/classes/class-plugin.php#L101) will never happen when it is triggered via wp-cli.

I've sent pull-request [here](https://github.com/xwp/stream/pull/880).

[2016-09-15 21:19] #858 closed

[2016-09-16 08:33] paulgibbs commented on #874
i'll give that a go, thanks

[2016-09-26 03:15] denasman2316 opened #882 "Stream"
https://youtu.be/xzejej9JrCA

[2016-09-26 03:25] lukecarbis commented on #882
I loled, but I don't get it.

[2016-09-27 10:52] paulgibbs commented on #875
I see that PR got merged -- any estimate for when we'll get an updated release on Stream that includes it?

[2016-09-27 11:33] lukecarbis commented on #875
We're working hard on finalising Stream Alerts. There are just a few little bugs to iron out there. We would like to release this at the same time.

[2016-09-27 11:33] #875 closed

[2016-09-29 10:45] slaFFik commented on #871
Yes, please! :)

[2016-09-29 10:54] slaFFik opened #883 "PHP Warning: trim() expects parameter 1 to be string, array given"
It repeated 7 times in a row in my error log. Seconds were a bit different.

Link: https://github.com/xwp/stream/blob/develop/classes/class-settings.php#L87

Stream 3.0.7, WordPress 4.6.1

[2016-09-29 11:03] slaFFik opened #884 "On Stream page - browser console error"
On this page: `/wp-admin/admin.php?page=wp_stream` I'm getting browser console error:

[code]

That error breaks js on this page (Screen options, nav menu hovers etc).

[2016-10-07 18:04] imeson commented on #803
I am having the same issue but with Fastly https://www.fastly.com/
We are using the plugin they recommend https://wordpress.org/plugins/purgely/
Should I follow up with them about the ability to restore the correct IP? Doesn't seem like it should be an issue on here but wanted to doublecheck.

Thanks!

[2016-10-10 20:46] logichub opened #885 "Hide Stream from a specific list of users"
Cross posting from [WordPress Support forum](https://wordpress.org/support/topic/hide-stream-from-a-specific-list-of-users/) as I didn't get any response.

I tried to follow your guide available [here](https://github.com/xwp/stream/wiki/Customizing-who-can-view-and-manage-Stream#managing-stream), with a little modification. I would like to use current user ID instead of current user login, but it

[2016-10-11 04:39] lukecarbis commented on #885
Hi @logichub sorry we missed your post on .org.

The wiki is out of date. There's an issue to update it! Here's the best way to do this right now:

[code]

Better yet, add the specific users to a role, and don't give the role the `view_stream` capability.

[2016-10-11 04:40] lukecarbis commented on #884
@slaFFik What other plugins do you have installed?

[2016-10-11 04:41] lukecarbis commented on #883
Thanks @slaFFik - that's interesting. Must be caused by a form passing an array... I'll try to replicate it and track it down.

[2016-10-11 04:41] #882 closed

[2016-10-11 04:43] lukecarbis commented on #878
@pranksinatra - can you help me to narrow this down? What queries is it running?

[2016-10-11 19:51] logichub commented on #885
Hi @lukecarbis ,

Thanks for the update. I have used the above code, but it still not working. Also this line is missing the closing bracket.
`remove_action( 'admin_menu', array( $stream->admin, 'register_menu' ) );`

[2016-10-12 23:42] lukecarbis commented on #885
Hi @logichub - I just tested out the code above, and it definitely worked for me. Make sure that you are logged in as the user with ID `2` (or change the code to match your user ID).

[2016-10-13 08:09] slaFFik commented on #884
[code]

[2016-10-13 11:13] lukecarbis commented on #884
Hi Slava - next step would be to try disabling all the plugins and see if you still get the same error. See if you can narrow it down to a particular plugin conflict.

[2016-10-13 11:28] slaFFik commented on #884
I know all that steps, but the site will crash because of lots of
connections (and it's live), so I won't be able to do that.

[2016-10-31 07:36] mundschenk-at opened #886 ""Alerts" menu on Network Admin redirects to primary site"
**Actual behavior:** Selecting the menu entry "Alerts" on the Network Admin (with Stream being network activated) redirects to the primary site of the network.

**Expected behavior:** The alerts list should be network-wide.

[2016-10-31 07:36] mundschenk-at commented on #876
This is still the case with the latest version (3.1).

[2016-10-31 09:37] slaFFik commented on #884
Became even worse with the latest update
![image](https://cloud.githubusercontent.com/assets/282234/19849901/5dcc7eb2-9f5e-11e6-86dc-18a01701ad1c.png)

[2016-10-31 09:39] slaFFik opened #887 "Filter by group should display all records for its subitems"
Example: I filter by bbPress (which has 1 subitem - `Settings`) and see records about new topics/replies.
When I select `bbPress - Settings` - I see several more records, which were not included into the previous filtering results.

Would be nice to have them combined when filtering by group.

[2016-10-31 11:42] mundschenk-at opened #888 "Can't set up Exclude rules with 3.1.1 on Multisite"
Adding new `Exclude` rules is basically impossible with 3.1.1 (possible 3.1, too) on Multisite as the `Context` and `Action` fields are not populated any longer (the `Author or Role` field is populated only with users, the `IP Address` field seems to work normally).

[2016-10-31 11:46] mundschenk-at commented on #888
Clicking on the `Author or Role` field generates this error message in the logs:

`PHP Warning:  trim() expects parameter 1 to be string, array given in <prefix>/plugins/stream/classes/class-settings.php on line 87`

[2016-11-01 00:20] lukecarbis commented on #516
Closing. Planning to address this in Stream 4.

[2016-11-01 00:20] #516 closed

[2016-11-01 01:00] #595 closed

[2016-11-01 02:07] #761 closed

[2016-11-01 02:08] #762 closed

[2016-11-01 02:08] #841 closed

[2016-11-01 02:09] #846 closed

[2016-11-01 02:09] #857 closed

[2016-11-01 02:09] #874 closed

[2016-11-01 02:10] #885 closed

[2016-11-01 06:35] lukecarbis commented on #883
Closing in favour of #888

[2016-11-01 06:35] #883 closed

[2016-11-02 02:21] pranksinatra commented on #878
Nearly all of the queries are made by the [loop of `get_blog_details()` calls](https://github.com/xwp/stream/blob/develop/connectors/class-connector-blogs.php#L69) in `get_context_labels()` in `class-connector-blogs.php`.

Evidently, this loops through all the blogs on the multisite on the frontend regardless of whether Stream is activated on a single blog or the network.

Thanks again for looking

[2016-11-02 09:11] mundschenk-at commented on #876
Works with #892

[2016-11-07 03:18] lukecarbis commented on #878
@pranksinatra Made an update to the PR. Could you please try again?

[2016-11-07 03:20] lukecarbis commented on #884
@slaFFik Could you please test #891?

[2016-11-07 12:23] grappler commented on #874
I am using Stream `3.1.1` and I am getting the notice on /wp-admin/network/update-core.php. The notice originates from `WP_Stream\Alerts->change_menu_link_url()`

[2016-11-07 14:26] onnimonni opened #894 "Please add composer.json and this plugin into packagist.org"
Hey!

This plugin is really cool! Would it be possible to add `composer.json` into the project and also to add it into `packagist.org`?

I know this can be done with wpackagist.org but I would prefer it through packagist.org instead :).

Thanks in advance 👍

[2016-11-07 21:13] #884 closed

[2016-11-07 23:32] lukecarbis commented on #894
@onnimonni What's your reason for not wanting to just use wpackagist?

[2016-11-08 02:01] pranksinatra commented on #878
Yep, that did it! I'm down to a single Stream query on the frontend from ~80, regardless of whether or not I'm logged in.

[2016-11-08 02:31] alicam opened #895 "Bulk post creation overload!"
Hi guys.

I've hooked Slack into wp_stream so that I can see team member updates on my WP site.

However, I have a custom-post-type with lots of ACF fields, which I bulk add/delete via a script. The effect of that bulk deletion/addition is that wp_stream records hundreds of notifications via Slack and the channel "bot" gets upset.

Not your problem. It's my problem. So my ideal fix would be to tri

[2016-11-08 03:04] #878 closed

[2016-11-09 15:24] pranksinatra commented on #874
Yep, just wanted to confirm the _wp_get_sites is deprecated_ notice @grappler is seeing in /wp-admin/network/plugins.php  due to `WP_Stream\Alerts->change_menu_link_url()` in Stream 3.1.1

[2016-11-17 19:52] bhubbard opened #897 "Add Issue and Pull Request Templates"
New to this project, but I think it might be useful to have the issue and pull request templates for Github.

https://github.com/blog/2111-issue-and-pull-request-templates

[2016-11-22 18:46] nebbens commented on #871
Will this be added soon?

[2016-12-06 00:39] #876 closed

[2016-12-06 00:39] #888 closed

[2016-12-06 02:45] lukecarbis commented on #874
Just added a fix for 3.2.2.

[2016-12-06 03:09] lukecarbis opened #900 "Network-wide Alerts"
From a user perspective, being able to set alerts for the entire network seems like something that should obviously exist.

From a technical perspective, this is actually kind of hard, since alerts are a custom post type. The network admin doesn't have posts.

See #886 .

[2016-12-06 21:43] #867 closed

[2016-12-06 21:43] #886 closed

[2016-12-09 18:13] bhubbard opened #901 "IPv6 displays bug"
As per the screenshot, IPv6 addresses will bleed outside of the table.

![screenshot dec 09 10 09 39](https://cloud.githubusercontent.com/assets/3837/21059609/15d3a834-bdf8-11e6-83f3-a40e1c8e5afe.png)

[2016-12-12 08:57] skazhikadyadya opened #902 "Call to undefined function WP_Stream\wp_add_inline_script()"
Hi, we try to use that plugin on our site.

When we install latest plugin from Wordpress activate it and go to `/wp-admin/admin.php?page=wp_stream` we see that fatal error:

`Fatal error: Call to undefined function WP_Stream\wp_add_inline_script() in /home/DOMAIN/public_html/wp-content/plugins/stream/alerts/class-alert-type-highlight.php on line 277`

Wordpress version is 4.4.2.

How we can solve

[2016-12-17 12:43] skazhikadyadya commented on #902
Thank you, it works.

[2016-12-17 12:43] #902 closed

[2016-12-19 18:28] emmtre opened #903 "Time ago option and language"
Is it possible to have an option to disable the time ago in the date column? The reason is that the time ago is overlapping the text in the summary column on smaller browser windows. You also need to check the new user admin language in WordPress 4.7 since the time ago is in the website language and not the user admin language.

[2017-01-05 15:49] johnolek opened #904 "ISO 8601 log datetime string not compatible with some MySQL servers"
We encountered an issue where Stream 3.1.1 would not log anything at all on one of our servers. We were seeing MySQL Errors like this:

MysqlError: Incorrect datetime value: '2017-01-04T16:56:56.956+0000' for column 'created' at row 1

It looks like Stream uses the `wp_stream_get_iso_8601_extended_date` function to generate a datetime string for this column. This type of string includes more data

[2017-01-17 22:36] johnolek opened #906 "meta_value column size too small for certain meta data such as user_meta"
I noticed an issue with certain meta data saving in the latest version of Stream. The `stream_meta` table includes a column named `meta_value` that is defined to be a VARCHAR with a max length of 200 characters. On our site, the values we're getting for `user_meta` are frequently over 200 characters, resulting in a MySQL error and preventing the data from being saved.

The table is defined here: h

[2017-01-22 22:17] onnimonni commented on #894
Couple of reasons:
* Many projects update wpackagist much later than Github * if you decide to include some 3rd party libraries later on with composer then those packages will not be handled by composer but you would need to bundle them into the wpackagist version.
* wpackagist is one more dependancy which can just dissappear. (this is only minor reason)

Including this to wpackagist would make th

[2017-01-24 15:42] grappler commented on #874
@lukecarbis Wenn is a released planned?

[2017-02-16 01:49] rmccue opened #907 "Media connector assumes parent post exists"
In `Connector_Media`, [the code](https://github.com/xwp/stream/blob/c284f36acc094dd579720f3130e646e097aba9b6/connectors/class-connector-media.php#L140-L141) assumes that if there's a parent ID, the parent post exists. This is not always true if you have an orphaned attachment.

I'd suggest changing the ternary to use `$parent` instead of `$parent_id`

[2017-02-22 01:01] thefrosty commented on #858
Glad this is solved, but how about Bedrock autoload activation via mu-plugin installs?

[2017-03-06 23:18] majeem opened #908 "Gravity Forms Tracking Integration not working"
Stream is not logging "form submission" by Gravity Forms.

[2017-03-06 23:22] majeem opened #909 "Wordpress Core Update not logged"
Wordpress auto updated to 4.7.3 and the same was not logged by STREAM.

[2017-03-09 02:30] majeem commented on #908
The Gravity Form PHP action hook "gform_after_submission" is not included in the array of actions in the connector "class-connector-gravityforms.php"

[2017-03-09 03:24] majeem opened #910 "STREAM Logo changes to old Logo on Gravity Form Pages"
Noticing this for a while now. Here is a screenshot https://cl.ly/0x2W0u1u3Z2c

[2017-03-15 11:39] vayurobins commented on #821
I also would really like to have this feature built into Stream! :-)

[2017-03-24 10:53] majeem opened #912 "Single Change Creating 110 Stream Records"
A change under **Settings>>Reading>>Front Page** Displays creates 110 Stream records. Is this obvious?

[2017-03-24 11:00] majeem opened #913 "1st change under STREAM SETTINGS is not logged"
The 1st change made under STREAM Settings is not logged by STREAM. 2nd one onwards it logs as usual.

[2017-03-24 12:03] ocean90 opened #914 "Declaration of Carbon\Carbon::setTime($hour, $minute, $second = 0) should be compatible with DateTime::setTime($hour, $minute, $second = NULL, $microseconds = NULL)"
PHP 7.1 changes how Datetime handles microseconds, see http://php.net/manual/de/migration71.incompatible.php#migration71.incompatible.datetime-microseconds.

Looks like this also affects `DateTime::setTime()`which now has a `$microseconds` parameter.

[2017-03-29 17:12] daveglines commented on #837
Howdy, y'all. First off -- great plugin. Stream will be a standard plugin for a product we are building. I am finding one issue though that's leading to a bug fix/feature request, and I believe it is along the same lines as what is posted here.

The feature request is that Stream leverage the time zone as set at WP Admin > Settings > General > Timezone. What I am understanding from my development

[2017-03-30 17:04] daveglines commented on #837
Upon further research, it turns out this was from our end via another plugin. This is no longer an issue for us.

[2017-04-02 15:02] davelozier commented on #912
It looks like the settings context has an update action for every rewrite rule.
![issue_912](https://cloud.githubusercontent.com/assets/6362756/24588296/3a73fa94-178b-11e7-953b-aab045e56d43.png)

Definitely not a good thing but it shouldn't happen that often?

[2017-04-02 16:22] davelozier commented on #895
Add an exclusion rule for IP 127.0.0.1 and have your script set $_SERVER['REMOTE_ADDR'] = '127.0.0.1';

That *should* work I think if the script is running locally.

[2017-04-02 18:16] majeem commented on #912
Definitely not good in most cases. Is there a fix?

[2017-04-03 19:23] benoitchantre opened #917 "First column is too narrow for a translated text"
Here's an example with french, but I think it can happen with other languages.
The width of the window is ~1280px.

![capture d ecran 2017-04-03 a 20 44 48](https://cloud.githubusercontent.com/assets/1521015/24626872/01b9dace-18b3-11e7-9d40-91b45c7e7f77.png)

[2017-04-11 18:00] vadwella703 opened #918 "Stream and Oasis Workflow plugin"
Attached is my debug.log file from attempting to make a revision to a page on my site with the Oasis Workflow plugin. It seems that I encounter a fatal error in Stream which is then affecting the Oasis Workflow plugin. If deactivated, Stream, does not cause this issue. Is there any help you can provide so that I can utilize both plugins at the same time.

Thanks,
Hugh

[debug.txt](https://github.c

[2017-04-12 09:18] horecny opened #919 "ACF Advanced Custom Fields options not tracked"
Hello,

we have problems stream together with ACF options pages. We don`t see any changes made to options meta fields values.

Version of ACF is latest 5.5x

[2017-04-20 23:53] alicam commented on #895
I ended up wrapping my plugin that does the Stream->Slack thing in a conditional that checks a WP option. At the beginning of my big import I set the option to bypass the plugin, then un-set it at the end of the import. Crude but entirely adequate :)

A

[2017-04-22 19:00] tillkruss opened #922 "Unidentified user"
I'm seeing a lot of updated from unidentified users. The user id is `0`. What or who is that?

In case these are internal calls, it should say "WordPress" and use the real WP logo instead of the custom black lowercase one.

<img width="1132" alt="screen shot 2017-04-22 at 11 57 51 am" src="https://cloud.githubusercontent.com/assets/665029/25307283/0418f0ee-2753-11e7-9b44-025116d56527.png">

[2017-04-22 23:09] majeem commented on #922
Are you using a plugin for example like a membership plugin or similar which can update user status? Also can you identify the IP? Is that one of yours or your colleague's ? Probably that will shed some light.

[2017-04-22 23:16] tillkruss commented on #922
Yes, we're using AccessAlly (Ontraport membership plugin) on that installation. I can't identify the IP address, but I'm pretty sure it's AccessAlly.

[2017-04-22 23:24] majeem commented on #922
From what I have seen, most membership plugins uses the WP Members profiles as the base. So when we change a setting (for example the access levels for a specific user group) the membership plugin updates the User profile for all included users at once.

As far as Stream is concerned this is done by the Plugin not specifically by an user. I have had the same experience with "WP Member" plugin.

I

[2017-04-22 23:26] majeem commented on #922
I am curious whether Stream logged an activity from AccessAlly just before these whole bunch of User Profile updates. Did it?

[2017-04-22 23:32] tillkruss commented on #922
Ah, okay. No AccessAlly records ever, only "N/A".

[2017-04-24 20:38] majeem opened #923 "Not tracking Ninja Forms"
Stream is not tracking the changes in Ninja Forms.

[2017-05-11 13:51] joseluis opened #924 "Error message about stream_meta table not present"
In just one particular site (which uses PHP 5.5.21, shared hosting, 64bit OS) an error message is always shown in the administration:

[code]

The plugin seems to work well regardless, but the message is always there even after reactivating or reinstalling the plugin. This is the debug message that shows when deactivating/activating it:

[code]

[2017-05-13 20:47] mikeyzm commented on #914
Update Carbon library to latest version may solve this problem.

[2017-05-29 07:26] kasparsd opened #925 "Fatal Error in Tracking Widget Related Changes"
See https://wordpress.org/support/topic/fatal-error-in-tracking-widget-related-changes/

[2017-06-02 09:01] rematic opened #926 "Stream influences Wordfence"
Its not a real issue but the "update_core" capability influences Wordfence email notification function. If you have checked "Alert me when someone with administrator access signs in" in Wordfence options and leave "Alert me when a non-admin user signs in" unchecked, Wordfence ignores that and will notify you also when a non-admin user signs in, telling you that this user has signed in with admin r

[2017-06-26 12:06] ishansharma commented on #847
@lukecarbis I ended up wasting 10-15 minutes wondering why the class wasn't there and the found this issue. Just put a small note in Wiki for anyone who follows it: https://github.com/xwp/stream/wiki/Query-Reference

I'd like to go ahead and update that page. Let me know if that's fine with you. Will try to stick to the existing style as much as possible.

[2017-06-27 00:12] lukecarbis commented on #847
@ishansharma Absolutely!

[2017-07-30 16:48] sammysickweb opened #929 "Users - no results found"
I'd like to exclude my admin user from the list but the user dropdown shows – no results found.
![image](https://user-images.githubusercontent.com/30574993/28755297-44673424-750c-11e7-9ce2-277c2eb57701.png)

[2017-08-07 13:11] khromov opened #930 "Outdated documentation"
This page is outdated (written from Stream cloud point of view) and should be updated:
https://github.com/xwp/stream/wiki/FAQ

[2017-08-07 13:11] khromov commented on #919
I can confirm this is an issue.

[2017-08-11 19:07] javorszky opened #933 "VARCHAR(200) is too long for innodb index length"
From https://dev.mysql.com/doc/refman/5.7/en/innodb-restrictions.html:

The column length need not changed, only the index length. PR incoming.

[2017-08-11 19:12] brichards commented on #933
Additional context:

Stream fails to install properly _(sometimes)_ citing the following error:
[code]

Some of my research on this shows that the issue is the utf8mb4 charset:

(found in https://github.com/humanmade/Mercator/issues/68#issuecomment-267322155)

The solution employed by Mercator was to reduce the varchar length for the indexed column (https://github.com/humanmade/Mercator/pull/89/fi

[2017-08-11 21:07] kesed commented on #924
Hey @joseluis, did you ever end up getting this issue resolved? I have the same error message (running PHP 7 on Pantheon) on my site. As you've said, reactivating and/or reinstalling does not fix the issue.

[2017-08-12 10:59] joseluis commented on #924
Hey @kesed, yes after manually creating that table in the database, the warning was gone.

[2017-08-21 10:00] sayedtaqui opened #935 "Undefined Index ID in customizer on post delete with customize-posts plugin"
When trashing a post in customizer with customize-posts plugin, stream causes this error
[code]

Its because customize-posts plugin is invoking `wp_insert_post_data` filter again and overriding `$postarr` to `$unsanitized_post_data`.
https://github.com/xwp/wp-customize-posts/blob/develop/php/class-wp-customize-post-setting.php#L474

So when `Alerts_List::save_alert_inline_edit` hooked to `wp_inser

[2017-08-23 04:13] ntwb opened #937 "Reduce plugins readme.txt tags to 5"
The plugin `readme.txt` currently [lists ~20 tags](https://github.com/xwp/stream/blob/develop/readme.txt#L3), the WordPress plugin directory only displays the first 5 tags these days...

Only `actions`, `activity`, `Activity Log`, `activity logs`, and `admin actions` are displayed at https://wordpress.org/plugins/stream/

Via the Stream homepage http://wp-stream.com/ if you enter your wp-admin URL

[2017-09-07 01:36] #935 closed

[2017-09-07 01:36] #933 closed

[2017-09-07 01:44] #937 closed

[2017-09-26 21:56] ToddRowan opened #941 "Email alerts for new comments aren't sent"
Using Stream 3.2.2 and I set an email alert for new comment submissions.

But no emails are sent, even though Stream captures the comment submission in its log.

The offending line appears to [be here](https://github.com/xwp/stream/blob/ac64f44e04c6dcfbd3955c2dad133cff0b6cb9c2/alerts/class-alert-trigger-context.php#L44). The `trigger_context` on the `alert_meta` is **comments**, but the `context`

[2017-09-27 19:01] bhubbard opened #942 "Minify CSS & JS"
Can you please minify the css & js by default, and just load the non minified version when in debug mode? This can help with performance just a bit, and I need every bit I can get.

[2017-10-03 21:17] JulienMelissas commented on #901
Just wanted to pop in and say this seems to be working for me now 😄

![screenshot 2017-10-03 17 17 19](https://user-images.githubusercontent.com/2278221/31149673-b9654254-a85e-11e7-84cc-c5f2759910aa.png)

[2017-10-03 23:21] valendesigns opened #943 "WP_CLI Fatal Error"
Inside [classes/class-cli.php](https://github.com/xwp/stream/blob/master/classes/class-cli.php) there are numerous places the where the `WP_CLI` class is missing the backslash and causing a fatal class not found error.

[2017-10-04 00:17] #943 closed

[2017-10-04 00:20] lukecarbis commented on #930
Fixed. :)

[2017-10-04 00:20] #930 closed

[2017-10-06 15:01] johnbillion opened #945 "Ability to disable the Reset Stream Database functionality"
As a site owner, I'd like to be able to completely disable the Reset Stream Database functionality.

I think the best way would be to implement a filter so that this can be disabled at the code level.

[2017-10-10 17:49] aeromusek opened #946 "Stream not capturing SSO sign-ins from OneLogin"
We use the [OneLogin plugin](https://wordpress.org/plugins/onelogin-saml-sso/) for authentication on our site, and Stream is not capturing user log in events. These events are recorded perfectly on clones of the site that use the standard WordPress authentication.

Happy to help dig up logs or other necessary data for testing.

[2017-10-16 09:09] alessandrotesoro opened #947 "Meta not included into Record object?"
Hey guys,

I was working on a project that required logging some data and then export them to CSV, so I thought about extending Stream since it already had the ability to "log stuff" and export them to a csv plus we were already using stream to log changes to posts etc..

The custom connector works fine and saves all the data that I need and saves all the meta that I need. I was also about to exte

[2017-10-16 10:47] lukecarbis commented on #947
Happy to look at a PR which addresses this issue.

[2017-10-21 02:01] logichub opened #948 "Backward compatibility - Call to undefined function WP_Stream\wp_add_inline_script()"
I am unable to access Stream admin page after updating it from 3.0.7 to 3.2.2. I see a blank page when I try to access the Stream admin page. debug.log file contains following error:

`Call to undefined function WP_Stream\wp_add_inline_script() in /wp-content/plugins/stream/alerts/class-alert-type-highlight.php on line 277`

- WordPress 4.3.1
- Stream 3.2.2

[2017-10-25 15:25] johnbillion opened #949 "count_users() is called for every user role on the settings screen."
On the Stream Settings screen, `count_users()` is unnecessarily called once for every role on the site, instead of just once. Calling `count_users()` is expensive, and gets slower the more users and roles there are on a site.

Ref: https://github.com/xwp/stream/blob/06316e9cc295429ae4ab7c550cddce898919e650/classes/class-settings.php#L821-L826

This call to `count_users()` should be moved outside o

[2017-10-27 22:21] Danny-Guzman commented on #914
Carbon::setTime($hour, $minute, $second = NULL) not compatible with
PHP 7.1.0 DateTime::setTime($hour, $minute, $second = null, $microseconds = NULL )

http://php.net/manual/en/datetime.settime.php
7.1.0	The microseconds parameter was added.

On line 681 of the includes/lib/Carbon.php the function setTime is missing the $microseconds = null parameter

[2017-11-07 18:31] ahmed-sigmalux commented on #914
Any luck getting your PR committed?

[2017-11-07 18:33] ahmed-sigmalux opened #952 "PHP Warning: A non-numeric value encountered in /stream/classes/class-settings.php on line 928"
I'm seeing the following warning in debug.log:

`PHP Warning:  A non-numeric value encountered in /var/www/wordpress/wp-content/plugins/stream/classes/class-settings.php on line 928`

[2017-11-08 22:57] Danny-Guzman commented on #914
Negative it always seems to fail the continuous integration, for now I've
just manually made the edits that I needed

On Tue, Nov 7, 2017 at 10:31 AM, Ahmed Khalil <notifications@github.com>
wrote:

[2017-11-20 16:30] cfoellmann opened #953 "Add filter for 'settings_cap'"
I would like to filter in the Admin class
[code]
to prevent on multisite the site admins to change settings for the blog (subsite). I don't want my users to have access to the "not recommended" settings.

Maybe in `Admin\_construct()`
`$this->settings_cap = apply_filters( 'wp_stream_settings_cap', 'manage_options' );`

[2017-11-21 11:58] cfoellmann opened #954 "'is_network_activated' should be true if stream is must-use"
I would like to run stream as a must-use plugin. When I drop it in `mu-plugins` and require the stream.php it gets loaded on every load but it will not be detected as `is_network_activated() = true`.
[code]

2 solutions:

1. add a filter to set the return manually in is_network_activated() #955
    - add stream to mu-plugins
    - `require_one 'stream/stream.php';` in your mu-plugins loader file o

[2017-12-22 05:47] lkraav commented on #952
Sounds like PHP 7.1 compatibility thing, I started seeing this warning after upgrade.

[2017-12-22 11:26] lkraav commented on #847
@ishansharma did that documentation update effort ever materialize? Seems like the wiki still lists the outdate `wp_stream_query()` function.

[2018-01-09 06:22] proweb commented on #914
+1
PHP 7.1

![image](https://user-images.githubusercontent.com/680073/34707441-95c6923c-f51e-11e7-8308-60cd572ce902.png)

[2018-01-10 15:09] khromov opened #959 "CRON check is incorrect"
Before showing the "WP Cron Tracking" option in the admin, Stream checks if `DISABLE_WP_CRON` is not true.

I don't think this is a correct condition to check. `DISABLE_WP_CRON` doesn't actually disable CRON, it just stops it from running during normal requests. CRON still runs when manually loading `/wp-cron.php`.

The check should be removed, as WP CRON can never be truly disabled.

[2018-01-11 17:18] khromov opened #960 "Regular expressions leaking into log entries"
We've had some very strange log entries recently where part of the regular expression Stream uses to parse entries somehow gets included as part of the log entry. Here is a screenshot:

![screen shot 2018-01-11 at 18 15 05](https://user-images.githubusercontent.com/1207507/34837657-bff7a134-f6fb-11e7-91ee-bfdb08c7c1d2.png)

Unfortunately, we have not been able to reproduce what causes this behavio

[2018-02-15 19:47] bhubbard commented on #825
Any chance we can get this idea moving? Here is some quick demo code if it helps.

[code]

[2018-02-24 18:17] 22Codes opened #961 "class Query date_before & date_after , DATE() Issue"
The Following Line not working (DATE() not Matching the Value) :
https://github.com/xwp/stream/blob/0b8b204b971974d6997a791c9ad5db71b72b4768/classes/class-query.php#L94

The  Fix (Removing MySQL DATE() Function ) :
`$where .= $wpdb->prepare( " AND $wpdb->stream.created > %s", $date );`

[2018-03-21 20:56] robertandrews commented on #914
I just switched from PHP 5.6 to 7.2 and found this warning...

`Warning: Declaration of Carbon\Carbon::setTime($hour, $minute, $second = 0) should be compatible with DateTime::setTime($hour, $minute, $second = NULL, $microseconds = NULL) in /home/mysite/public_html/wp-content/plugins/stream/includes/lib/Carbon.php on line 2213`

The same issue also affects the Date Range Filter plugin you worked o

[2018-03-26 06:01] pembo13 commented on #847
Just a heads up for anyone who found this, the docs are way off "author" isn't a valid field, nor is "author_meta".

[2018-04-03 12:44] #954 closed

[2018-04-03 12:55] DavidCramer opened #965 "Travis CI Erroring"
see `WP_Stream\Test_Admin::test_ajax_filters`

[2018-04-04 07:29] #965 closed

[2018-04-04 07:42] DavidCramer commented on #949
adressed via #964

[2018-04-04 07:42] #949 closed

[2018-04-04 07:43] DavidCramer commented on #914
Addressed via 4017b31 and #966

[2018-04-04 07:43] #914 closed

[2018-04-04 08:29] DavidCramer opened #967 "wp_kses_post on Form_Generator::render_field() strips inputs."
Issue introduced in 06316e9cc295429ae4ab7c550cddce898919e650

[2018-04-04 11:39] DavidCramer commented on #961
Hi @22Codes - Are you using this in a custom query/filtered args?

[2018-04-04 13:10] DavidCramer commented on #960
@khromov , those look more like the rewrite rules that got updated. Do you have any plugins that manage rewrite rules or permalinks?

[2018-04-04 13:38] khromov commented on #960
@DavidCramer Ah, you are right! I don't recall us running any plugins that manage rewrite rules or permalinks, but we might have changed the permalink settings at some point which should trigger a rebuild.

The confusing part is why the message is worded in a way that suggests that the content of the permalink settings is the settings key. Shouldn't it just say something like `"rewrite_rules" sett

[2018-04-06 09:01] #967 closed

[2018-04-06 09:11] DavidCramer commented on #960
@khromov It does when using the permalinks settings page. Which is why this is possibly been done via a permalink/rewrite rules plugin.

Anyway, glad it's identified as not a regex leak.

[2018-04-06 09:11] #960 closed

[2018-04-06 09:45] DavidCramer commented on #953
@cfoellmann - Sorry for the late response.
If this is still relevant, you can simply alter the `$settings_cap` in an `init` hook since it's public.
[code]

[2018-04-06 12:01] DavidCramer commented on #959
@khromov Having thought this through, I believe that how it is now is in fact the correct way to do it.
When you define `DISABLE_WP_CRON`, you are telling WordPress to not use [`spawn_cron()`](https://core.trac.wordpress.org/browser/tags/4.9/src/wp-includes/cron.php#L371)

The `wp-cron.php` file you mention is the file used when you want to control the cron manually via your own method, as indicat

[2018-04-06 12:46] johnbillion opened #971 "Use a unique nonce for the Reset Stream Database functionality"
This is a follow-up to #945.

The nonce that's used for the Reset Stream Database functionality is the same as the nonce used for the Uninstall link on the Plugins listing screen.

This means that even if the Reset Stream Database functionality settings screen field is removed, it's still possible for a rogue user to trigger the database reset by manually calling `admin-ajax.php?action=wp_stream_r

[2018-04-06 12:46] johnbillion commented on #945
Thanks David. Follow-up: #971.

[2018-04-06 12:49] DavidCramer commented on #971
@johnbillion , good catch. I'll try address that issue. Thanks!

[2018-04-06 12:51] #953 closed

[2018-04-12 06:05] DavidCramer commented on #919
closed via #931

[2018-04-12 06:05] #919 closed

[2018-04-19 02:27] #971 closed

[2018-04-19 02:28] #952 closed

[2018-04-22 04:53] pembo13 opened #976 "WooCommerce Connector doesn"

[2018-04-26 13:01] DavidCramer opened #978 "PHP 5 (not sure of version yet) cases WSOD"
3.2.3 caused a WSOD . site had PHP 5 and upgrading to 7 solved the issue.

I'll test on some versions to find the minimum and try fix or add in warnings.

reference: https://wordpress.org/support/topic/white-screen-of-death-after-update-stream-v3-2-3/

[2018-04-26 13:52] DavidCramer commented on #978
after testing, all versions down to 5.3 works fine. I'm thinking that there was something else at play here. I'll try reach out to the person to see if I can get more details, else I'll write it off as an edge case.

[2018-04-30 08:07] #978 closed

[2018-04-30 08:15] #837 closed

[2018-05-04 12:10] mrpritchett commented on #825
+1 for this.

[2018-05-04 12:11] mrpritchett commented on #825
Something to bear in mind is that the REST API will support multisite shortly, and I'd love to see this functionality in Stream also support that. Definitely a major use case for us.

[2018-05-04 12:26] DavidCramer commented on #825
I'm all for this as well. Will see how we can get some traction on it.

[2018-05-09 06:37] lukecarbis opened #979 "GDPR: Privacy settings"
As a site admin, in order to comply with a GDPR data removal request, I should be able to choose a Privacy tab from Settings screen, which has the options:

1. Delete all records by a user (upon successful deletion, the administrator is prompted to automatically create a new Exclude rule for that user)

2. Export all records by a user

3. Checkbox to not record any IP Addresses

[2018-05-09 06:39] lukecarbis opened #980 "GDPR: Privacy education"
- Stream should notify users of new privacy settings after updating.
- Stream should publish a "privacy statement" that could be added a websites privacy policy
- Stream should publish video walkthroughs of how to comply with a GDPR export or deletion request

[2018-05-20 15:06] scottbuscemi opened #981 "Stream not capturing EDD report exports"
It looks like the plugin is meant to be capturing EDD Report Exports, but this isn't showing up in the log.

To replicate,
1. Go to Downloads > Reports
2. Click the "Export" tab
3. Export any sort of customer or product history
4. Check the Stream log

We would like to keep tabs on these exports in particular, since they contain sensitive information that shouldn't be exported without purpose.

[2018-05-23 09:36] tobutridaz commented on #980
Are we sure that Stream should only notify users of a new privacy setting? After all, stream is collecting personal data (IP, username). GDPR states

Shouldn't we be asking the users to optin to them being "tracked" by Stream?

[2018-05-23 20:38] lukecarbis commented on #980
@tobutridaz We want to give those opt-in tools to the site admin. Stream is often used by (for example) an Australian agency, who wants to keep track of the admin actions taken by their developer and client (both also in Australia). GDPR should only applies if their are users in the EU with admin access.

[2018-05-24 10:27] tobutridaz commented on #980
If this will be as an option for the site admin, then great - that works!

[2018-06-06 06:10] daveglines commented on #929
Bump on this. I'm having the same issue. "No results found" when I select users.

Great plugin though! Looking forward to expanding on it.

[2018-06-11 08:03] davefx opened #982 "Warnings while trying to log changes to multiselect settings in WooCommerce"
The site in which I work on has a custom Woocommerce setting with type "multiselect".

Whenever this value is changed, several warnings are generated:

`Backtrace from warning 'wpdb::prepare was called incorrectly. Unsupported value type (array). Please see Debugging in WordPress for more information. (This message was added in version 4.8.2.)' at /var/www/html/project/wp-includes/functions.php 41

[2018-06-13 13:00] colorful-tones commented on #825
+💯 for this 😀

[2018-06-14 17:08] wp-networks commented on #825
+💯 for sure; for this to also work with multisite would be super great

[2018-06-19 05:50] termers opened #984 "Warnings and Notice on Network Settings, Exclude tab"
I think this has to do with php 7.2... because on my other server which have php 7.1.12 does not generate this warnings...

[code]

[2018-06-25 14:30] cfoellmann commented on #948
@logichub @DavidCramer too bad that there was no response. Maybe close for now?

[2018-06-26 17:11] cfoellmann opened #985 "Programmatically exclude (filter)"
Is there a way to programmatically add an exclude rule?

My case: I use the `snitch` plugin to capture wp remote connections but it floods stream. It is writing to a CPT so I can exclude but I would love to contribute a filter to snitch or stream to keep snitch out of the log automatically.

[2018-06-29 19:26] ahmed-sigmalux opened #986 "PHP Notice: wpdb::prepare was called incorrectly. Unsupported value type (array)."
I'm seeing the following message in debug.log when changing PayPal Express Checkout (WooCommerce) settings:

`PHP Notice:  wpdb::prepare was called <strong>incorrectly</strong>. Unsupported value type (array). Please see <a href="https://codex.wordpress.org/Debugging_in_WordPress">Debugging in WordPress</a> for more information. (This message was added in version 4.8.2.) in /var/www/mysite/wordpre

[2018-07-24 18:15] josephfusco opened #988 "User can "uninstall" plugin when DISALLOW_FILE_MODS set to true."
User is able to "uninstall" Stream even when disallow files mods is set to true. No action like this should be allowed if DISALLOW_FILE_MODS is true.

https://codex.wordpress.org/Editing_wp-config.php#Disable_Plugin_and_Theme_Update_and_Installation

![screen shot 2018-07-24 at 2 07 41 pm](https://user-images.githubusercontent.com/6676674/43157516-45f556f4-8f4b-11e8-980d-50394c5df0cd.png)

[2018-08-01 15:33] lkraav opened #989 "Log e-mail"
Instead of additional "logging" plugins like https://github.com/No3x/wp-mail-logging/ having to be installed, is there anything stopping Stream from logging e-mail itself via a simple connector?

[2018-09-20 10:13] staude commented on #985
Hi Christian,

the filter is wp_stream_posts_exclude_post_types

At the Pluginkollektiv Hackathon ( https://works.pluginkollektiv.org )   currently I am working on https://github.com/pluginkollektiv/snitch/issues/21 :)

[2018-09-30 14:30] lkraav opened #991 "Wiki: `Connector` class constructor takes 0 parameters, drop example `$stream->log` parameter"
https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector#registering-a-connector

`$class = new $class_name( $stream->log );` will get flagged in advanced IDEs like PHPStorm, as method call w/ 1 parameter, where method signature has 0 parameters.

Better: `$class = $class_name();`

[2018-10-06 19:38] chacha commented on #785
@lukecarbis Can you unassign me from this? Thanks!

[2018-10-30 03:54] daveglines commented on #929
Checking in again on this one. Is there a solution? Anyone else have this problem?

[2018-11-02 00:56] prowp commented on #929
I am having this problem too. I went through some troubleshooting with it a few weeks ago and discovered a missing nonce from an ajax call that is supposed to fetch users. But now I can't even replicate getting the ajax call to fire (no idea why that is)

[2018-11-02 20:18] daveglines commented on #929
We are still having the issue. Continuing to test to see if it's a plugin conflict, but I don't think so. Perhaps the authors will reply at some point?

[2018-11-03 03:18] lkraav commented on #929
This plugin has unfortunately been struggling for resources for a lengthy while now. I haven't been able to find out whether there's maybe something clearly better out there and that's where people put their project energy.

[2018-11-16 07:05] franzarmas opened #992 "Why does not WP-CLI execute 'register_activation_hook' when activating the plugin?"
I have a custom plugin, where I use the hook 'register_activation_hook' to run when the plugin is activated from wp-admin.

But when I activate through WP-CLI the programming inside 'register_activation_hook' is not executed.

The 'register_activation_hook' in my plugin is not inside a class.
This is in the global scope of the main file of my custom plugin.

Is it a WP-CLI problem? How can I run t

[2018-11-16 07:09] #992 closed

[2018-12-10 16:57] lkraav commented on #825
As far as I can tell over the past months/year, work on this plugin has ground to a screeching halt.

Not sure what it would take for someone to pick up interest again. Is there something better out there that people are already gravitating to?

[2018-12-19 09:13] ruttoa commented on #912
This is still happening in version 3.2.3. I have Wordpress 4.8.8. multisite install.

The whole plugin kind of loses its purpose when you can't tell what setting is actually changed.

[2019-01-15 02:08] #982 closed

[2019-01-15 02:08] #986 closed

[2019-01-15 05:01] #988 closed

[2019-01-18 14:23] jaythrive commented on #924
Hello,

We are also encountering this issue. We posted a comment about this here: https://wordpress.org/support/topic/the-following-tables-are-not-present/ (#2 comment)

We were told to try report it here instead.

Thanks.

[2019-02-06 16:02] dkotter opened #998 "Reported XSS issue"
We recently had a site audited for security and one of the reports that came back was a potential XSS issue that originated within Stream. Diving into this further, for the live update functionality that fires on the main Stream page, there's some code that fires using the heartbeat functionality.

Within that, there's a `wp-stream-heartbeat-query` param. This is some JSON data that is then built

[2019-02-13 20:24] jeremybyingtonbrightonagency opened #1000 "The following tables are not present in the WordPress database: BLAH_stream, BLAH_stream_meta"
I just added your plugin to my local environment and then to a remote staging environment in Azure and I am only getting this error in the Azure setup. When I look at the tables, they were created successfully, but the MySQL configuration. To get past the error I tried manually creating the tables and I get this message:

_The server is configured with lower_case_table_names=1, which only allows l

[2019-02-14 18:53] cfxd commented on #885
For anyone else interested in doing this... the `plugins_loaded` hook actually fires before themes are loaded, so if you're placing this code inside `functions.php` then it will not fire. I recommend instead that you use the `after_setup_theme` hook.

[2019-02-15 19:15] dkotter commented on #998
Wondering if there will be any movement on this? Deciding whether we need to run a patched version or if we can wait for this to be updated here? Thanks!

[2019-03-21 23:58] madrid1979 opened #1001 "Is this plugin still in active development?"
Would be nice to know if this is a dead project. Anyone? Bueller?

[2019-04-11 16:21] Klsneha commented on #842
Hi Luke, how do I register  connector. I have created a custom connector class and followed the steps given in the wiki of creating custom connecor. Unable to register the connector. What do you mean by To register a Connector, hook into the wp_stream_connectors filter from inside your plugin.

[2019-04-11 16:35] lkraav commented on #842
Example

[code]

[2019-04-23 19:23] dkotter commented on #998
Any update here? Seems like a simple fix to get in. We currently are running a patched version of this plugin on a site and would be nice to be able to get back to running the main version.

[2019-04-23 19:47] lkraav commented on #998
Upstream is very slow here, unfortunately. I just pulled your branch and picked this patch for my platform Stream copy, tyvm :+1:

[2019-05-07 01:38] greggh commented on #1001
I came to ask the same question.

[2019-05-07 13:34] lkraav commented on #1001
It's been struggling for resources for a while. Not clear what can happen next, when.

[2019-05-11 10:32] lkraav opened #1002 "Exclude Action Scheduler post and comment types"
Now that AS is part of WooCommerce, its usage surface rises rapidly.

This machine processing posts are all getting logged by Stream, highly likely creating a huge amount of noise.

I would propose to exclude them from processing as the shipped default.

[code]

[2019-05-20 08:19] tyrann0us commented on #1001
According to https://wordpress.org/support/topic/notice-undefined-index-ip_address-in-classes-class-log-php-on-line-204/#post-11536134, @lukecarbis, who made many commits, no longer works for @xwp.

[2019-05-20 08:31] valendesigns commented on #1001
We’re discussing how to best support the plugin internally. I’ll have an update on how we’re going to proceed this week. Sorry for any issues this may be causing.

[2019-05-20 08:33] lkraav commented on #1001
This plugin is good enough to try a paid business model again. I would subscribe for sure (already spending x thousand $ / year on plugin subscriptions).

Just without the cloud part, that was attempted last time.

[2019-05-24 17:50] greggh commented on #1001
I would definitely pay a yearly fee to make sure this stayed up to date.

[2019-05-27 07:56] tyrann0us commented on #1001
@valendesigns, it's been a week. Do you have an update for us? Thanks!

[2019-05-28 23:27] madrid1979 commented on #1001
Problems...

[2019-05-28 23:41] valendesigns commented on #1001
I haven't found a new internal owner for the project yet. However, I will attempt to fix a few of the more pressing bugs over the next week or so.

[2019-05-29 15:45] greggh commented on #1001
@valendesigns The fixes are awesome to hear. Has any thought been put into a paid model? This is one of those plugins that I just need working. I don't need much in the way of new features, or updates. Only bug fixes, compatibility fixes, and updates to keep up with WordPress's changing versions. So standard maintenance. I would pay for that.

[2019-05-29 17:59] madrid1979 commented on #1001
As per @greggh, I would be 100% on-board with paying for this plugin to help keep active development going.

[2019-06-06 12:15] teljair commented on #1001
I would like to note that I've just heard about this plugin and would pay for it. Especially with the Slack integration.

[2019-06-13 15:34] greggh commented on #904
Hey @johnolek I just ran into this same problem. Any chance you have that filter code laying around still?

[2019-06-13 17:29] johnolek commented on #904
Hey @greggh,

Sorry for not including it to begin with! Here's what we used:
[code]

[2019-06-13 17:30] greggh commented on #904
That's awesome, thanks for the fix.

[2019-06-18 13:18] kasparsd opened #1005 "Add wp-dev-lib as a proper dependency instead of a Git submodule"
[wp-dev-lib](https://github.com/xwp/wp-dev-lib) is now being versioned properly and is available both as an npm or Composer package.

[2019-06-20 09:49] #998 closed

[2019-06-20 10:28] kasparsd opened #1007 "JS error: streamAlertTypeHighlight is not defined"
Uncaught ReferenceError: streamAlertTypeHighlight is not defined
https://example.com/wp-admin/admin.php?page=wp_stream line 132

[2019-06-21 07:50] kasparsd opened #1009 "Bump minimum required WP to 4.5"
See https://wordpress.org/support/topic/not-compatible-with-3-9-only-4-5-and-up/

[2019-06-21 07:56] kasparsd opened #1010 "Undefined index: ip_address in […]classes/class-log.php on line 204"
See https://wordpress.org/support/topic/notice-undefined-index-ip_address-in-classes-class-log-php-on-line-204/

[2019-06-21 11:37] kasparsd commented on #1007
Fixed in #1008.

[2019-06-21 11:37] #1007 closed

[2019-06-24 18:25] kasparsd opened #1012 "is_network_activated() undefined in class-network.php line 94"
See https://wordpress.org/support/topic/technical-issue-7/

![zvf5JPw-1](https://user-images.githubusercontent.com/169055/60042421-6002d480-96c6-11e9-87cf-6f510a81d656.png)

Probably related to #1003.

[2019-06-26 23:42] tareiking opened #1013 "Add filter for cron check"
We use WP Stream, but have replaced native WP Cron with [HM Cavalcade](https://github.com/humanmade/Cavalcade). Part of installing cavalcade is setting `DISABLE_WP_CRON` to false (and allow cavalcade to run cron in parallel instead.

However, the [cron check](https://github.com/xwp/stream/blob/dd2f5809236d4849967a8ad860548a45b981ba4f/includes/functions.php#L123) in stream doesn't allow us to overr

[2019-06-27 19:07] valendesigns commented on #1001
Development has resumed. Plans to offer this as a product are being discussed and we will update the repo if there is any movement on that. Closing this issue for now.

[2019-06-27 19:07] #1001 closed

[2019-07-01 09:10] kasparsd commented on #1012
Closing since we couldn't replicate the issue. Feel free to re-open if there are known steps to reproduce this.

[2019-07-01 09:10] #1012 closed

[2019-07-01 09:11] kasparsd opened #1014 "Change mentions of wp-stream/stream and x-team/stream to xwp/stream"
Mostly in the changelog section of the readme.

[2019-07-01 09:17] kasparsd opened #1015 "Introduce a local development environment"
Add `docker-compose.yml` which defines the following environments:

- WordPress single site
- WordPress multisite (sub-directory)

[2019-07-12 05:56] kasparsd commented on #1015
Fixed in #1016.

[2019-07-12 05:56] #1015 closed

[2019-07-12 05:57] kasparsd commented on #1005
Fixed in #1006.

[2019-07-12 05:57] #1005 closed

[2019-07-12 06:28] kasparsd opened #1018 "Fix file permissions for the local development environment to allow plugin installs"
WordPress doesn't appear to have permissions to install plugins:

![local-dev-permissions](https://user-images.githubusercontent.com/169055/61106731-ad34c380-a486-11e9-9833-fbb73ad96dc4.png)

while the image upload works file.

Here are the permissions of files inside the WordPress container:

[code]

This is probably caused by the directory mapping of the plugin:

 https://github.com/xwp/stream/b

[2019-07-12 15:32] #1018 closed

[2019-07-13 06:02] #1009 closed

[2019-07-18 00:21] #984 closed

[2019-07-19 08:08] kasparsd opened #1025 "Docker can't build our image because of missing packages"
The PHP Docker reference image used in WordPress images have been updated to Debian Buster https://github.com/docker-library/php/pull/861 and the `mysql-client` and `ssmtp` are no longer available.

[2019-07-19 09:41] #1025 closed

[2019-07-25 07:58] kasparsd commented on #959
I think the option to track cron events shouldn't be tied to the state of `DISABLE_WP_CRON` since that applies to the front-end CRON feature only and not cron jobs in general.

[2019-07-25 08:26] #959 closed

[2019-07-25 08:31] kasparsd commented on #1013
Fixed in #1029.

[2019-07-25 08:31] #1013 closed

[2019-07-25 08:46] kasparsd commented on #1013
Version 3.4.1 has been released.

[2019-07-25 08:46] kasparsd commented on #959
Version 3.4.1 has been released, thanks for reporting the issue @khromov!

[2019-07-31 21:11] slaFFik opened #1031 "PHP Warnings on Exclude rules page"
# Bug Report
WordPress Multisite 5.2.2.

When opening this page `/wp-admin/network/admin.php?page=wp_stream_network_settings` I see these errors:

[code]

## Expected Behavior

No errors.

## Actual Behavior

Describe what actually happens.

## Steps to Reproduce the Problem

1. Clean installation of the WPMS 5.2 on PHP 7.3
2. Network activate the plugin
3. Go to Exclude tab.

## Screenshots

![im

[2019-07-31 21:17] slaFFik opened #1032 "Settings > Exclude - can't create rules"
# Bug Report

## Expected Behavior

I want to be able to create a rule.

## Actual Behavior

When I click Add New Rule - no interface to add a rule. Instead the table gets a new "no rules" row.
Might be related to #1031 (on the same page).

## Screenshots

![Screen Recording 2019-08-01 at 12 14 22 38 AM](https://user-images.githubusercontent.com/282234/62248740-83215200-b3f1-11e9-99cf-7fd5454c6186

[2019-09-23 06:46] tyrann0us commented on #1010
@kasparsd, are there any updates on this issue? Thanks!

[2019-09-23 06:47] kasparsd commented on #1010
@tyrann0us I haven't been able to replicate the issue, yet.

[2019-09-23 13:27] tyrann0us commented on #1010
The bug can be reproduced by following these steps:
1. Create multisite
2. Activate plugin network-wide
3. Go to Stream's network settings
4. Add exclude rule but keep IP address dropdown empty
5. Save settings
6. Edit any user in backend
7. Save user

The bug is caused because empty select fields aren't submitted, which is the case in Stream's settings page. Thus, the `wp_stream_network` site met

[2019-09-23 13:50] kasparsd commented on #1010
This is great, thank you so much for the detailed steps.

[2019-09-23 13:53] tyrann0us commented on #1010
Note that the plugin does not correctly save multiple lines of exclude rules if some of them contain empty IP adresses. I think this is related to missing empty `ip_address` keys.

[2019-09-23 16:13] kasparsd commented on #1031
This will be fixed along with #1010 in #1034.

[2019-09-23 17:12] kasparsd commented on #1010
@tyrann0us Could you please test the #1034 changeset by checking out the `fix/ip-address` branch?

[2019-09-24 11:58] tyrann0us opened #1035 "IP addresses in exlude rules not saved correctly"
# Bug Report

## Expected Behavior

Exclude rules should be saved correctly, even if some of them do not contain IP addresses.

## Actual Behavior

If there are multiple exclude rules and some of them have no IP address(es) set, settings are not saved correctly. The set IP addresses are then assigned to the wrong authors or roles, because they are displayed one after the other, ignoring whether an

[2019-09-24 12:00] tyrann0us commented on #1010
LGTM. The warning cannot be reproduced. Thanks!

However, the issue of incorrectly stored exclude rules if some of them have not set IP addresses (see my comment above) is still not resolved and therefore probably not associated with this bug.
I have created a new issue for this: #1035.

[2019-09-26 07:24] #1010 closed

[2019-09-26 07:25] kasparsd commented on #1031
Fixed in #1034 and will be included in the next point release.

[2019-09-26 07:25] #1031 closed

[2019-09-26 07:27] kasparsd commented on #1032
Thanks for reporting the issue @slaFFik!

Could you please try the `develop` branch now which includes the fix for removing the warnings. Maybe those warnings were messing with the JS required for adding the rows.

[2019-09-26 07:34] kasparsd commented on #1035
Thanks for the reporting the issue @tyrann0us!

I could replicate the issue and it's probably caused by the way the form uses non-indexed input field names `name[]` which fails when some of them have an empty value.

[2019-09-26 10:47] kasparsd commented on #1035
@tyrann0us Could you please test with the `fix/1035-exclude-rules-table` branch? You will probably need to run `npm run build` to re-build the minified JS files with the latest changes.

[2019-09-26 10:51] #1035 closed

[2019-09-26 11:48] kasparsd commented on #1032
@slaFFik Could you please test with the latest version 3.4.2 which is now on WP.org?

[2019-09-26 11:56] slaFFik commented on #1032
@kasparsd
I've tested 3.4.2 - no errors and I can finally create rules. Thank you!

[2019-09-26 11:56] #1032 closed

[2019-10-18 01:20] greggh opened #1039 "WP Rocket and Imagify both flood my Stream with entries."
I would like to stop both plugins from being logged in stream. I found @bhwebworks code for using **wp_stream_record_array** but I am unsure how to get the right entries to create the actual code.

His examples for Backup Buddy and Jetpack are great. But  how do I convert the 2 types of entries in the screenshots here, into the options string I need to make that code work for WP Rocket and Imagify

[2019-10-18 12:44] greggh commented on #1039
@bhwebworks helped and I got it working. To stop WP Rocket and Imagify from doing large runs of entries into the database here is the code to add to his functions over here: https://gist.github.com/bhwebworks/11384243

[code]

[2019-10-18 12:44] #1039 closed

[2019-11-09 18:20] strarsis opened #1040 "Wonolog support?"
Is support for [Wonolog](https://github.com/inpsyde/Wonolog) planned?
This makes it much easier for plugins to log in a unified way.

[2019-11-13 12:24] kasparsd commented on #1040
Thanks for opening the issue @strarsis! I hadn't seen Wonolog before -- it looks like a great tool.

I some way it is very similar to Stream in providing the logging functionality but it doesn't include the UI for the records and requires developers to setup the log points.

I really like the concept of `context` in Wonolog which supports an array of data instead of just the strings as in Stream.

[2019-11-13 14:13] strarsis commented on #1040
@kasparsd: Yes, IMHO `wonolog` should be used as an internal, unified logging mechanism for core and plugins to be used, while plugins like `Stream` can additionally hook into `wonolog` and provide a UI, log storage mechanism and other features like email alerts. The advantage is that new plugins just can use `wonolog` and don't need to handle different audit/logging plugins and versions and the a

[2019-11-13 14:14] lkraav commented on #1040
Whatever the platform choice, I fully support the idea of "we need a unified logging platform".

[2019-11-13 14:16] strarsis commented on #1040
A [notification API is proposed for WordPress core](https://make.wordpress.org/core/2016/10/03/feature-project-proposal-notifications-api/), the same would be nice for logging.

[2019-11-13 14:18] lkraav commented on #1040
Ha, and looks like I've advocated for Stream right there, back in 2016 https://make.wordpress.org/core/2016/10/03/feature-project-proposal-notifications-api/#comment-31197

But https://github.com/xwp/stream/issues/762 died.

[2019-11-13 14:22] strarsis commented on #1040
@lkraav: Maybe it will work this time using `monolog`. 😸

[2019-12-04 06:11] nprasath002 opened #1041 "Help Screen filters are not working properly"
# Bug Report

## Expected Behavior
When clicking the help screen columns it should hide/show appropriate filters and columns

<img width="1477" alt="Screen Shot 2019-12-04 at 11 37 09 AM" src="https://user-images.githubusercontent.com/581008/70117064-773ce980-168a-11ea-8e4b-707c4b01ef92.png">

## Actual Behavior
Column show/hide works as expected. However, filters are not. If you uncheck action ch

[2019-12-31 06:55] sgregori commented on #908
Tested at 2019, but Gravity Forms integration still no working.

View, download, or update from admin view isnt listed at stream log.

[2020-01-03 05:58] nprasath002 opened #1043 "Stream db query args not working"
There is a filter in stream `wp_stream_query_args` to pass query arguments. However passing `record__in` property to the arguement does not work. Looking at the function query

[code]

Specifically line `$field = str_replace( array( 'record_', '__in' ), '', $key );`
For key `record__in` this would return `__in` not empty as intended.

<img width="895" alt="Screen Shot 2020-01-03 at 11 27 20 AM" sr

[2020-01-03 06:18] nprasath002 opened #1044 "Add a filter to where db clause"
Stream allows us to modify the final query via `wp_stream_db_query`. It would be helpful to have separate filters for `$where` and `$join` clauses. Otherwise its hard to coordinate multiple where and join queries added . by separate plugins.

A use case for this is multiple plugins can add multiple filters to stream (based on meta value etc). A plugin may not be aware the way query was modified so

[2020-01-03 06:32] nprasath002 commented on #1043
Created a quick PR for this https://github.com/xwp/stream/pull/1045

[2020-01-03 10:47] lkraav commented on #1043
Did you check open PRs? We've been working on it with @kasparsd for a while #977 #1011 unfortunately some missing plumbing systems (testing) have prevented this from landing.

[2020-01-28 13:16] kasparsd opened #1050 "Some actions for subscriber and contributor user roles don't show up"
See https://wordpress.org/support/topic/user-not-tracked-on-wp-multisite/

Confirmed with a contributor user capability:

<img width="919" alt="subscriber" src="https://user-images.githubusercontent.com/169055/73267180-2b697500-41e1-11ea-8087-7102062c2bda.png">

[2020-02-14 10:49] Nikschavan opened #1051 "Connector "blogs" is added to all searches on a multisite if any sub-sites has a non-english site title"
#### Bug Report

If anyone of the subsites in a network has a non-english site title, Clicking "Search Records" in stream records auto-selects "blogs" as a connector.

Here is a video demonstrating the bug - https://share.getcloudapp.com/d5u0l5YE

#### Expected Behavior
Clicking "Search Records" should not auto-select a connector as that limits the actual search results.

**Here is what I found af

[2020-03-09 00:09] tareiking commented on #929
@sammysickweb - I know this is a really old issue, but do you know whether you had more than 50 users on your site?

By default: https://github.com/xwp/stream/blob/develop/classes/class-admin.php#L109 sets a limit of 50 users and is suppose to get initial results via ajax, but my limited testing so far indicates, this is not ajax request is not triggered.

@prowp - I also fail the nonce check and

[2020-03-09 05:25] daveglines commented on #929
Definitely more than 50 users. We have 1600+ users on our site. Would
really like this fixed if possible. Still does not work for us.

DG

On Sun, Mar 8, 2020 at 7:09 PM Tarei King <notifications@github.com> wrote:

[2020-03-17 09:50] roborourke opened #1054 "Releases are not built - Travis deployment bug"
# Bug Report

Looking at the Travis CI config it appears that the `deploy` section is intended to update the released tags on Github with the built version. Fetching the plugin via composer right now requires an additional build step.

[code]

The problem is that by using `branches: only` builds _only_ happen on these branches, tags are excluded so by setting `deploy: on: tags: true` this effectiv

[2020-03-19 18:05] kasparsd opened #1056 "Old records are not being removed"
From https://wordpress.org/support/topic/old-records-are-not-being-removed/

Duplicate reports:

- https://wordpress.org/support/topic/records-not-automatically-deleting/

[2020-03-19 18:14] kasparsd commented on #1054
Thank you for opening the issue!

Looks like we never got the Travis CI to create the plugin bundles and upload them to GitHub releases. I'm not even sure the current deploy workflow for `releases` would work because it doesn't create a ZIP file which is expected by that deploy workflow.

We would probably want to add a dedicated `release` command to `scripts` in `package.json` which does the buil

[2020-03-19 20:00] #1054 closed

[2020-03-19 21:06] #929 closed

[2020-03-20 07:01] kasparsd opened #1073 "Composer packages still missing built assets"
The Composer package [available on Packagist.org](https://packagist.org/packages/xwp/stream) syncs with this GitHub repository and it uses the default source zip bundle instead of our custom release package.

One solution is to use `wpackagist-plugin/stream` from the [WordPress packagist](https://wpackagist.org/search?q=stream).

Another solution is to introduce a custom distribution repository th

[2020-03-20 11:34] roborourke commented on #1054
Ah I see, I thought it maybe just pushed the built directory to the tag. Thanks @kasparsd !

[2020-04-14 17:13] TimothyBJacobs opened #1078 "Support ignoring certain options or option keys"
# Feature Request

Stream has a [concept of ignored options](https://github.com/xwp/stream/blob/88317c6149f9a75d53db95c2cf5f10654a4b5a71/connectors/class-connector-settings.php#L338) but the list of options to ignore is static.

Some options are updated frequently by an automated fashion, not in response to a user action. This can lead to cluttered stream logs that aren't relevant to the end user.

[2020-04-16 14:51] lkraav commented on #1002
I would still do this @kasparsd  :point_up: Action Scheduler files a ton of utility comments

[2020-04-16 15:18] lkraav opened #1080 "3.4.3: prevent `DB_Driver_WPDB::insert_record()` from inserting empty meta values"
My platform Stream database is growing large, `wp_stream_meta` contains 63M rows.

# Bug Report

Analysis with

[code]

shows about 20-25% are rows with empty `meta_value`, which to me looks like pure database bloat.

## Expected Behavior

`wp_stream_meta` should only contain rows with non-empty `meta_value`.

On read, any such parameters can simply be displayed empty in code.

## Actual Behavior

[2020-04-16 15:28] kasparsd commented on #1002
Sounds good to me @lkraav! Is there an existing place to add these? Could we check for the presence of AS before adding these filters just to make sure we're not excluding some custom post types with the same name?

[2020-04-16 15:31] kasparsd commented on #1080
Thanks for reporting the issue @lkraav!

I wonder if this is somewhat related to #1056 -- would the regular cleanup get rid of those entries?

Skipping entries with `'' === $val` sounds like a good approach to me.

[2020-04-16 15:45] lkraav commented on #1078
As I just disabled `settings` connector completely exactly for "too much noise" reason, I think this issue is very relevant.

Filtering the key list makes perfect sense.

[2020-04-16 15:47] lkraav commented on #1080
I have disabled cleanup - this platform's usage history is required to be stamped for eternity.

[2020-04-16 15:59] kasparsd commented on #1078
This is a great idea @TimothyBJacobs!

How about a filter on the output of `is_option_ignored()`:

[code]

[2020-04-16 16:01] kasparsd commented on #1050
This has been fixed in #1052.

[2020-04-16 16:01] #1050 closed

[2020-04-16 16:15] lkraav opened #1081 "3.4.3: debounce AJAX select elements, avoid server overload - followup #1052"
Followup to #1052

# Bug Report

One AJAX request is triggered for every keypress on Users dropdown.

My platform site currently has 15000 users, this is a real query bomb if you type a whole e-mail in there to try to narrow it down.

## Expected Behavior

Select element should only trigger query after probably 0.5s has passed after last keystroke.

## Steps to Reproduce the Problem

1. Open Netwo

[2020-04-16 16:24] kasparsd commented on #1081
Is the input field using the select2 input wrapper? I wonder if they provide throttling out of the box for this and we just haven't enabled it.

[2020-04-16 17:19] lkraav commented on #1081
Yep, it's Select2. And this is what we did in Sensei https://github.com/Automattic/sensei/pull/2282/files super simple.

[2020-04-17 01:45] TimothyBJacobs commented on #1078
That’d work great!

[2020-04-18 11:31] lkraav commented on #1080
I wonder if `insert_meta()` could or should also be batched? I think it's currently doing multiple separate INSERTs?

[2020-04-19 01:52] oscarssanchez commented on #1081
Hi there, I can confirm this takes down a site with 30k users. Solution proposed by @lkraav works for me.

[2020-04-19 06:47] #1081 closed

[2020-04-21 13:57] ash7842 opened #1083 "Users"
Hello, is it possible for Stream to be able to track users from over the years on your platform? if so, how can you access this info?

or is it only for future data? Thank you!

[2020-04-21 14:29] mehigh commented on #1083
Hello ash. The stream saves in your local database the changes users make to your website while the Stream plug-in is active. It achieves that by hooking into events and saving that data in a way where administrators can easily browse through it.

[2020-04-21 14:29] #1083 closed

[2020-04-22 10:45] lkraav commented on #1056
I can confirm, this is happening on one of our client site as well. Oldest records available are now from 2016. This site was not intended to have an eternal memory.

[2020-04-22 10:53] lkraav commented on #1080
https://wordpress.stackexchange.com/questions/136613/wpdb-insert-multiple-record-at-once this seems relevant for batching INSERTs. It looks like `$wpdb->insert()` does not support batching natively, but we craft a multi-VALUE query instead:

[code]

[2020-04-22 11:29] lkraav commented on #1080
Added example key list with empty values in opening comment.

[2020-04-24 11:33] Nikschavan opened #1084 "Provide a filter when a filter for the data being inserted in the stream log"
Delete the section that is not applicable:

# Feature Request

A filter to modify the `$recordarr` variable before being inserted into the database will be very helpful.

https://github.com/xwp/stream/blob/33dcfa86932bffdc11cbf3ade3da73a38cd4818e/classes/class-log.php#L146

A use case we have is - We are processing a posts created by a user after the user is deleted. If the user is deleted from th

[2020-04-24 11:34] Nikschavan commented on #1084
I can provide a pull request if this is accepted as a solution.

[2020-04-24 21:51] oscarssanchez commented on #1051
It looks like the foreign sites will not be able to be selected as a result of this bug on my testing. @kasparsd since the value is later escaped: https://github.com/xwp/stream/blob/develop/classes/class-list-table.php#L780 as well as label: https://github.com/xwp/stream/blob/develop/classes/class-list-table.php#L787 and it seems this is not getting saved into the DB, perhaps removing `sanitize_ke

[2020-04-25 10:44] lkraav commented on #1051
You could certainly submit the PR so it'd be easy to take a look. Otherwise it'll just get stuck here.

[2020-04-25 14:04] Nikschavan opened #1085 "Provide a filter in Connector_Posts to handle $summary for the custom post statuses."
Delete the section that is not applicable:

### Feature Request

By default for any custom post status changes, a default message is added which does not describe the actual change that was made, with a filter, we can manage custom messages to handle post-status changes.

https://github.com/xwp/stream/blob/33dcfa86932bffdc11cbf3ade3da73a38cd4818e/connectors/class-connector-posts.php#L242-L246

[2020-04-28 01:59] oscarssanchez commented on #1051
Sounds like a good idea @lkraav  !

[2020-05-03 18:15] lkraav commented on #1080
I monkey-patched my live Stream copy to avoid inserting empty meta values something like 1 week ago.

Zero ill effects, everything still works.

I think it's probably safe to do.

[2020-05-04 06:40] kasparsd commented on #1080
Thank you for testing @lkraav!

What are your thoughts on https://github.com/xwp/stream/pull/1038 -- it touches the same lines and I'm not sure why the meta naming logic is like it is right now. Can you please share your opinion on that changeset?

[2020-05-25 05:15] #1051 closed

[2020-05-28 15:25] kidunot89 opened #1090 "Improve PHP documentation"
# Feature Request
PHP Documentation for Stream is kinda lack in some areas, here are some improvements that can and should be make to improve the readability of the code.

- Fill in incomplete and missing PHP Doc Blocks.
  - [Example](https://github.com/xwp/stream/blob/develop/classes/class-record.php)
  - [Example](https://github.com/xwp/stream/blob/develop/classes/class-list-table.php#L74-L238)

[2020-05-28 19:40] kasparsd opened #1091 "Incorrect Date and Time"
See https://wordpress.org/support/topic/incorrect-date-and-time/

[2020-05-28 20:49] kidunot89 opened #1093 "Improve Test Coverage"
# Feature Request

The alert and connector class have little to now coverage.
- Alert types
  - ![image](https://user-images.githubusercontent.com/13604318/83191700-6f727500-a102-11ea-817c-8d49201aa386.png)
- Connectors
  - ![image](https://user-images.githubusercontent.com/13604318/83191612-510c7980-a102-11ea-96bd-afdc5d7b76bb.png)

The plugin core classes have better coverage, but still aren't t

[2020-06-11 07:31] #1090 closed

[2020-06-11 08:07] kasparsd opened #1106 "Use specific WordPress coding standard ignore flags"
Replace all generic `@codingStandardsIgnoreLine` comments with specific `// phpcs:ignore RULE_NAME` flags to indicate which rules are being ignored and why. This should help developers to understand the severity of the issues and ways to fix it.

[2020-06-12 19:48] kopepasah opened #1108 "Composer consistently hits the 300 second timeout when running first time setup."
# Bug Report

When running the setup on a fresh install (and not having WordPress Develop cached in Composer), Composer consistently hits the 300s timeout due to the large size of WordPress Develop (and probably in cases where internet speeds may be a bit slower).

## Expected Behavior

Running install for the first time should not timeout.

## Actual Behavior

Composer hits the 300s timeout.

##

[2020-06-12 19:58] kopepasah commented on #1108
While there is not specific fix for the timeout, it is helpful for future developers to quickly see the information in contributing.md. I added a little note in #1109

[2020-06-12 22:06] kopepasah commented on #1085
Hey @Nikschavan! Thanks so much for the suggestion.

Actually, I think what you want to do is already possible via the `wp_stream_log_data` filter found [here](https://github.com/xwp/stream/blob/master/classes/class-connector.php#L112).

Something like this, for example, would set a message status when a status has been updated:

[code]

Let me know if this does not solve your issue.

[2020-06-12 22:20] kopepasah commented on #1084
Hello again @Nikschavan! 👋🏻

You can modify the record array and I believe the filter you need here is `wp_stream_record_array`: https://github.com/xwp/stream/blob/33dcfa86932bffdc11cbf3ade3da73a38cd4818e/classes/class-db.php#L47

Let me know if that is not for what you are searching! 🙂

[2020-06-12 22:28] kopepasah commented on #1078
@kasparsd it might make more sense to just filter the static array:

[code]

[2020-06-13 10:30] lkraav commented on #1078
What are y'all thoughts on blocklist vs allowlist here?

Options are a massive noise problem, because there's so many different keys.

Perhaps site operators would only want to monitor a system-critical, and/or site-specific option key set.

Doesn't have to be part of this issue's solution, but throwing it out there before I forget.

[2020-06-13 10:31] lkraav commented on #1085
Sure, but wouldn't everybody (those that care about post status changes) want this?

[2020-06-15 22:00] kopepasah commented on #1078
@lkraav now that you mention it, I think the idea of an allow/disallow would be most beneficial and Kaspar's suggestion would cover that functionality as well.

[2020-06-16 19:40] kopepasah commented on #1085
@lkraav are you recommending that we need to add the status changes to the log by default? If so, I feel that would need a separate issue for discussion.

[2020-06-16 20:08] kopepasah commented on #1078
I pushed up a change which filters the return value `is_option_ignored()`. This change will allow easily creating lists of allow/disallow options.

Side note, options can be completely turned off and on by using either of these (respectively):
[code]
or
[code]

[2020-06-16 20:58] #1108 closed

[2020-06-17 09:42] #1078 closed

[2020-06-24 05:22] kopepasah commented on #1073
So I researched and mulled this over, and while the above solutions are no doubt a pathway to allowing developers to consume Stream more easily through Composer, I feel an in-house and portable solution involving a custom Composer Plugin to control the download location could best solve this challenge. Essentially, the plugin will hook into the `pre-install` event and change the download url to th

[2020-06-24 16:19] ashicus opened #1119 "Date filtering is off by one day"
# Bug Report

## Expected Behavior

When filtering logs by date, the returned results should be for the selected date.

## Actual Behavior

When filtering logs by date, the returned results are from on day after the selected date.

## Steps to Reproduce the Problem

1. Log out, and then log back in to WordPress (to generate some fresh records)

2. Filter records by "Today" and see that the login e

[2020-06-29 22:16] kidunot89 commented on #1119
@ashicus Could you reconfirm this issue? While I was able to recreate the issue days ago. When I returned to it to day, I wasn't able to recreate the issue.